Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Remove acceptance marker from the test test_rbd_thick_provisioning (#5123)
  tests/manage/pv_services/test_rbd_thick_provisioning.py
Owners: @red-hat-storage/green-squad

Remove acceptance marker from the test test_rbd_thick_provisioning (#5123)
  tests/manage/pv_services/test_rbd_thick_provisioning.py
Owners: @red-hat-storage/green-squad

UI deployment, Added refresh page [popUI]
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Replace operator sign from <= to >=
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

Couchbase workload new implementation (#5108)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/couchbase_new.py
  ocs_ci/ocs/pillowfight.py
  ocs_ci/templates/workloads/couchbase_new/pillowfight/basic-pillowfight.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-operatorgroup.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-subscription.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-data-bucket.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker-secret.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker.yaml
  tests/conftest.py
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Couchbase workload new implementation (#5108)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/couchbase_new.py
  ocs_ci/ocs/pillowfight.py
  ocs_ci/templates/workloads/couchbase_new/pillowfight/basic-pillowfight.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-operatorgroup.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-subscription.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-data-bucket.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker-secret.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker.yaml
  tests/conftest.py
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

UI deployment, Added refresh page [popUI] (#5124)
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

UI deployment, Added refresh page [popUI] (#5124)
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

add test_ceph_osd_stopped_pd
  tests/manage/monitoring/pagerduty/test_deployment_status.py
Owners: @red-hat-storage/blue-squad

skip validate_cluster_on_pvc check for managed service
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

update noobaa health check
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

change pagerduty secret name
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

skipping for odf version less than 4.9
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

skipping for odf version less than 4.9 (#5126)
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

skipping for odf version less than 4.9 (#5126)
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

update alert search
  ocs_ci/utility/pagerduty.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

fix request dependency
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

fix black
  ocs_ci/utility/workloadfixture.py
Owners: @red-hat-storage/top-level-reviewers

create conftest file for system testing
  ocs_ci/helpers/helpers.py
  tests/e2e/system/conftest.py
  tests/e2e/system/test_mcg_recovery.py
Owners: @red-hat-storage/top-level-reviewers

fix condition
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Fix flake8 issues
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix flake8 issues
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

fixing an error
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Skip running haproxy if version is >= 4.9
  ocs_ci/deployment/install_ocp_on_rhel.py
Owners: @red-hat-storage/top-level-reviewers

Skip running haproxy if version is >= 4.9
  ocs_ci/deployment/install_ocp_on_rhel.py
Owners: @red-hat-storage/top-level-reviewers

Adding RHEL_MAJOR_OS to scale_up_terraform.tfvars file
  ocs_ci/deployment/helpers/vsphere_helpers.py
  ocs_ci/deployment/vmware.py
  ocs_ci/templates/ocp-deployment/scale_up_terraform_with_folder_structure.tfvars.j2
Owners: @red-hat-storage/top-level-reviewers

Adding RHEL_MAJOR_OS to scale_up_terraform.tfvars file
  ocs_ci/deployment/helpers/vsphere_helpers.py
  ocs_ci/deployment/vmware.py
  ocs_ci/templates/ocp-deployment/scale_up_terraform_with_folder_structure.tfvars.j2
Owners: @red-hat-storage/top-level-reviewers

rename haproxy and reload
  ocs_ci/deployment/install_ocp_on_rhel.py
  ocs_ci/deployment/vmware.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/ocp-deployment/inventory_haproxy.yaml.j2
  ocs_ci/utility/load_balancer.py
Owners: @red-hat-storage/top-level-reviewers

rename haproxy and reload
  ocs_ci/deployment/install_ocp_on_rhel.py
  ocs_ci/deployment/vmware.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/ocp-deployment/inventory_haproxy.yaml.j2
  ocs_ci/utility/load_balancer.py
Owners: @red-hat-storage/top-level-reviewers

Update RHCOS template for OCP 4.9
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.10-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-config.yaml
Owners: @red-hat-storage/top-level-reviewers

Remove old couchbase workload code
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/couchbase.py
  ocs_ci/templates/workloads/couchbase/server/MutatingWebhookConfiguration.yaml
  ocs_ci/templates/workloads/couchbase/server/ValidatingWebhookConfiguration.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionClusterRole.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionClusterRoleBinding.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionDeployment.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionSecret.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionService.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionServiceAccount.yaml
  ocs_ci/templates/workloads/couchbase/server/basic-pillowfight.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbase-worker-example.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbase-worker-secret.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbaseCrd.yaml
  ocs_ci/templates/workloads/couchbase/server/operator-deployment.yaml
  ocs_ci/templates/workloads/couchbase/server/operator-role.yaml
  ocs_ci/templates/workloads/couchbase/server/pillowfight/basic-pillowfight.yaml
Owners: @red-hat-storage/top-level-reviewers

Changed log type
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers

PVC Bulk Clone Performance Test enhancement
  ocs_ci/ocs/resources/objectconfigfile.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_clone_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Resolved tox issues
  tests/e2e/performance/csi_tests/test_pvc_bulk_clone_performance.py
Owners: @red-hat-storage/grey-squad

Disable noobaa check for Manged service
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

retry mcg status check
  ocs_ci/ocs/resources/mcg.py
Owners: @red-hat-storage/top-level-reviewers

decrease retry
  ocs_ci/ocs/resources/mcg.py
Owners: @red-hat-storage/top-level-reviewers

lose loop BZ:1990031, Restart mgr pod while two mon pods are down
  tests/manage/z_cluster/test_restart_mgr_while_two_mons_down.py
Owners: @red-hat-storage/brown-squad

Update openshift_dedicated.py
  ocs_ci/deployment/openshift_dedicated.py
Owners: @red-hat-storage/top-level-reviewers

Couchbase workload new implementation - 4.8 (#5108)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/couchbase_new.py
  ocs_ci/ocs/pillowfight.py
  ocs_ci/templates/workloads/couchbase_new/pillowfight/basic-pillowfight.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-operatorgroup.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-subscription.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-data-bucket.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker-secret.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker.yaml
  tests/conftest.py
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
