Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

disconnected LSO installation on AWS
  conf/deployment/aws/upi_1az_rhcos_lso_3m_3w_disconnected.yaml
  conf/deployment/aws/upi_3az_rhcos_lso_3m_3w_disconnected.yaml
  ocs_ci/deployment/aws.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/utility/aws.py
Owners: @red-hat-storage/top-level-reviewers

disconnected LSO installation on AWS
  conf/deployment/aws/upi_1az_rhcos_lso_3m_3w_disconnected.yaml
  conf/deployment/aws/upi_3az_rhcos_lso_3m_3w_disconnected.yaml
  ocs_ci/deployment/aws.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/utility/aws.py
Owners: @red-hat-storage/top-level-reviewers

skip marker and mcg session fixutre usage
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/resources/mcg.py
  tests/manage/mcg/test_mcg_resources_disruptions.py
  tests/manage/mcg/test_write_to_bucket.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Increased the timeout for clone to 180sec per iteration
  tests/e2e/performance/csi_tests/test_pvc_bulk_clone_performance.py
Owners: @red-hat-storage/grey-squad

Updated PASTest baseclass from perftests.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_clone_performance.py
Owners: @red-hat-storage/grey-squad

Rebasing with master
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Rebasing with master
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Fixed tox issues
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Fixed tox issues
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Fix to teardown error in "test_pvc_bulk_creation_deletion_performance"
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Fix to teardown error in "test_pvc_bulk_creation_deletion_performance"
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

adding ES parameters to test_pod_reattachtime.py test (#5121)
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

adding ES parameters to test_pod_reattachtime.py test (#5121)
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

"ceph-volume_raw_list" file does not exist on ODF4.9
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Update RHCOS template for OCP 4.9 (#5129)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.10-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-config.yaml
Owners: @red-hat-storage/top-level-reviewers

Update RHCOS template for OCP 4.9 (#5129)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.10-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-config.yaml
Owners: @red-hat-storage/top-level-reviewers

move constants.VM_MAIN json file if it already exists
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

move constants.VM_MAIN json file if it already exists
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Noobaa rebuild: root-master-key secret deletion
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

added noobaa_db_backup_and_recovery function to test_mcg_recovery (#5119)
  tests/e2e/system/conftest.py
  tests/e2e/system/test_mcg_recovery.py
Owners: @red-hat-storage/top-level-reviewers

Add EUS config files
  ocs_ci/framework/conf/ocs_version/ocs-4.6-eus.yaml
  ocs_ci/framework/conf/ocs_version/ocs-4.7-eus.yaml
  ocs_ci/framework/conf/ocs_version/ocs-4.8-eus.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Add EUS config files
  ocs_ci/framework/conf/ocs_version/ocs-4.6-eus.yaml
  ocs_ci/framework/conf/ocs_version/ocs-4.7-eus.yaml
  ocs_ci/framework/conf/ocs_version/ocs-4.8-eus.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

address Petr's comments
  conf/ocsci/rosa.yaml
  ocs_ci/deployment/rosa.py
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

fix import error
  ocs_ci/deployment/rosa.py
Owners: @red-hat-storage/top-level-reviewers

address Elena's comment
  conf/ocsci/rosa.yaml
Owners: @red-hat-storage/top-level-reviewers

ROSA deployment (#5005)
  conf/ocsci/rosa.yaml
  docs/supported_platforms.md
  ocs_ci/deployment/factory.py
  ocs_ci/deployment/rosa.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/uninstall.py
  ocs_ci/utility/rosa.py
  ocs_ci/utility/utils.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

ROSA deployment (#5005)
  conf/ocsci/rosa.yaml
  docs/supported_platforms.md
  ocs_ci/deployment/factory.py
  ocs_ci/deployment/rosa.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/uninstall.py
  ocs_ci/utility/rosa.py
  ocs_ci/utility/utils.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Fix formatting
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix formatting
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Changes as per new OCP console
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

ODF dashboard validation changes as per new OCP console
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Make usage of constants more consistent
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Make usage of constants more consistent
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Remove old couchbase workload code (#5130)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/couchbase.py
  ocs_ci/templates/workloads/couchbase/server/MutatingWebhookConfiguration.yaml
  ocs_ci/templates/workloads/couchbase/server/ValidatingWebhookConfiguration.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionClusterRole.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionClusterRoleBinding.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionDeployment.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionSecret.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionService.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionServiceAccount.yaml
  ocs_ci/templates/workloads/couchbase/server/basic-pillowfight.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbase-worker-example.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbase-worker-secret.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbaseCrd.yaml
  ocs_ci/templates/workloads/couchbase/server/operator-deployment.yaml
  ocs_ci/templates/workloads/couchbase/server/operator-role.yaml
  ocs_ci/templates/workloads/couchbase/server/pillowfight/basic-pillowfight.yaml
Owners: @red-hat-storage/top-level-reviewers

Remove old couchbase workload code (#5130)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/couchbase.py
  ocs_ci/templates/workloads/couchbase/server/MutatingWebhookConfiguration.yaml
  ocs_ci/templates/workloads/couchbase/server/ValidatingWebhookConfiguration.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionClusterRole.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionClusterRoleBinding.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionDeployment.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionSecret.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionService.yaml
  ocs_ci/templates/workloads/couchbase/server/admissionServiceAccount.yaml
  ocs_ci/templates/workloads/couchbase/server/basic-pillowfight.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbase-worker-example.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbase-worker-secret.yaml
  ocs_ci/templates/workloads/couchbase/server/couchbaseCrd.yaml
  ocs_ci/templates/workloads/couchbase/server/operator-deployment.yaml
  ocs_ci/templates/workloads/couchbase/server/operator-role.yaml
  ocs_ci/templates/workloads/couchbase/server/pillowfight/basic-pillowfight.yaml
Owners: @red-hat-storage/top-level-reviewers

Enables to run test cases on MCG only deployment
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/helpers/sanity_helpers.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/utils.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

removing old code infavour of previous commit
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

removing old code infavour of previous commit
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Address Filip's comments
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Address Filip's comments
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers
