Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

wait until ceph health is OK between test iterations
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Fixes:4564
  ocs_ci/utility/uninstall_openshift_logging.py
Owners: @red-hat-storage/top-level-reviewers

Improve run_ibmcloud_cmd functionality
  ocs_ci/ocs/platform_nodes.py
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

Improve run_ibmcloud_cmd functionality
  ocs_ci/ocs/platform_nodes.py
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

Update ClusterObjectStoreState alert message for higher version (#4498)
  tests/manage/monitoring/prometheus/test_rgw.py
Owners: @red-hat-storage/blue-squad

Update ClusterObjectStoreState alert message for higher version (#4498)
  tests/manage/monitoring/prometheus/test_rgw.py
Owners: @red-hat-storage/blue-squad

Fix dictionary updation issue
  ocs_ci/ocs/defaults.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Prameterize kmsid and allow updating connectiondetails
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/defaults.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

disable ES from smallfile used in snapshot test (#4568)
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

disable ES from smallfile used in snapshot test (#4568)
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Added RGW restart count fixture into first running test
  tests/manage/monitoring/prometheusmetrics/test_monitoring_defaults.py
Owners: @red-hat-storage/blue-squad

Fix UI infra
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/utility/utils.py
  tests/conftest.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

added new test that run verify_rgw_restart_count_session fixture
  tests/manage/monitoring/prometheusmetrics/test_rgw.py
Owners: @red-hat-storage/blue-squad

first look
  tests/manage/pv_services/pvc_resize/test_pvc_expansion.py
Owners: @red-hat-storage/green-squad

black
  tests/manage/pv_services/pvc_resize/test_pvc_expansion.py
Owners: @red-hat-storage/green-squad

fixed conditions
  tests/manage/pv_services/pvc_resize/test_pvc_expansion.py
Owners: @red-hat-storage/green-squad

Fixes:4564 (#4572)
  ocs_ci/utility/uninstall_openshift_logging.py
Owners: @red-hat-storage/top-level-reviewers

Fixes:4564 (#4572)
  ocs_ci/utility/uninstall_openshift_logging.py
Owners: @red-hat-storage/top-level-reviewers

fix
  tests/manage/pv_services/pvc_resize/test_pvc_expansion.py
Owners: @red-hat-storage/green-squad

I removed the ceph_health_check() function
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/brown-squad

Revert #3928 and #4548 Since the current implementation on external mode is problematic, it'd probably be best to return to the old flow for the time being.
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/rgw.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Pushing attach_time results to ES for the performance-dashboard
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Emrgency fix for ripsaw operator
  ocs_ci/ocs/ripsaw.py
Owners: @red-hat-storage/top-level-reviewers

Fix dictionary issues in configmap update
  ocs_ci/ocs/defaults.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

test changes for DCO
  README.md
Owners: @red-hat-storage/top-level-reviewers

Fix for comment
  ocs_ci/ocs/node.py
Owners: @red-hat-storage/top-level-reviewers

Address Coady's comments: rename encryptionkmsid variable and exception message correction
  ocs_ci/helpers/helpers.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Prameterize kmsid and allow updating connectiondetails (#4571)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/defaults.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Prameterize kmsid and allow updating connectiondetails (#4571)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/defaults.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Workaround: Custom toolbox deployment for Multus enabled cluster
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Add comments and todo for the workaround
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

change the benchmark directory
  ocs_ci/ocs/ripsaw.py
Owners: @red-hat-storage/top-level-reviewers

Remove "ceph archive-all" command on teardown step Reset random osd pod
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/brown-squad

Adding original version in upgrade
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

skip template check for vSphere IPI
  ocs_ci/deployment/helpers/prechecks.py
Owners: @red-hat-storage/top-level-reviewers

Adjust tests in test_node_replacement_proactive.py to run on vSphere IPI (#4546)
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Adjust tests in test_node_replacement_proactive.py to run on vSphere IPI (#4546)
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Revert #3928 and #4548 (#4578)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/rgw.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Revert #3928 and #4548 (#4578)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/rgw.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Rebased with changes from performance
  ocs_ci/framework/pytest_customization/marks.py
  pytest.ini
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
