Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Add config file for multizone availability
  conf/deployment/rosa/ipi_3az_rhcos_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

fixing flake8 errors
  ocs_ci/ocs/exceptions.py
Owners: @red-hat-storage/top-level-reviewers

Re-try download noobaa CLI
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/resources/mcg.py
Owners: @red-hat-storage/top-level-reviewers

Re-try download noobaa CLI
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/resources/mcg.py
Owners: @red-hat-storage/top-level-reviewers

Fix selector for UI deployment for new catalogSource
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Fix selector for UI deployment for new catalogSource
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Wait for odf-operator to succeeded before creating storage system
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Wait for odf-operator to succeeded before creating storage system
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Removed the old polarion ID
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
Owners: @red-hat-storage/brown-squad

move the file to different directory
  template_test/Performance_template.py
Owners: @red-hat-storage/top-level-reviewers

delete the file from the tests directory
  tests/e2e/performance/Performance_template.py
Owners: @red-hat-storage/grey-squad

Fix for #4939
  ocs_ci/ocs/resources/packagemanifest.py
Owners: @red-hat-storage/top-level-reviewers

Test rolling shutdown and recovery of OCS worker nodes (#4804)
  tests/manage/z_cluster/nodes/test_rolling_shutdown_and_recovery.py
Owners: @red-hat-storage/brown-squad

Test rolling shutdown and recovery of OCS worker nodes (#4804)
  tests/manage/z_cluster/nodes/test_rolling_shutdown_and_recovery.py
Owners: @red-hat-storage/brown-squad

Fix storage_type parameteer in the test test_disruptive_during_pod_pvc_deletion (#4908)
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Owners: @red-hat-storage/green-squad

Fix storage_type parameteer in the test test_disruptive_during_pod_pvc_deletion (#4908)
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Owners: @red-hat-storage/green-squad

quay installation fix
  ocs_ci/ocs/quay_operator.py
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
Owners: @red-hat-storage/top-level-reviewers

fix ocs-osd-removal pod name, and add pattern of osd removal pod
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Automates BZ-1946573 (#4805)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Automates BZ-1946573 (#4805)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

remove skipif_ocs_version decorator
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

s3 head object implementation and cache test
  ocs_ci/ocs/bucket_utils.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_s3_ops_crd.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

fix
  ocs_ci/ocs/bucket_utils.py
Owners: @red-hat-storage/top-level-reviewers

Create a dict of ocs version, and it's matching pattern
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

fix ocs version, and pattern dict
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Fix ocs-osd-removal pod name for OCS 4.9 (#4943)
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Fix ocs-osd-removal pod name for OCS 4.9 (#4943)
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Limit MCG UI tests based on OCP version
  tests/manage/mcg/ui/test_mcg_ui.py
Owners: @red-hat-storage/red-squad

updating patch command
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Fixed timeout and cosmetic changes for scale tests
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Fix version comparison for LSO deployment
  ocs_ci/utility/localstorage.py
Owners: @red-hat-storage/top-level-reviewers

Fix version comparison for LSO deployment
  ocs_ci/utility/localstorage.py
Owners: @red-hat-storage/top-level-reviewers

adding number of written files
  ocs_ci/helpers/performance_lib.py
  ocs_ci/ocs/perftests.py
  tests/e2e/performance/test_pod_reattachtime.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

fixing flake8 error
  ocs_ci/helpers/performance_lib.py
Owners: @red-hat-storage/top-level-reviewers

Add skip_upgrade config for rosa and osd workaround
  conf/ocsci/spouce_upgrade.yaml
  conf/upgrade/upgrade_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Enable console plugin (#4924)
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

Enable console plugin (#4924)
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

Update change_default_storageclass() to iterate over a list of SC (#4899)
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Update change_default_storageclass() to iterate over a list of SC (#4899)
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Update workaround for upgrade on OSD and ROSA
  tests/ecosystem/upgrade/test_upgrade.py
Owners: @red-hat-storage/purple-squad
