Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

disabling master machine set for AWS UPI deployment (#4829)
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

disabling master machine set for AWS UPI deployment (#4829)
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

Test rolling shutdown and recovery of OCS worker nodes
  tests/manage/z_cluster/nodes/test_rolling_shutdown_and_recovery.py
Owners: @red-hat-storage/brown-squad

Changed node down time to 180s
  tests/manage/z_cluster/nodes/test_rolling_shutdown_and_recovery.py
Owners: @red-hat-storage/brown-squad

set cluster check to false to reduce the test run time
  tests/manage/z_cluster/nodes/test_rolling_shutdown_and_recovery.py
Owners: @red-hat-storage/brown-squad

PR to fix Oscale_12_OCS worker nodes OSD
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/orange-squad

Added constant for timeout
  tests/manage/z_cluster/nodes/test_rolling_shutdown_and_recovery.py
Owners: @red-hat-storage/brown-squad

fix for bucket policy tests in 4.9
  ocs_ci/ocs/resources/bucket_policy.py
Owners: @red-hat-storage/top-level-reviewers

Use json instead of hcl for reading terraform state file
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

addressing comments
  ocs_ci/ocs/resources/bucket_policy.py
Owners: @red-hat-storage/top-level-reviewers

Add multus network check to post install verification
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add multus network check to post install verification
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Tests to verify PVC snapshot feature when snapshotclass deleted
  tests/manage/pv_services/pvc_snapshot/test_pvc_snapshot_when_snapshotclass_deleted.py
Owners: @red-hat-storage/green-squad

Address review comments
  tests/manage/pv_services/pvc_snapshot/test_pvc_snapshot_when_snapshotclass_deleted.py
Owners: @red-hat-storage/green-squad

Use json instead of hcl for reading terraform state file (#4838)
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Use json instead of hcl for reading terraform state file (#4838)
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

fix for bucket policy tests in 4.9 (#4837)
  ocs_ci/ocs/resources/bucket_policy.py
Owners: @red-hat-storage/top-level-reviewers

fix for bucket policy tests in 4.9 (#4837)
  ocs_ci/ocs/resources/bucket_policy.py
Owners: @red-hat-storage/top-level-reviewers

Resolved black issues
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/orange-squad

quay test on 4.6 (#4820)
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/magenta-squad

quay test on 4.6 (#4820)
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/magenta-squad

Adding compact mode yaml file for vSphere
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_0w.yaml
Owners: @red-hat-storage/top-level-reviewers

Add kmsid parameter
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_encrypted_rbd_pvc_snapshot.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Add constant and deployment config for rosa platform
  conf/deployment/rosa/ipi_1az_rhcos_3m_3w.yaml
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Add constant and deployment config for rosa platform
  conf/deployment/rosa/ipi_1az_rhcos_3m_3w.yaml
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Add support for upgrade to ODF 4.9
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Add support for upgrade to ODF 4.9
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Verifying StorageSystem status
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add skip if marker for ROSA platform
  ocs_ci/framework/pytest_customization/marks.py
Owners: @red-hat-storage/top-level-reviewers

Add skip if marker for ROSA platform
  ocs_ci/framework/pytest_customization/marks.py
Owners: @red-hat-storage/top-level-reviewers

Skip mcg related test on ROSA platform
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

Skip mcg related test on ROSA platform
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

Skip UI tests on ROSA platform
  ocs_ci/utility/utils.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Skip UI tests on ROSA platform
  ocs_ci/utility/utils.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

log marker args instead of Marker
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

log marker args instead of Marker
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add openshift dedicated platform in CLOUD_PLATFORMS constants list
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Enhancement to "test_pv_scale_and_respin_ceph_pods" test with additional resource types
  tests/e2e/scale/test_pv_scale_and_respin_ceph_pods.py
Owners: @red-hat-storage/orange-squad

Addressed flake and tox isues
  tests/e2e/scale/test_pv_scale_and_respin_ceph_pods.py
Owners: @red-hat-storage/orange-squad

Verifying StorageSystem status (#4849)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers
