Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Modify pgbench replicas count to 1 in pgsql functional tests (#5060)
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

address Elad's comments
  conf/ocsci/rosa.yaml
  ocs_ci/deployment/rosa.py
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

get latest ocp version available to rosa
  conf/ocsci/rosa.yaml
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

fix flake8
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

fix ocp version match
  ocs_ci/deployment/rosa.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.10 yaml (#5039)
  ocs_ci/framework/conf/ocs_version/ocs-4.10.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.10 yaml (#5039)
  ocs_ci/framework/conf/ocs_version/ocs-4.10.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

remove getting fio results, addidng size to pvc
  tests/manage/storageclass/test_create_2_sc_with_1_pool_comp_rep2.py
  tests/manage/storageclass/test_create_2sc_at_once_with_io.py
  tests/manage/storageclass/test_create_sc_reclaim_policy_rep2_comp.py
  tests/manage/storageclass/test_multiple_sc_comp_rep_data_delete.py
  tests/manage/storageclass/test_new_sc_rbd_replica2_3.py
Owners: @red-hat-storage/green-squad

add resource_name to remove monitoring function
  ocs_ci/ocs/uninstall.py
Owners: @red-hat-storage/top-level-reviewers

pushing additional keys to the ES
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Test object policy fix (#5035)
  tests/manage/mcg/test_bucket_policy.py
Owners: @red-hat-storage/red-squad

Test object policy fix (#5035)
  tests/manage/mcg/test_bucket_policy.py
Owners: @red-hat-storage/red-squad

Added new yaml file for vsphere IPI production yaml
  conf/ocsci/production-vsphere-ipi.yaml
Owners: @red-hat-storage/top-level-reviewers

remove node test
  ocs_ci/ocs/platform_nodes.py
  tests/manage/monitoring/pagerduty/test_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/blue-squad

Include explicit python z version in tox
  .travis.yml
Owners: @red-hat-storage/top-level-reviewers

Update black version
  .pre-commit-config.yaml
  requirements-dev.txt
  tox.ini
Owners: @red-hat-storage/top-level-reviewers

Update black version
  .pre-commit-config.yaml
  requirements-dev.txt
  tox.ini
Owners: @red-hat-storage/top-level-reviewers

Fix 2 modules to be black OK
  ocs_ci/ocs/api_client.py
  ocs_ci/ocs/openstack.py
Owners: @red-hat-storage/top-level-reviewers

Fix 2 modules to be black OK
  ocs_ci/ocs/api_client.py
  ocs_ci/ocs/openstack.py
Owners: @red-hat-storage/top-level-reviewers

update python z version githib actions workflow
  .github/workflows/pr_checks.yml
Owners: @red-hat-storage/top-level-reviewers

adding one more parameter
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

update checks
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Adding Performance Dashbord DB managment Module
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/utility/perf_dash/__init__.py
  ocs_ci/utility/perf_dash/dashboard_api.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

fix docstring formatting
  ocs_ci/utility/perf_dash/dashboard_api.py
Owners: @red-hat-storage/top-level-reviewers

changing the reporting of OCS version in perf tests to include build number
  ocs_ci/ocs/version.py
Owners: @red-hat-storage/top-level-reviewers

Added UI infrastructure for ACM (#5062)
  ocs_ci/ocs/ui/acm_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Added UI infrastructure for ACM (#5062)
  ocs_ci/ocs/ui/acm_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Test object policy fix (#5035)
  tests/manage/mcg/test_bucket_policy.py
Owners: @red-hat-storage/red-squad

deployment: remove checks for rbd-thick sc
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Update black version
  .pre-commit-config.yaml
  requirements-dev.txt
  tox.ini
Owners: @red-hat-storage/top-level-reviewers

Fix 2 modules to be black OK
  ocs_ci/ocs/api_client.py
  ocs_ci/ocs/openstack.py
Owners: @red-hat-storage/top-level-reviewers

Test must-gather timeout parameters BZ#1965423 automation
  tests/manage/z_cluster/test_must_gather_options.py
Owners: @red-hat-storage/brown-squad

Fix jenkins workload on OCP4.9 (#5043)
  ocs_ci/ocs/jenkins.py
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

allow override automatically added squad marks (#5034)
  ocs_ci/framework/pytest_customization/marks.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

reformat: ran black command to reformat the file ci was throwing an error saying the file needed reformatting after the changes, had to run the command black <file name>
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Modify pgbench replicas count to 1 in pgsql functional tests (#5060)
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Added UI infrastructure for ACM (#5062)
  ocs_ci/ocs/ui/acm_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.10 yaml (#5039)
  ocs_ci/framework/conf/ocs_version/ocs-4.10.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Deploy KMS with CA Certificate file [without Client Certificate and Client Private Key]
  conf/ocsci/vault_external_standalone_ca_only_v1.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

add ca_only_v2 conf file
  conf/ocsci/vault_external_standalone_ca_only_v2.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
