Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Added load config file functionality, fix issue #4588
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

Fix disks cleanup over BM
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Resolve PR check
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

move get_logs_rook_ceph_operator function to helper file
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Change screenshot param to False by default
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

increased waiting for rebalance timeout when io in background (#4536)
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

increased waiting for rebalance timeout when io in background (#4536)
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

added docstring, fixed some wrong parameters names
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

Added param str_to_check to verify_output_command_osd_pod
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

Add reason for skipping disk cleanup
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Fix pr check
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Adding break when root disk is found
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Add multus prod configs
  conf/deployment/vsphere/upi_1az_rhcos_multus_vmfs_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhcos_multus_vsan_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhel_multus_vmfs_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhel_multus_vsan_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Pushing attach_time results to ES for the performance-dashboard (#4579)
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Pushing attach_time results to ES for the performance-dashboard (#4579)
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Fix disks cleanup over BM (#4598)
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Fix disks cleanup over BM (#4598)
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Fix BZ automation
  tests/manage/z_cluster/test_delete_rook_ceph_mon_pod.py
Owners: @red-hat-storage/brown-squad

Add TimeoutSampler generator for test_osd_heap_profile (#4535)
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

Add TimeoutSampler generator for test_osd_heap_profile (#4535)
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

Validate that mon db gets trimmed. Automating BZ#1941939
  ocs_ci/ocs/constants.py
  tests/manage/z_cluster/test_mon_log_trimming.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Move check_osd_log_exist_on_rook_ceph_operator_pod and get_last_log_time_date functions to helpers file
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Remove datetime import
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

updating template for ocp 48 and ocp 49
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-config.yaml
Owners: @red-hat-storage/top-level-reviewers

WIP:DNM: 4.8 GA config files
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-minus1-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

On teardown validate replica count of registry pod (#4557)
  tests/e2e/registry/test_registry_by_increasing_num_of_image_registry_pods.py
Owners: @red-hat-storage/magenta-squad

On teardown validate replica count of registry pod (#4557)
  tests/e2e/registry/test_registry_by_increasing_num_of_image_registry_pods.py
Owners: @red-hat-storage/magenta-squad

updating template for ocp 48 and ocp 49 (#4604)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-config.yaml
Owners: @red-hat-storage/top-level-reviewers

updating template for ocp 48 and ocp 49 (#4604)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-config.yaml
Owners: @red-hat-storage/top-level-reviewers

Add multus prod configs (#4600)
  conf/deployment/vsphere/upi_1az_rhcos_multus_vmfs_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhcos_multus_vsan_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhel_multus_vmfs_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhel_multus_vsan_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Add multus prod configs (#4600)
  conf/deployment/vsphere/upi_1az_rhcos_multus_vmfs_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhcos_multus_vsan_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhel_multus_vmfs_3m_3w.yaml
  conf/deployment/vsphere/upi_1az_rhel_multus_vsan_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Workaround: Custom toolbox deployment for Multus enabled cluster (#4584)
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Workaround: Custom toolbox deployment for Multus enabled cluster (#4584)
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Rebased with changes from performance (#4543)
  ocs_ci/framework/pytest_customization/marks.py
  pytest.ini
Owners: @red-hat-storage/top-level-reviewers

Rebased with changes from performance (#4543)
  ocs_ci/framework/pytest_customization/marks.py
  pytest.ini
Owners: @red-hat-storage/top-level-reviewers

Fix for Scale test failure during upgrade tests (#4565)
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Fix for Scale test failure during upgrade tests (#4565)
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Rebased the code to avoid conflict
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Increase timeout for tar creation in tests/e2e/scale/test_cephfs_many_files.py This fixes issue #4589
  tests/e2e/scale/test_cephfs_many_files.py
Owners: @red-hat-storage/orange-squad

GSS, test the mechanism to enable and disable debug logs (#4549)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
