Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

use the TimeoutSampler function in the get_uuid
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

remove duplicate line of subscription_plan_approval (#4648)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

remove duplicate line of subscription_plan_approval (#4648)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Adding the benchmark operator object to replace the Ripsaw object (#4629)
  ocs_ci/ocs/benchmark_operator.py
  ocs_ci/ocs/perftests.py
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Adding the benchmark operator object to replace the Ripsaw object (#4629)
  ocs_ci/ocs/benchmark_operator.py
  ocs_ci/ocs/perftests.py
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Skip RBD thick test cases in OCS 4.9 (#4620)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Skip RBD thick test cases in OCS 4.9 (#4620)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

quay operator on ocs (#4644)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/quay_operator.py
  ocs_ci/templates/workloads/quay/quay_registry.yaml
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

quay operator on ocs (#4644)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/quay_operator.py
  ocs_ci/templates/workloads/quay/quay_registry.yaml
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Update tests to run IO on pods attached with PVCs having unique access mode and volume mode combination (#4354)
  ocs_ci/helpers/helpers.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_creation_and_io.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_deletion_and_io.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Update tests to run IO on pods attached with PVCs having unique access mode and volume mode combination (#4354)
  ocs_ci/helpers/helpers.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_creation_and_io.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_deletion_and_io.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test case to verify RBD RWX PVC is consumable after pod deletion
  ocs_ci/ocs/resources/pod.py
  ocs_ci/templates/app-pods/raw_block_pod.yaml
  tests/manage/pv_services/test_pvc_rwx_writeable_after_pod_deletions.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

add polarion id
  tests/manage/pv_services/test_pvc_rwx_writeable_after_pod_deletions.py
Owners: @red-hat-storage/green-squad

Test to verify creation and deletion of encrypted RBD PVC with vaulttoken (#4596)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/helpers/helpers.py
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test to verify creation and deletion of encrypted RBD PVC with vaulttoken (#4596)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/helpers/helpers.py
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Wait 30 seconds
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/brown-squad

Wait till mon pod reaches Pending state
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/brown-squad

testcase to verifies multiple mons on same node
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Move mon_pods_running_on_same_node to helpers function
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

remove f-string
  tests/manage/pv_services/test_pvc_rwx_writeable_after_pod_deletions.py
Owners: @red-hat-storage/green-squad

Changing default_latest_tag to stable for OCS 4.9
  ocs_ci/framework/conf/ocs_version/ocs-4.9.yaml
Owners: @red-hat-storage/top-level-reviewers

Increase time
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/brown-squad

Move some test_cephfs_many_files.py code into a function so that it's callable from test_osd_metrics.
  ocs_ci/templates/workloads/osd_scale/osd_scale_benchmark.yaml
  tests/e2e/scale/test_cephfs_many_files.py
  tests/e2e/scale/test_osd_metrics.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Changing default_latest_tag to stable for OCS 4.9 (#4675)
  ocs_ci/framework/conf/ocs_version/ocs-4.9.yaml
Owners: @red-hat-storage/top-level-reviewers

Changing default_latest_tag to stable for OCS 4.9 (#4675)
  ocs_ci/framework/conf/ocs_version/ocs-4.9.yaml
Owners: @red-hat-storage/top-level-reviewers

A testcase to verifies multiple mons on same node (#4634)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

A testcase to verifies multiple mons on same node (#4634)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

quay operator test on 4.7.3
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/magenta-squad

quay operator test on 4.7.3 (#4678)
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/magenta-squad

quay operator test on 4.7.3 (#4678)
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/magenta-squad

Add integration of PagerDuty for Managed Service
  conf/ocsci/openshift_dedicated.yaml
  ocs_ci/ocs/constants.py
  ocs_ci/utility/pagerduty.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

fix import
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Update cniVersion in NAD template as given in docs.
  ocs_ci/templates/ocs-deployment/multus.yaml
Owners: @red-hat-storage/top-level-reviewers

Add namespace reference along with NAD name in the StorageCluster network spec
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Throw assertion when unbalanced and node balancing is expected. Fix Doc Strings Add skipif markers
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Fix bucketclass UI tests (#4656)
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix bucketclass UI tests (#4656)
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Update back constants' Ceph config values for 4.7 and below clusters
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/test_ceph_default_values_check.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Upgrading the elasticsearch module to use ECK 1.6.0 and ES 7.14
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck.1.6.0-all-in-one.yaml
  ocs_ci/templates/app-pods/esq.yaml
  setup.py
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

Update cniVersion in NAD template as given in docs. (#4680)
  ocs_ci/templates/ocs-deployment/multus.yaml
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
