Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Update cniVersion in NAD template as given in docs. (#4680)
  ocs_ci/templates/ocs-deployment/multus.yaml
Owners: @red-hat-storage/top-level-reviewers

Fixing IBM cloud login issue
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

Fixing IBM cloud login issue
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

Fix key validation for PV encryption in OCS 4.7
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/green-squad

Deaulting to OCS 4.9
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

Changing default_latest_tag to stable
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

Updating the pvc_create parameters
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/es-pvc.yaml
Owners: @red-hat-storage/top-level-reviewers

Check whether the df output is empty before processing the value in test_resource_deletion_during_pvc_expansion (#4664)
  tests/manage/pv_services/pvc_resize/test_resource_deletion_during_pvc_expansion.py
Owners: @red-hat-storage/green-squad

Check whether the df output is empty before processing the value in test_resource_deletion_during_pvc_expansion (#4664)
  tests/manage/pv_services/pvc_resize/test_resource_deletion_during_pvc_expansion.py
Owners: @red-hat-storage/green-squad

added constant for ocs_metrics_exporter pod, add post upgrade validation for this pod
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

added constant for ocs_metrics_exporter pod, add post upgrade validation for this pod
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Upgrading the Elasticsearch module to use ECK 1.6.0 and ES 7.14 (#4686)
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck.1.6.0-all-in-one.yaml
  ocs_ci/templates/app-pods/es-pvc.yaml
  ocs_ci/templates/app-pods/esq.yaml
  setup.py
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

Upgrading the Elasticsearch module to use ECK 1.6.0 and ES 7.14 (#4686)
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck.1.6.0-all-in-one.yaml
  ocs_ci/templates/app-pods/es-pvc.yaml
  ocs_ci/templates/app-pods/esq.yaml
  setup.py
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

implement benchmark-operator into the fio benchmark test
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_fio_benchmark.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Add github action for labeling and closing stale issues and pull requests
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

Add github action for labeling and closing stale issues and pull requests
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

Update Pull-secret link
  docs/getting_started.md
Owners: @red-hat-storage/top-level-reviewers

Defaulting to OCS 4.9 (#4669)
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

Defaulting to OCS 4.9 (#4669)
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

Fix post_upgrade scale test failure
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/orange-squad

Add tests/e2e/scale/test_osd_node_balancing.py (#4133)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/scale_lib.py
  ocs_ci/templates/workloads/osd_scale/osd_scale_benchmark.yaml
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Add tests/e2e/scale/test_osd_node_balancing.py (#4133)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/scale_lib.py
  ocs_ci/templates/workloads/osd_scale/osd_scale_benchmark.yaml
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

FIO - replace ripsaw with benchmark-operator
  ocs_ci/templates/workloads/fio/benchmark_fio.yaml
  ocs_ci/templates/workloads/fio/benchmark_fio_cmp.yaml
  tests/e2e/performance/test_fio_benchmark.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Add polarion marks to /tests/e2e/scale/test_osd_node_balancing.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Fix post_upgrade scale test failure (#4698)
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/orange-squad

Fix post_upgrade scale test failure (#4698)
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/orange-squad

Adjust Pgsql with the new benchmark-operator changes
  ocs_ci/ocs/pgsql.py
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  ocs_ci/templates/workloads/pgsql/server/ConfigMap.yaml
  ocs_ci/templates/workloads/pgsql/server/Service.yaml
  ocs_ci/templates/workloads/pgsql/server/StatefulSet.yaml
Owners: @red-hat-storage/top-level-reviewers

Add priority for ocs-catalogsource
  ocs_ci/templates/ocs-deployment/catalog-source.yaml
Owners: @red-hat-storage/top-level-reviewers

Add a new node and verify crashcollector pod created
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/brown-squad

Remove reblance step
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/brown-squad

Add utility functions
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/pod.py
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

add polarion id
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/brown-squad

fix this error: > new_node_rack = node_rack_dic[new_node] E TypeError: unhashable type: 'list'
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/brown-squad

fix doc string
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/brown-squad

Add support AWS platform
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add some logs
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Remove get_failure_domain function
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/cluster_expansion/test_add_node_crashcollector.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

change test name
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
Owners: @red-hat-storage/brown-squad

Fix issue with retriving ocp channel
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

fix black
  ocs_ci/ocs/pgsql.py
Owners: @red-hat-storage/top-level-reviewers
