Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Skip rbd-thick storage class verification in external mode (#4338)
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Skip rbd-thick storage class verification in external mode (#4338)
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

adding enable_multus.yaml
  conf/ocsci/enable_multus.yaml
Owners: @red-hat-storage/top-level-reviewers

Adding documentation for prerequisites for vSphere IPI
  docs/getting_started.md
Owners: @red-hat-storage/top-level-reviewers

Test to verify storage utilization of RBD thick provisioned PVC (#4350)
  ocs_ci/helpers/helpers.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test to verify storage utilization of RBD thick provisioned PVC (#4350)
  ocs_ci/helpers/helpers.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Check whether the df output is empty before processing the value (#3847)
  tests/manage/pv_services/pvc_resize/test_pvc_expansion.py
Owners: @red-hat-storage/green-squad

Check whether the df output is empty before processing the value (#3847)
  tests/manage/pv_services/pvc_resize/test_pvc_expansion.py
Owners: @red-hat-storage/green-squad

Adding Black squad for UI test cases
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Verify ceph health is HEALTH_WARN after ceph daemon killing
  tests/manage/z_cluster/test_coredump_check_for_ceph_daemon_crash.py
Owners: @red-hat-storage/brown-squad

Updated script to handle a restart of DC pod
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

fix Exception message
  tests/manage/z_cluster/test_coredump_check_for_ceph_daemon_crash.py
Owners: @red-hat-storage/brown-squad

Squad mark fix (#4515)
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Squad mark fix (#4515)
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

deployment: Don't check for rbd-thick sc in OCS4.8
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Skip thick provisioning tests in OCS4.8
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Supporting multus deployment (#4502)
  conf/ocsci/enable_multus.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/ocs-deployment/multus.yaml
Owners: @red-hat-storage/top-level-reviewers

Supporting multus deployment (#4502)
  conf/ocsci/enable_multus.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/ocs-deployment/multus.yaml
Owners: @red-hat-storage/top-level-reviewers

deployment: Don't check for rbd-thick sc in OCS4.8 (#4530)
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

deployment: Don't check for rbd-thick sc in OCS4.8 (#4530)
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Update tests to use custom RBD thick SC and update ocs version in relevant tests
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

remove unused import
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Supporting external cluster secret data for OCP 4.8 and in upgrade path (#4513)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/utility/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Supporting external cluster secret data for OCP 4.8 and in upgrade path (#4513)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/utility/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Change must-gather image to live image + tag
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Change must-gather image to live image + tag
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Remove manual exposure of RGW service on OCS 4.7+ (#3928)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/rgw.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Remove manual exposure of RGW service on OCS 4.7+ (#3928)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/rgw.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Skip deletion for PVC backingstores that couldn't be found (#4214)
  ocs_ci/ocs/resources/backingstore.py
Owners: @red-hat-storage/top-level-reviewers

Skip deletion for PVC backingstores that couldn't be found (#4214)
  ocs_ci/ocs/resources/backingstore.py
Owners: @red-hat-storage/top-level-reviewers

Add rerun markers for flaky tests (#4473)
  setup.py
  tests/manage/mcg/test_bucket_deletion.py
  tests/manage/mcg/test_object_integrity.py
  tests/manage/mcg/test_write_to_bucket.py
  tests/manage/rgw/test_bucket_deletion.py
  tests/manage/rgw/test_object_integrity.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Add rerun markers for flaky tests (#4473)
  setup.py
  tests/manage/mcg/test_bucket_deletion.py
  tests/manage/mcg/test_object_integrity.py
  tests/manage/mcg/test_write_to_bucket.py
  tests/manage/rgw/test_bucket_deletion.py
  tests/manage/rgw/test_object_integrity.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Rely on OCS version rather than OCP for MCG UI tests (#4493)
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Rely on OCS version rather than OCP for MCG UI tests (#4493)
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Resolved comments from Karthick
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

added missing args
  ocs_ci/ocs/pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

reference ocs-ci#4470 issue
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

reference ocs-ci#4470 issue
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

option to control spec.storageDeviceSets[0].count
  conf/README.md
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_6w_arbiter.yaml
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

fix: drop extraneous worker_zones option
  conf/deployment/aws/ipi_3az_rhcos_3m_4w_arbiter.yaml
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers
