Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Retry mcg status check (#5132)
  ocs_ci/ocs/resources/mcg.py
Owners: @red-hat-storage/top-level-reviewers

Retry mcg status check (#5132)
  ocs_ci/ocs/resources/mcg.py
Owners: @red-hat-storage/top-level-reviewers

Sf parameters (#5150)
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/io_workload/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Sf parameters (#5150)
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/io_workload/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

text
  tests/e2e/scale/noobaa/test_hsbench.py
Owners: @red-hat-storage/orange-squad
