Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

add ca_only verification function
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

pop certificates from connection_data dictionary
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

fix code
  conf/ocsci/vault_external_standalone_ca_only_v1.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

fix doc string
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.10 yaml (#5039)
  ocs_ci/framework/conf/ocs_version/ocs-4.10.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Added UI infrastructure for ACM (#5062)
  ocs_ci/ocs/ui/acm_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Test object policy fix (#5035)
  tests/manage/mcg/test_bucket_policy.py
Owners: @red-hat-storage/red-squad

Fix 2 modules to be black OK
  ocs_ci/ocs/api_client.py
  ocs_ci/ocs/openstack.py
Owners: @red-hat-storage/top-level-reviewers

reformat: ran black command to reformat the file ci was throwing an error saying the file needed reformatting after the changes, had to run the command black <file name>
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix jenkins workload on OCP4.9 (#5043)
  ocs_ci/ocs/jenkins.py
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Modify pgbench replicas count to 1 in pgsql functional tests (#5060)
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Test cluster health when its storage is ~75% full
  tests/e2e/performance/test_full_cluster_health.py
Owners: @red-hat-storage/grey-squad

allow override automatically added squad marks (#5034)
  ocs_ci/framework/pytest_customization/marks.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Update black version
  .pre-commit-config.yaml
  requirements-dev.txt
  tox.ini
Owners: @red-hat-storage/top-level-reviewers

deployment: remove checks for rbd-thick sc
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

change ca_only condition
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

fix condition
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

update checks
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Change of noobaa operator CSV
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/defaults.py
Owners: @red-hat-storage/top-level-reviewers

Change of noobaa operator CSV
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/defaults.py
Owners: @red-hat-storage/top-level-reviewers

add red_squad marker to noobaa upgrade tests
  tests/ecosystem/upgrade/test_noobaa.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

add red_squad marker to noobaa upgrade tests
  tests/ecosystem/upgrade/test_noobaa.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Skipping RBD thick tests
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Fix type
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Update deployment of ODF Managed service for ccs mode
  conf/ocsci/openshift_dedicated.yaml
  ocs_ci/deployment/openshift_dedicated.py
  ocs_ci/utility/openshift_dedicated.py
Owners: @red-hat-storage/top-level-reviewers

add param --binary-imgae to opm index prune cmd
  conf/README.md
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

Add mon_data_avail_warn to rook ceph config saved values (#5057)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/test_ceph_default_values_check.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add mon_data_avail_warn to rook ceph config saved values (#5057)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/test_ceph_default_values_check.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add magenta_squad marker to logging and monitoring tests
  tests/ecosystem/upgrade/test_logging_upgrade.py
  tests/ecosystem/upgrade/test_monitoring_after_ocp_upgrade.py
Owners: @red-hat-storage/purple-squad

Add magenta_squad marker to logging and monitoring tests
  tests/ecosystem/upgrade/test_logging_upgrade.py
  tests/ecosystem/upgrade/test_monitoring_after_ocp_upgrade.py
Owners: @red-hat-storage/purple-squad

Fix for IBM cloud upgrade
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Fix for IBM cloud upgrade
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

update and document proxy config variables
  conf/README.md
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

fix rhcos_image configuration
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

add support for disconnected deployment on vSphere
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_disconnected.yaml
  ocs_ci/deployment/flexy.py
  ocs_ci/ocs/ocp.py
  ocs_ci/utility/proxy.py
Owners: @red-hat-storage/top-level-reviewers

Adjust post-install verifications to Managed Service
  ocs_ci/ocs/resources/storage_cluster.py
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Adjust post-install verifications to Managed Service
  ocs_ci/ocs/resources/storage_cluster.py
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Directory changes for performance io and csi tests (#5020)
  tests/e2e/performance/csi_tests/test_bulk_pod_attachtime_performance.py
  tests/e2e/performance/csi_tests/test_multi_snapshots.py
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_creation_deletion_performance.py
  tests/e2e/performance/csi_tests/test_pvc_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/csi_tests/test_pvc_multi_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_multi_snapshot_performance.py
  tests/e2e/performance/csi_tests/test_pvc_snapshot_performance.py
  tests/e2e/performance/io_workload/test_fio_benchmark.py
  tests/e2e/performance/io_workload/test_io_performance.py
  tests/e2e/performance/io_workload/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

Directory changes for performance io and csi tests (#5020)
  tests/e2e/performance/csi_tests/test_bulk_pod_attachtime_performance.py
  tests/e2e/performance/csi_tests/test_multi_snapshots.py
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_creation_deletion_performance.py
  tests/e2e/performance/csi_tests/test_pvc_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/csi_tests/test_pvc_multi_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_multi_snapshot_performance.py
  tests/e2e/performance/csi_tests/test_pvc_snapshot_performance.py
  tests/e2e/performance/io_workload/test_fio_benchmark.py
  tests/e2e/performance/io_workload/test_io_performance.py
  tests/e2e/performance/io_workload/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

Add support for Disconnected deployment on vSphere (#5041)
  conf/README.md
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_disconnected.yaml
  ocs_ci/deployment/flexy.py
  ocs_ci/ocs/ocp.py
  ocs_ci/utility/proxy.py
Owners: @red-hat-storage/top-level-reviewers
