Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

chnaging hcl to hcl2
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

changing hcl to hcl2
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

Skip the test if we use OCS 4.8 and below. Also increase the timeout of waiting for mon recovery
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/brown-squad

Skip the test 'test_multiple_mon_pod_stays_on_same_node' if the cluster is not LSO
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/brown-squad

moving shutdown_wait_timeout to vm module
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

use json in flexy deployment
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

remove heads
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

Spread the tests across tier 1 and 2
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Remove old tier markers
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Improve docs
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Improve docs and function names
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/resources/bucketclass.py
  ocs_ci/ocs/resources/mcg.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

s3 head object implementation and cache test (#4944)
  ocs_ci/ocs/bucket_utils.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_s3_ops_crd.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

s3 head object implementation and cache test (#4944)
  ocs_ci/ocs/bucket_utils.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_s3_ops_crd.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

quay installation fix (#4942)
  ocs_ci/ocs/quay_operator.py
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
Owners: @red-hat-storage/top-level-reviewers

quay installation fix (#4942)
  ocs_ci/ocs/quay_operator.py
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
Owners: @red-hat-storage/top-level-reviewers

Fix docs
  ocs_ci/ocs/bucket_utils.py
Owners: @red-hat-storage/top-level-reviewers

Replace GCP NSS test since GCP is not supported in NSS flows
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Set rp_launch_url as junit testsuite property
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add run_id to testsuite properties
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Set rp_launch_url as junit testsuite property
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add run_id to testsuite properties
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Ypersky pod reattachtime 1 mfiles (#4996)
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Ypersky pod reattachtime 1 mfiles (#4996)
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

bz-1832297, test capacity breakdown on UI (#4740)
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
  tests/conftest.py
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

bz-1832297, test capacity breakdown on UI (#4740)
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
  tests/conftest.py
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix versionConflict pyparsing
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Fix versionConflict pyparsing (#5001)
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Fix versionConflict pyparsing (#5001)
  setup.py
Owners: @red-hat-storage/top-level-reviewers

WIP: multicluster configuration
  ocs_ci/framework/__init__.py
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/ocs/openshift_ops.py
  ocs_ci/ocs/ui/acm_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

fix single cluster config handling
  ocs_ci/framework/__init__.py
  ocs_ci/utility/aws.py
Owners: @red-hat-storage/top-level-reviewers

Unit tests for multicluster
  ocs_ci/framework/tests/test_config.py
  ocs_ci/framework/tests/test_main.py
Owners: @red-hat-storage/top-level-reviewers

Fix tox issues
  ocs_ci/framework/__init__.py
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/ocs/openshift_ops.py
  ocs_ci/utility/aws.py
Owners: @red-hat-storage/top-level-reviewers

simple unit test for config validation
  ocs_ci/framework/tests/test_config.py
Owners: @red-hat-storage/top-level-reviewers

Addressing review comments by Coady and Petr
  ocs_ci/framework/__init__.py
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/framework/tests/test_config.py
Owners: @red-hat-storage/top-level-reviewers

CLI parsing changes for multicluster
  ocs_ci/framework/__init__.py
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/ocs/ui/acm_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Add documentation for multicluster subcommand
  docs/usage.md
Owners: @red-hat-storage/top-level-reviewers

add looping after conflict resolution
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Fix collectonly failure issues
  ocs_ci/framework/__init__.py
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

ODF Dashboard
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

ODF 4.9 Dashboard
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
