Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

adding vm_network to install config (#5029)
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

remove skips
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_proactive_IPI.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_reactive_IPI.py
  tests/manage/z_cluster/nodes/test_node_replacement_reactive_aws_ipi.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
Owners: @red-hat-storage/brown-squad

remove skips
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_proactive_IPI.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_reactive_IPI.py
  tests/manage/z_cluster/nodes/test_node_replacement_reactive_aws_ipi.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
Owners: @red-hat-storage/brown-squad

Implement tier 1 MCG replication policy tests (#4958)
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/bucketclass.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/resources/objectbucket.py
  tests/conftest.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Implement tier 1 MCG replication policy tests (#4958)
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/bucketclass.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/resources/objectbucket.py
  tests/conftest.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

skip replication tests for odf 4.9
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

skip replication tests for odf 4.9
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

test object policy fix
  tests/manage/mcg/test_bucket_policy.py
Owners: @red-hat-storage/red-squad

changed timeouts for get and delete
  tests/manage/mcg/test_bucket_policy.py
Owners: @red-hat-storage/red-squad

reformat: ran black command to reformat the file ci was throwing an error saying the file needed reformatting after the changes, had to run the command black <file name>
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

reformat: ran black command to reformat the file ci was throwing an error saying the file needed reformatting after the changes, had to run the command black <file name>
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Obc creation and deletion time (#4931)
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_create_delete.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Obc creation and deletion time (#4931)
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_create_delete.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

addressing coments in the PR
  template_test/Performance_template.py
Owners: @red-hat-storage/top-level-reviewers

Change pgbench replicas to 1 in pgsql functional tests
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

small fix
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
Owners: @red-hat-storage/magenta-squad

adding additional keys to the ES reports (#5047)
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

adding additional keys to the ES reports (#5047)
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Skip TestAutomatedRecoveryFromFailedNodes
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_proactive_IPI.py
Owners: @red-hat-storage/brown-squad

fix regular expression
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Add upgrade check for all CSV to be in succeeded state
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/csv.py
Owners: @red-hat-storage/top-level-reviewers

Add upgrade check for all CSV to be in succeeded state
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/csv.py
Owners: @red-hat-storage/top-level-reviewers

use default ocs_csv_channel
  conf/ocsci/rosa.yaml
Owners: @red-hat-storage/top-level-reviewers

force download cli binaries
  conf/ocsci/rosa.yaml
Owners: @red-hat-storage/top-level-reviewers

this issue reconstructed on OCP4.8 https://github.com/red-hat-storage/ocs-ci/issues/4911#issuecomment-963142616
  ocs_ci/ocs/jenkins.py
Owners: @red-hat-storage/top-level-reviewers

made the replica changes in the other e2e tests using pgsql w/l
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
Owners: @red-hat-storage/magenta-squad

1. Canceled console validation if not default OCP, 2. added ACM locators, 3. Added ACM navigator class
  ocs_ci/ocs/ui/acm_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

change csv channel
  conf/ocsci/rosa.yaml
Owners: @red-hat-storage/top-level-reviewers

fixed AcmPageNavigator inheritance
  ocs_ci/ocs/ui/acm_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix jenkins workload on OCP4.9 (#5043)
  ocs_ci/ocs/jenkins.py
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Fix jenkins workload on OCP4.9 (#5043)
  ocs_ci/ocs/jenkins.py
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Directory changes for performance io and csi tests Moving csi and io tests to "performance/csi_tests" and "performance/io_workload" directory
  tests/e2e/performance/csi_tests/test_multi_snapshots.py
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_bulk_creation_deletion_performance.py
  tests/e2e/performance/csi_tests/test_pvc_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/csi_tests/test_pvc_multi_clone_performance.py
  tests/e2e/performance/csi_tests/test_pvc_multi_snapshot_performance.py
  tests/e2e/performance/csi_tests/test_pvc_snapshot_performance.py
  tests/e2e/performance/io_workload/test_fio_benchmark.py
  tests/e2e/performance/io_workload/test_io_performance.py
  tests/e2e/performance/io_workload/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

rebased with master
  tests/e2e/performance/csi_tests/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

Rebasing with master
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Fixed tox issues
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

allow override automatically added squad marks
  ocs_ci/framework/pytest_customization/marks.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

sort squad mark definition and remove duplicate
  ocs_ci/framework/pytest_customization/marks.py
Owners: @red-hat-storage/top-level-reviewers

allow override automatically added squad marks (#5034)
  ocs_ci/framework/pytest_customization/marks.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

allow override automatically added squad marks (#5034)
  ocs_ci/framework/pytest_customization/marks.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Modify pgbench replicas count to 1 in pgsql functional tests (#5060)
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad
