Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

GSS, test the mechanism to enable and disable debug logs (#4549)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Clear warnings and leftovers after test disk failures
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/pod.py
  tests/manage/z_cluster/nodes/test_disk_failures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

move function 'clear_crash_warning_and_osd_removal_leftovers' to helpers
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_disk_failures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Catch and report session scope fixture teardown failures in a separated dedicated test case
  tests/test_failure_propagator.py
Owners: @red-hat-storage/top-level-reviewers

add tier1
  tests/test_failure_propagator.py
Owners: @red-hat-storage/top-level-reviewers

Fix UI infra (#4576)
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/utility/utils.py
  tests/conftest.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix UI infra (#4576)
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/utility/utils.py
  tests/conftest.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

address Aviad's comment
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
Owners: @red-hat-storage/brown-squad

Validate that mon db gets trimmed. (#4520)
  ocs_ci/ocs/constants.py
  tests/manage/z_cluster/test_mon_log_trimming.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Validate that mon db gets trimmed. (#4520)
  ocs_ci/ocs/constants.py
  tests/manage/z_cluster/test_mon_log_trimming.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Fix BZ automation (#4519)
  tests/manage/z_cluster/test_delete_rook_ceph_mon_pod.py
Owners: @red-hat-storage/brown-squad

Fix BZ automation (#4519)
  tests/manage/z_cluster/test_delete_rook_ceph_mon_pod.py
Owners: @red-hat-storage/brown-squad

Create a new file for the OCS jobs
  ocs_ci/ocs/osd_operations.py
  ocs_ci/ocs/resources/job.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Fix osd_encryption_verification function
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

updating comment
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Update external cluster upgrade procedure (#4570)
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Update external cluster upgrade procedure (#4570)
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

print lsblk_output_split for debugging
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Increase timeout for tar creation in (#4608)
  tests/e2e/scale/test_cephfs_many_files.py
Owners: @red-hat-storage/orange-squad

Increase timeout for tar creation in (#4608)
  tests/e2e/scale/test_cephfs_many_files.py
Owners: @red-hat-storage/orange-squad

Increase expected CSR count in OCP 4.9
  ocs_ci/utility/csr.py
Owners: @red-hat-storage/top-level-reviewers

Fix flexible scaling enabled condition in the 'add capacity' tests
  tests/e2e/flowtest/test_base_operation_node_drain.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_with_node_restart.py
  tests/manage/z_cluster/cluster_expansion/test_delete_pod.py
Owners: @red-hat-storage/magenta-squad, @red-hat-storage/orange-squad, @red-hat-storage/brown-squad

Wait for new nodes to settle down in IBM cloud
  ocs_ci/ocs/node.py
Owners: @red-hat-storage/top-level-reviewers

Skip RBD thick test cases in OCS 4.9
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Clearer code
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add log osd_node_names dictionary [for debugging]
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

add logs for debugging
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add new Ceph values to ceph config values saved in constants.py
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

update alert message for ClusterObjectStoreState alert
  tests/manage/monitoring/prometheus/test_rgw.py
Owners: @red-hat-storage/blue-squad

Increase expected CSR count in OCP 4.9 (#4616)
  ocs_ci/utility/csr.py
Owners: @red-hat-storage/top-level-reviewers

Increase expected CSR count in OCP 4.9 (#4616)
  ocs_ci/utility/csr.py
Owners: @red-hat-storage/top-level-reviewers

Fix flexible scaling enabled condition in the 'add capacity' tests (#4617)
  tests/e2e/flowtest/test_base_operation_node_drain.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_with_node_restart.py
  tests/manage/z_cluster/cluster_expansion/test_delete_pod.py
Owners: @red-hat-storage/magenta-squad, @red-hat-storage/orange-squad, @red-hat-storage/brown-squad

Fix flexible scaling enabled condition in the 'add capacity' tests (#4617)
  tests/e2e/flowtest/test_base_operation_node_drain.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_with_node_restart.py
  tests/manage/z_cluster/cluster_expansion/test_delete_pod.py
Owners: @red-hat-storage/magenta-squad, @red-hat-storage/orange-squad, @red-hat-storage/brown-squad

WIP:DNM: 4.8 GA config files (#4607)
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-minus1-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

WIP:DNM: 4.8 GA config files (#4607)
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-minus1-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Add test case for creation and deletion of encrypted RBD PVC
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Address review comments
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Add test case for creation and deletion of encrypted RBD PVC
  ocs_ci/helpers/helpers.py
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Add test for kv-v2 secret engine
  ocs_ci/utility/kms.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Update GA template for OCP 4.8
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-minus1-config.yaml
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
