Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Replace the None value with the string 'None'
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Add Polarion marks to tests/e2e/scale/test_cephfs_many_files.py
  tests/e2e/scale/test_cephfs_many_files.py
Owners: @red-hat-storage/orange-squad

Add priority for ocs-catalogsource (#4704)
  ocs_ci/templates/ocs-deployment/catalog-source.yaml
Owners: @red-hat-storage/top-level-reviewers

Add priority for ocs-catalogsource (#4704)
  ocs_ci/templates/ocs-deployment/catalog-source.yaml
Owners: @red-hat-storage/top-level-reviewers

Add polarion ID for existing scale test
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
Owners: @red-hat-storage/orange-squad

Fix key validation for PV encryption in OCS 4.7 (#4692)
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/green-squad

Fix key validation for PV encryption in OCS 4.7 (#4692)
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/green-squad

update the command to get md5sum
  tests/conftest.py
  tests/manage/pv_services/test_rbd_rwx_pvc.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test RBD Block volume mode RWX PVC
  tests/manage/pv_services/test_rbd_rwx_pvc.py
Owners: @red-hat-storage/green-squad

Test RBD Block volume mode RWX PVC
  tests/manage/pv_services/test_rbd_rwx_pvc.py
Owners: @red-hat-storage/green-squad

Test RBD Block volume mode RWX PVC
  tests/manage/pv_services/test_rbd_rwx_pvc.py
Owners: @red-hat-storage/green-squad

Test RBD Block volume mode RWX PVC
  tests/manage/pv_services/test_rbd_rwx_pvc.py
Owners: @red-hat-storage/green-squad

Add polarion ID for existing scale test (#4707)
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
Owners: @red-hat-storage/orange-squad

Add polarion ID for existing scale test (#4707)
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
Owners: @red-hat-storage/orange-squad

Fix issue with retrieving ocp channel (#4705)
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Fix issue with retrieving ocp channel (#4705)
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Fio implement benchmark-operator (#4700)
  ocs_ci/templates/workloads/fio/benchmark_fio.yaml
  ocs_ci/templates/workloads/fio/benchmark_fio_cmp.yaml
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_fio_benchmark.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Fio implement benchmark-operator (#4700)
  ocs_ci/templates/workloads/fio/benchmark_fio.yaml
  ocs_ci/templates/workloads/fio/benchmark_fio_cmp.yaml
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_fio_benchmark.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Add a new node and verify crashcollector pod created (#4518)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/pod.py
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add a new node and verify crashcollector pod created (#4518)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/pod.py
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Fix Avi's comment
  ocs_ci/ocs/pgsql.py
Owners: @red-hat-storage/top-level-reviewers

Format python string
  ocs_ci/utility/service.py
Owners: @red-hat-storage/top-level-reviewers

Format python string
  ocs_ci/utility/service.py
Owners: @red-hat-storage/top-level-reviewers

Label the new worker nodes with ocs label
  tests/manage/z_cluster/cluster_expansion/conftest.py
Owners: @red-hat-storage/brown-squad

Create new fixture for add capacity setup
  tests/manage/z_cluster/cluster_expansion/conftest.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_with_node_restart.py
  tests/manage/z_cluster/cluster_expansion/test_delete_pod.py
Owners: @red-hat-storage/brown-squad

Add the correct disk size, and add only one disk
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/pv.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add ibmcos oc and cli tests to mcg
  tests/manage/mcg/test_bucket_deletion.py
  tests/manage/mcg/test_multicloud.py
  tests/manage/mcg/test_object_integrity.py
  tests/manage/mcg/test_write_to_bucket.py
Owners: @red-hat-storage/red-squad

Adjust Pgsql with the new benchmark-operator changes (#4703)
  ocs_ci/ocs/pgsql.py
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  ocs_ci/templates/workloads/pgsql/server/ConfigMap.yaml
  ocs_ci/templates/workloads/pgsql/server/Service.yaml
  ocs_ci/templates/workloads/pgsql/server/StatefulSet.yaml
Owners: @red-hat-storage/top-level-reviewers

Adjust Pgsql with the new benchmark-operator changes (#4703)
  ocs_ci/ocs/pgsql.py
  ocs_ci/templates/workloads/pgsql/PGSQL_Benchmark.yaml
  ocs_ci/templates/workloads/pgsql/server/ConfigMap.yaml
  ocs_ci/templates/workloads/pgsql/server/Service.yaml
  ocs_ci/templates/workloads/pgsql/server/StatefulSet.yaml
Owners: @red-hat-storage/top-level-reviewers

Create a new fixture to use in the "add capacity" tests setup (#4654)
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/pv.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/cluster_expansion/conftest.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_with_node_restart.py
  tests/manage/z_cluster/cluster_expansion/test_delete_pod.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Create a new fixture to use in the "add capacity" tests setup (#4654)
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/pv.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/cluster_expansion/conftest.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_with_node_restart.py
  tests/manage/z_cluster/cluster_expansion/test_delete_pod.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add namespace reference along with NAD name in the StorageCluster network spec (#4681)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Add namespace reference along with NAD name in the StorageCluster network spec (#4681)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Skipping the stop nodes testcases for ibmcloud
  tests/e2e/monitoring/test_monitoring_on_negative_scenarios.py
  tests/e2e/registry/test_registry_shutdown_and_recovery_node.py
  tests/e2e/workloads/amq/test_amq_node_reboot_and_shutdown.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Skipping the stop nodes testcases for ibmcloud
  tests/e2e/monitoring/test_monitoring_on_negative_scenarios.py
  tests/e2e/registry/test_registry_shutdown_and_recovery_node.py
  tests/e2e/workloads/amq/test_amq_node_reboot_and_shutdown.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

GSS bug 1974343, Verify expected log exist after upgrade
  ocs_ci/helpers/helpers.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

Fix file validation in Scale test
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/orange-squad

Delete "get_pod_logs" from helper file and use ocs-ci/ocs_ci/ocs/resources/pod.py:1107
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/resources/pod.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

skipif_ocs_version decorator
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Move all_containers to be the last param on get_pod_logs function
  ocs_ci/ocs/resources/pod.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
