Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

address martin's comments
  conf/ocsci/openshift_dedicated.yaml
  ocs_ci/utility/pagerduty.py
  ocs_ci/utility/workloadfixture.py
Owners: @red-hat-storage/top-level-reviewers

Increase time for AWS cleanup job
  ocs_ci/cleanup/aws/defaults.py
Owners: @red-hat-storage/top-level-reviewers

Increase time for AWS cleanup job
  ocs_ci/cleanup/aws/defaults.py
Owners: @red-hat-storage/top-level-reviewers

Adding retry mechanism for setup_persistent_monitoring
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Adding retry mechanism for setup_persistent_monitoring
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Test case to verify the impact of plugin pod deletion on app pod (#4419)
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Owners: @red-hat-storage/green-squad

add skipif_not_managed_service marker
  ocs_ci/framework/pytest_customization/marks.py
  tests/conftest.py
  tests/manage/monitoring/pagerduty/test_deployment_status.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/blue-squad

increasing retries
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

increasing retries
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Add workaround for BZ-1997624 (#4768)
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/CSI/rbd/csi-kms-connection-details.yaml
  ocs_ci/utility/kms.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Add workaround for BZ-1997624 (#4768)
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/CSI/rbd/csi-kms-connection-details.yaml
  ocs_ci/utility/kms.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Create a new function to wait for rook ceph pod status. Also check the pod status in the rook ceph pod operator logs
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_reactive_IPI.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Autoscale scale test case improvement. (#4772)
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_endpoint.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Autoscale scale test case improvement. (#4772)
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_endpoint.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

add bugzilla marker, fix black
  tests/conftest.py
  tests/manage/monitoring/pagerduty/test_deployment_status.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/blue-squad

Fixed ceritificate issue when getting hsbench package.
  ocs_ci/ocs/hsbench.py
Owners: @red-hat-storage/top-level-reviewers

Fix the log
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Add polarion ID to scale tests
  tests/e2e/scale/test_cephfs_many_files.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

GSS bz 1974343, Verify expected log exist after upgrade (#4714)
  ocs_ci/ocs/resources/pod.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

GSS bz 1974343, Verify expected log exist after upgrade (#4714)
  ocs_ci/ocs/resources/pod.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

Skip on ui_deployment on cluster with Infra nodes
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

ui tests: configure proxy server if required
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

Move the ECK yaml files to ocs-workloads repo
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck1.7/crds.yaml
  ocs_ci/templates/app-pods/eck1.7/operator.yaml
  ocs_ci/templates/app-pods/esq.yaml
Owners: @red-hat-storage/top-level-reviewers

Remove commented line
  ocs_ci/ocs/elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

Remove duplicate pod dumpper yaml file
  ocs_ci/templates/app-pods/eck1.7/esq.yaml
Owners: @red-hat-storage/top-level-reviewers

Add polarion ID to scale tests (#4792)
  tests/e2e/scale/test_cephfs_many_files.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Add polarion ID to scale tests (#4792)
  tests/e2e/scale/test_cephfs_many_files.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Removed canary pod check as it is no more relevant
  tests/manage/z_cluster/upgrade/test_check_pdb_post_upgrade.py
Owners: @red-hat-storage/brown-squad

Change previous functions to use the new function 'get_event_line_datetime'
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Update test_check_pdb_post_upgrade.py
  tests/manage/z_cluster/upgrade/test_check_pdb_post_upgrade.py
Owners: @red-hat-storage/brown-squad

Skip mcg related test on openshift dedicated platform
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

Skip all UI test cases on OSD ODF-MS platform
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Skip all UI test cases on OSD ODF-MS platform
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

"test_multiple_pvc_deletion_measurement_performance" test case improvement to create multiple PVCs in seperate namespace instead of openshift-storage namespace.
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

"test_multiple_pvc_deletion_measurement_performance" test case improvement to create multiple PVCs in seperate namespace instead of openshift-storage namespace.
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Automates BZ OCS podDisruptionBudget prevents successful OCP upgrades (#3888)
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  tests/ecosystem/upgrade/test_upgrade.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
  tests/manage/z_cluster/upgrade/test_check_pdb_post_upgrade.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad, @red-hat-storage/brown-squad

Automates BZ OCS podDisruptionBudget prevents successful OCP upgrades (#3888)
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  tests/ecosystem/upgrade/test_upgrade.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
  tests/manage/z_cluster/upgrade/test_check_pdb_post_upgrade.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad, @red-hat-storage/brown-squad

update ECK version to 1.7 (#4763)
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck.1.6.0-all-in-one.yaml
  ocs_ci/templates/app-pods/esq.yaml
Owners: @red-hat-storage/top-level-reviewers

update ECK version to 1.7 (#4763)
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck.1.6.0-all-in-one.yaml
  ocs_ci/templates/app-pods/esq.yaml
Owners: @red-hat-storage/top-level-reviewers

PR to fix scale pvc expand test
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad
