Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Adding warning message if pod's can not be deleted
  ocs_ci/ocs/elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

change runtime timeout to aline the job_timeout in the CRD
  ocs_ci/ocs/small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers

chanching E2Etest to PASTest
  tests/e2e/performance/test_pvc_bulk_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

Fix logs
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

fix doc string
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

add replication to bc
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/bucketclass.py
  ocs_ci/ocs/resources/mcg.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

add sending data to ES
  ocs_ci/helpers/performance_lib.py
  tests/e2e/performance/test_pod_reattachtime.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

fixing setup
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

changing E2Etest to PASTest for TestPVCCreationPerformance (#4909)
  tests/e2e/performance/test_pvc_bulk_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

changing E2Etest to PASTest for TestPVCCreationPerformance (#4909)
  tests/e2e/performance/test_pvc_bulk_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

Install ODF Operator via UI (#4775)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Install ODF Operator via UI (#4775)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

improve the elasticsearch module (#4900)
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/ocs/exceptions.py
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

improve the elasticsearch module (#4900)
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/ocs/exceptions.py
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

Implement benchmark-operator into test_scale_small_file_workload.py (#4783)
  ocs_ci/ocs/small_file_workload.py
  tests/e2e/scale/test_scale_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Implement benchmark-operator into test_scale_small_file_workload.py (#4783)
  ocs_ci/ocs/small_file_workload.py
  tests/e2e/scale/test_scale_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Adding performance test template file
  tests/e2e/performance/Performance_template.py
Owners: @red-hat-storage/grey-squad

Add compressionMode parameter to cephblockpool yaml
  ocs_ci/helpers/helpers.py
  ocs_ci/templates/ocs-deployment/cephblockpool.yaml
Owners: @red-hat-storage/top-level-reviewers

Changed fio values for compression tests
  tests/manage/storageclass/test_create_2_sc_with_1_pool_comp_rep2.py
  tests/manage/storageclass/test_create_2sc_at_once_with_io.py
  tests/manage/storageclass/test_create_sc_reclaim_policy_rep2_comp.py
  tests/manage/storageclass/test_multiple_sc_comp_rep_data_delete.py
  tests/manage/storageclass/test_new_sc_rbd_replica2_3.py
Owners: @red-hat-storage/green-squad

Skip couchbase workload tests
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
Owners: @red-hat-storage/magenta-squad

Fix UI_deployment OCP4.8
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

Remove cb test from tier2
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
  tests/e2e/workloads/test_new_sc_rbd_e2e_workloads.py
Owners: @red-hat-storage/magenta-squad

sending data to ES server
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Elastic Search Support fix
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Fix UI_deployment OCP4.8 (#4919)
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix UI_deployment OCP4.8 (#4919)
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

Replace catalog-source name to redhat-operators
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/catalog_source.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/templates/ocs-deployment/catalog-source.yaml
  ocs_ci/templates/ocs-deployment/subscription.yaml
  ocs_ci/templates/ocs-deployment/subscription_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

Replace catalog-source name to redhat-operators
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/catalog_source.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/templates/ocs-deployment/catalog-source.yaml
  ocs_ci/templates/ocs-deployment/subscription.yaml
  ocs_ci/templates/ocs-deployment/subscription_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

Update how to get build ID in reports
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/ocs/resources/packagemanifest.py
  ocs_ci/utility/utils.py
  ocs_ci/utility/version.py
Owners: @red-hat-storage/top-level-reviewers

Update how to get build ID in reports
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/ocs/resources/packagemanifest.py
  ocs_ci/utility/utils.py
  ocs_ci/utility/version.py
Owners: @red-hat-storage/top-level-reviewers

Skip tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py due to memory issue
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
Owners: @red-hat-storage/orange-squad

Skip tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py due to memory issue (#4922)
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
Owners: @red-hat-storage/orange-squad

Skip tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py due to memory issue (#4922)
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_scale_osds_fill_75%_reboot_workers.py
Owners: @red-hat-storage/orange-squad

Enable console plugin
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

discon.cl: remove us_ds condition
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

discon.cl: ODF 4.9 - add newly required packages
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

discon.cl: properly use new registry images
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

mirroring redhat-operators separately not required
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

create redhat-operators CatalogSource for live
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

Fixing format and typo in returns
  ocs_ci/utility/version.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
