Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

minor updates
  ocs_ci/ocs/resources/pod.py
  tests/manage/pv_services/pvc_snapshot/test_restore_with_different_volume_mode.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Fix function which wait for benchmark to finish
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

Increase the timeout
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
Owners: @red-hat-storage/magenta-squad

Add namespace to create_pvc_clone
  ocs_ci/ocs/benchmark_operator.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pvc.py
  tests/conftest.py
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/performance/test_pvc_clone_performance.py
  tests/manage/pv_services/pvc_clone/test_pvc_to_pvc_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/green-squad

Move pvc_snapshot_and_clone folder to workloads dir
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
Owners: @red-hat-storage/magenta-squad

Move BMO_NAME namespace to benchmark file
  ocs_ci/ocs/benchmark_operator.py
  ocs_ci/ocs/constants.py
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Modify PVC Resize UI (#4806)
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Modify PVC Resize UI (#4806)
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Patch the benchmark job for timeout different from default of 1 Hour
  ocs_ci/ocs/benchmark_operator.py
  tests/e2e/performance/test_fio_benchmark.py
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Fix flake8 error
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

Removed multi zone usage in vsphere platform
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

disabling master machine set for AWS UPI deployment
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

Add BM Config Files for OCP 4.9 (#4821)
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

Add BM Config Files for OCP 4.9 (#4821)
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

Include od chnages in external cluster deployment
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

replace the patch function with CRD parameter in the benchmark-operator
  ocs_ci/ocs/benchmark_operator.py
  ocs_ci/templates/workloads/fio/benchmark_fio.yaml
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_fio_benchmark.py
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

remove the job object
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

Patch the benchmark job for timeout different from default of 1 Hour (#4828)
  ocs_ci/templates/workloads/fio/benchmark_fio.yaml
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
Owners: @red-hat-storage/top-level-reviewers

Patch the benchmark job for timeout different from default of 1 Hour (#4828)
  ocs_ci/templates/workloads/fio/benchmark_fio.yaml
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
Owners: @red-hat-storage/top-level-reviewers

Fix function which wait for benchmark to finish (#4825)
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

Fix function which wait for benchmark to finish (#4825)
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

Fix condition in wait_for_storage_pods() to ignore rook-ceph-detect-version pod (#4801)
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Fix condition in wait_for_storage_pods() to ignore rook-ceph-detect-version pod (#4801)
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Incorporating reviewers' comments
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
  tests/fixtures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Incorporating reviewers' comments
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
  tests/fixtures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

improving doc strings
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_bulk_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

improving doc strings
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_bulk_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Add test case for snapshot and restore of encrypted RBD PVCs
  tests/manage/pv_services/pvc_snapshot/test_encrypted_rbd_pvc_snapshot.py
Owners: @red-hat-storage/green-squad

Add csi-kms-connection-details setup as a fixture
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_encrypted_rbd_pvc_snapshot.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Update Polarion IDs
  tests/manage/pv_services/pvc_snapshot/test_encrypted_rbd_pvc_snapshot.py
Owners: @red-hat-storage/green-squad

Move pvc_snapshot_and_clone folder to workloads dir (#4782)
  ocs_ci/ocs/resources/pvc.py
  tests/conftest.py
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/performance/test_pvc_clone_performance.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
  tests/manage/pv_services/pvc_clone/test_pvc_to_pvc_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/green-squad

Move pvc_snapshot_and_clone folder to workloads dir (#4782)
  ocs_ci/ocs/resources/pvc.py
  tests/conftest.py
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
  tests/e2e/lifecycle/pvc_snapshot/test_pgsql_pvc_snapshot.py
  tests/e2e/performance/test_pvc_clone_performance.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_cloned_and_restored_pvc_resize.py
  tests/e2e/workloads/pvc_snapshot_and_clone/test_compressed_sc_and_support_snap_clone.py
  tests/manage/pv_services/pvc_clone/test_pvc_to_pvc_clone.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/green-squad

VMware ipi support for scale tests (#4817)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
  ocs_ci/templates/openshift-infra/machineset-vmware.yaml
  tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

VMware ipi support for scale tests (#4817)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
  ocs_ci/templates/openshift-infra/machineset-vmware.yaml
  tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

add openshiftdedicated platform to PlatformNodesFactory
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers

Address review comments
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_encrypted_rbd_pvc_snapshot.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Include od chnages in external cluster deployment (#4830)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Include od chnages in external cluster deployment (#4830)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Verify noobaa-operator during odf deployment (#4815)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/defaults.py
Owners: @red-hat-storage/top-level-reviewers

Verify noobaa-operator during odf deployment (#4815)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/defaults.py
Owners: @red-hat-storage/top-level-reviewers
