Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Multicluster configuration context management (#4875)
  docs/usage.md
  ocs_ci/framework/__init__.py
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/framework/tests/test_config.py
  ocs_ci/framework/tests/test_main.py
  ocs_ci/utility/aws.py
Owners: @red-hat-storage/top-level-reviewers

fixing review comments
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

flake error
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

changing parameters
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

Replace hardcoded list with constant usage
  ocs_ci/ocs/constants.py
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Verify the platform check is done on two uppercase strings
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

fix removing subpath from path
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add Polarion IDs
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Skip MCG cloud tests when running on a disconnected cluster (#5016)
  ocs_ci/ocs/constants.py
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Skip MCG cloud tests when running on a disconnected cluster (#5016)
  ocs_ci/ocs/constants.py
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

fixing problem in teardown
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

Added sleep of 5 second before click on "storage_cluster_tab".
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

Skip test_osd_node_balacing due to bz
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Fix tests selection based on squad marks (#5008)
  ocs_ci/framework/pytest_customization/ocscilib.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Fix tests selection based on squad marks (#5008)
  ocs_ci/framework/pytest_customization/ocscilib.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Enhance Bare Metal locking (#5003)
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Enhance Bare Metal locking (#5003)
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Updateing test parameters for Smallfiles performance test (#4986)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/perfresult.py
  ocs_ci/ocs/perftests.py
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Updateing test parameters for Smallfiles performance test (#4986)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/perfresult.py
  ocs_ci/ocs/perftests.py
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

fix imports
  ocs_ci/deployment/rosa.py
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

Adding a new test_bulk_pod_attachtime_performance test (#5017)
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

Adding a new test_bulk_pod_attachtime_performance test (#5017)
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

ODF4.9 UI deployment, fix "enable_default_porjects" locator
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Fix OCS deployment via UI (#4967)
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix OCS deployment via UI (#4967)
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

adding vm_network to install config
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Skip test_osd_node_balacing due to bz (#5026)
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Skip test_osd_node_balacing due to bz (#5026)
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

ODF4.9 UI deployment, fix "enable_default_porjects" locator (#5027)
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

ODF4.9 UI deployment, fix "enable_default_porjects" locator (#5027)
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Increase node_up validation timeout for scale vmware tests
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

Update detete obcs to multi chunks
  tests/e2e/scale/noobaa/test_scale_obc_create_delete.py
Owners: @red-hat-storage/orange-squad

Measure obc creation and deletion time.
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_create_delete.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Change delete OBCs in a batch.
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_create_delete.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

.
  ocs_ci/ocs/scale_noobaa_lib.py
Owners: @red-hat-storage/top-level-reviewers

Must Gather, verify ceph command does not return an error
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers

using version module
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

deployment: remove checks for rbd-thick sc
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

deployment: remove checks for rbd-thick sc
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.10 yaml files
  ocs_ci/framework/conf/ocs_version/ocs-4.10.yaml
Owners: @red-hat-storage/top-level-reviewers
