Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

fix tox: don't install deps for flake8 and black
  tox.ini
Owners: @red-hat-storage/top-level-reviewers

Add polarion id for external mode conf file (#4555)
  conf/ocsci/external_rhcs_cluster.yaml
Owners: @red-hat-storage/top-level-reviewers

Add polarion id for external mode conf file (#4555)
  conf/ocsci/external_rhcs_cluster.yaml
Owners: @red-hat-storage/top-level-reviewers

On teardown validate replica count of registry pod
  tests/e2e/registry/test_registry_by_increasing_num_of_image_registry_pods.py
Owners: @red-hat-storage/magenta-squad

fix doc string
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/brown-squad

Fix Add capacity failure for non-lso cluster.
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix Add capacity failure for non-lso cluster.
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add `rgw_endpoint` support for clusters running in external mode (#4548)
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add `rgw_endpoint` support for clusters running in external mode (#4548)
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

changing marker name
  ocs_ci/framework/pytest_customization/marks.py
  pytest.ini
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Use "wait_for_pods_to_be_running" function to verify pods status
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/brown-squad

The function wait_for_pods_to_be_running returns True or False, I added an assert statement
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/brown-squad

fixing reviewers comments
  pytest.ini
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Adding performance test cases for mcg and rgw.
  ocs_ci/ocs/hsbench.py
  ocs_ci/ocs/mcg_workload.py
  tests/e2e/scale/noobaa/test_perf_mcg.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

.
  tests/e2e/scale/noobaa/test_perf_mcg.py
Owners: @red-hat-storage/orange-squad

Seperate v1 and v2 for vault production job yamls
  conf/deployment/aws/ipi_1az_rhcos_3m_3w_vault_v1_external_with_namespace.yaml
  conf/deployment/aws/ipi_1az_rhcos_3m_3w_vault_v2_external_with_namespace.yaml
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_external_vault_v1_with_namespace.yaml
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_external_vault_v2_with_namespace.yaml
Owners: @red-hat-storage/top-level-reviewers

Skip test instead of rasing an exception
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/brown-squad

Fix for Scale test failure during upgrade tests
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Fix the function 'get_node_pods' to not throw exception in case of pod not found
  ocs_ci/ocs/node.py
Owners: @red-hat-storage/top-level-reviewers

Fix the function 'get_node_pods' to not throw exception in case of pod not found
  ocs_ci/ocs/node.py
Owners: @red-hat-storage/top-level-reviewers

disable ES from smallfile used in snapshot test
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Fix regression in DeploymentFactory
  ocs_ci/deployment/factory.py
Owners: @red-hat-storage/top-level-reviewers

Fix regression in DeploymentFactory
  ocs_ci/deployment/factory.py
Owners: @red-hat-storage/top-level-reviewers

Change test procedure
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Test case to verify the impact of plugin pod deletion on app pod (#4419)
  ocs_ci/ocs/platform_nodes.py
  ocs_ci/utility/ibmcloud.py
  tests/conftest.py
  tests/libtest/test_ibmcloud.py
  tests/manage/pv_services/pvc_snapshot/test_rbd_block_pvc_snapshot.py
  tests/manage/pv_services/pvc_snapshot/test_snapshot_at_different_pvc_utlilization_level.py
  tests/manage/z_cluster/nodes/test_check_pod_status_after_two_nodes_shutdown_recovery.py
  tests/manage/z_cluster/nodes/test_check_pods_status_after_node_failure.py
  tests/manage/z_cluster/nodes/test_nodes_restart.py
  tests/ui/test_pvc_ui.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad, @red-hat-storage/brown-squad

Test case to verify the impact of plugin pod deletion on app pod (#4419)
  ocs_ci/ocs/platform_nodes.py
  ocs_ci/utility/ibmcloud.py
  tests/conftest.py
  tests/libtest/test_ibmcloud.py
  tests/manage/pv_services/pvc_snapshot/test_rbd_block_pvc_snapshot.py
  tests/manage/pv_services/pvc_snapshot/test_snapshot_at_different_pvc_utlilization_level.py
  tests/manage/z_cluster/nodes/test_check_pod_status_after_two_nodes_shutdown_recovery.py
  tests/manage/z_cluster/nodes/test_check_pods_status_after_node_failure.py
  tests/manage/z_cluster/nodes/test_nodes_restart.py
  tests/ui/test_pvc_ui.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad, @red-hat-storage/brown-squad

Seperate v1 and v2 for vault production job yamls (#4563)
  conf/deployment/aws/ipi_1az_rhcos_3m_3w_vault_v1_external_with_namespace.yaml
  conf/deployment/aws/ipi_1az_rhcos_3m_3w_vault_v2_external_with_namespace.yaml
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_external_vault_v1_with_namespace.yaml
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_external_vault_v2_with_namespace.yaml
Owners: @red-hat-storage/top-level-reviewers

Seperate v1 and v2 for vault production job yamls (#4563)
  conf/deployment/aws/ipi_1az_rhcos_3m_3w_vault_v1_external_with_namespace.yaml
  conf/deployment/aws/ipi_1az_rhcos_3m_3w_vault_v2_external_with_namespace.yaml
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_external_vault_v1_with_namespace.yaml
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_external_vault_v2_with_namespace.yaml
Owners: @red-hat-storage/top-level-reviewers

Clean Code
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

GSS bug,Verify the num of mon pods is 3 when drain node (#4440)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

GSS bug,Verify the num of mon pods is 3 when drain node (#4440)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

fix imports
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
  tests/manage/z_cluster/nodes/test_disk_failures.py
  tests/manage/z_cluster/test_ceph_default_values_check.py
Owners: @red-hat-storage/green-squad, @red-hat-storage/brown-squad

rebase fix
  tests/manage/z_cluster/nodes/test_check_pod_status_after_two_nodes_shutdown_recovery.py
  tests/manage/z_cluster/nodes/test_check_pods_status_after_node_failure.py
  tests/manage/z_cluster/nodes/test_nodes_restart.py
Owners: @red-hat-storage/brown-squad

fix
  tests/manage/z_cluster/nodes/test_check_pod_status_after_two_nodes_shutdown_recovery.py
Owners: @red-hat-storage/brown-squad

Ypersky new perf mark (#4552)
  ocs_ci/framework/pytest_customization/marks.py
  pytest.ini
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Ypersky new perf mark (#4552)
  ocs_ci/framework/pytest_customization/marks.py
  pytest.ini
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

remove collection
  tests/conftest.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity_entry_exit_criteria.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add polarion-id
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/brown-squad

Update external cluster upgrade procedure
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Removed pg_balancer validation function
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers
