Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Add support for Disconnected deployment on vSphere (#5041)
  conf/README.md
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_disconnected.yaml
  ocs_ci/deployment/flexy.py
  ocs_ci/ocs/ocp.py
  ocs_ci/utility/proxy.py
Owners: @red-hat-storage/top-level-reviewers

fix disconnected lso deployment
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

fix disconnected lso deployment
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

updating pre-commit version to match with requirements-dev
  .pre-commit-config.yaml
Owners: @red-hat-storage/top-level-reviewers

updating pre-commit version to match with requirements-dev
  .pre-commit-config.yaml
Owners: @red-hat-storage/top-level-reviewers

remove getting fio results, addidng size to pvc (#5068)
  tests/manage/storageclass/test_create_2_sc_with_1_pool_comp_rep2.py
  tests/manage/storageclass/test_create_2sc_at_once_with_io.py
  tests/manage/storageclass/test_create_sc_reclaim_policy_rep2_comp.py
  tests/manage/storageclass/test_multiple_sc_comp_rep_data_delete.py
  tests/manage/storageclass/test_new_sc_rbd_replica2_3.py
Owners: @red-hat-storage/green-squad

remove getting fio results, addidng size to pvc (#5068)
  tests/manage/storageclass/test_create_2_sc_with_1_pool_comp_rep2.py
  tests/manage/storageclass/test_create_2sc_at_once_with_io.py
  tests/manage/storageclass/test_create_sc_reclaim_policy_rep2_comp.py
  tests/manage/storageclass/test_multiple_sc_comp_rep_data_delete.py
  tests/manage/storageclass/test_new_sc_rbd_replica2_3.py
Owners: @red-hat-storage/green-squad

Changed output type to string
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

Skip RBD thick test cases (#5085)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Skip RBD thick test cases (#5085)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

LSO deployment on disconnected vSphere cluster
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_3w_disconnected.yaml
Owners: @red-hat-storage/top-level-reviewers

LSO deployment on disconnected vSphere cluster
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_3w_disconnected.yaml
Owners: @red-hat-storage/top-level-reviewers

opm_index_prune_binary_image: add example image
  conf/README.md
Owners: @red-hat-storage/top-level-reviewers

Noobaa system testing
  ocs_ci/ocs/bucket_utils.py
  tests/e2e/systemtest/test_noobaa_system.py
Owners: @red-hat-storage/top-level-reviewers

add functions
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/bucket_utils.py
  tests/e2e/systemtest/test_noobaa_system.py
Owners: @red-hat-storage/top-level-reviewers

Increase timeout of lso
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

ODF4.9, LSO deployment via UI
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

remove no-relevant method
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

fix CSS element
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

tox issue
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

fixing average data written calculation
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Update reportportal documentation
  docs/results.md
Owners: @red-hat-storage/top-level-reviewers

Update reportportal documentation
  docs/results.md
Owners: @red-hat-storage/top-level-reviewers

Remove legacy reportportal pytest client code
  conf/README.md
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/templates/reporting/report_portal.cfg
  pytest.ini
  requirements.txt
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Remove legacy reportportal pytest client code
  conf/README.md
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/templates/reporting/report_portal.cfg
  pytest.ini
  requirements.txt
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Fixed pr_checks error.
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/orange-squad

Address timeout issue when getting obc's status.
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

noobaa pods respin and checking obcs status after node restart.
  ocs_ci/ocs/scale_noobaa_lib.py
Owners: @red-hat-storage/top-level-reviewers

Adjust scale_obc_count_io due to bz 2010560
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/orange-squad

noobaa pods respin.
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/orange-squad

Added IO and using get_pod_node() function to get node which noobaa's pod is running.
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Changed waiting to for obc's state validation. Updated code base on reviewer's comment.
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

tests/e2e/performance/test_pod_reattachtime.py
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Adding shutdown_wait_timeout for compute and control-plane machines (#4814)
  ocs_ci/deployment/flexy.py
  ocs_ci/deployment/vmware.py
  ocs_ci/utility/utils.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Adding shutdown_wait_timeout for compute and control-plane machines (#4814)
  ocs_ci/deployment/flexy.py
  ocs_ci/deployment/vmware.py
  ocs_ci/utility/utils.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Deploy KMS with CA Certificate[without Client Certificate and Client Private Key] (#4938)
  conf/ocsci/vault_external_standalone_ca_only_v1.yaml
  conf/ocsci/vault_external_standalone_ca_only_v2.yaml
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Deploy KMS with CA Certificate[without Client Certificate and Client Private Key] (#4938)
  conf/ocsci/vault_external_standalone_ca_only_v1.yaml
  conf/ocsci/vault_external_standalone_ca_only_v2.yaml
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Changed output type to string (#5093)
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

Changed output type to string (#5093)
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

Verify ceph command does not return an error from ODF4.9
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers
