Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

changing parametrization value
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

Fixing flake8 issues
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Fixing flake8 issues
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

fixing black error
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

fixing black error
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

fixing tox docs error
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

fixing tox docs error
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Verify noobaa-operator during odf deployment
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/defaults.py
Owners: @red-hat-storage/top-level-reviewers

Check osd node name exist in the node replacement verification steps
  ocs_ci/ocs/node.py
Owners: @red-hat-storage/top-level-reviewers

Test RBD Block volume mode RWX PVC (#4677)
  tests/conftest.py
  tests/manage/pv_services/test_rbd_rwx_pvc.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test RBD Block volume mode RWX PVC (#4677)
  tests/conftest.py
  tests/manage/pv_services/test_rbd_rwx_pvc.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

VMware ipi support for scale tests
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
  ocs_ci/templates/openshift-infra/machineset-vmware.yaml
Owners: @red-hat-storage/top-level-reviewers

Configure proxy server for Chrome browser if required (#4779)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/templates/ui/chrome-proxy-extension-background.js.j2
  ocs_ci/templates/ui/chrome-proxy-extension-manifest.json.j2
  ocs_ci/utility/flexy.py
Owners: @red-hat-storage/top-level-reviewers

Configure proxy server for Chrome browser if required (#4779)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/templates/ui/chrome-proxy-extension-background.js.j2
  ocs_ci/templates/ui/chrome-proxy-extension-manifest.json.j2
  ocs_ci/utility/flexy.py
Owners: @red-hat-storage/top-level-reviewers

Check osd node name exist in the node replacement verification steps (#4816)
  ocs_ci/ocs/node.py
Owners: @red-hat-storage/top-level-reviewers

Check osd node name exist in the node replacement verification steps (#4816)
  ocs_ci/ocs/node.py
Owners: @red-hat-storage/top-level-reviewers

When new catalog souce is created do not apply chages
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

When new catalog souce is created do not apply chages
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

quay test on 4.6
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/magenta-squad

Resolved machineset teardown issues
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

Resolved comments and black issues
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

PR to fix scale pvc expand test (#4795)
  ocs_ci/ocs/resources/objectconfigfile.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

PR to fix scale pvc expand test (#4795)
  ocs_ci/ocs/resources/objectconfigfile.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Rebased the code based on latest scale_lib.py changes
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Rebased the code based on latest scale_lib.py changes
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Add BM Config Files for OCP 4.9
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

Update multi-arch image pullspecs
  ocs_ci/ocs/fio_artefacts.py
Owners: @red-hat-storage/top-level-reviewers

Update multi-arch image pullspecs
  ocs_ci/ocs/fio_artefacts.py
Owners: @red-hat-storage/top-level-reviewers

Openstack IPI platform configuration
  conf/deployment/openstack/ipi_1az_rhcos_3m_3w.yaml
  ocs_ci/deployment/factory.py
  ocs_ci/deployment/openstack.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers

Increase max operations per run to 100 for stale workflow
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

Increase max operations per run to 100 for stale workflow
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

Restore with different volume mode
  ocs_ci/ocs/resources/pod.py
  ocs_ci/templates/app-pods/raw_block_pod.yaml
  ocs_ci/utility/utils.py
  tests/manage/pv_services/pvc_snapshot/test_restore_with_different_volume_mode.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Create mount point if not present
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Update Pod.install_packages
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Test case
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Add pod_dict_path
  tests/manage/pv_services/pvc_snapshot/test_restore_with_different_volume_mode.py
Owners: @red-hat-storage/green-squad

modify test name
  tests/manage/pv_services/pvc_snapshot/test_restore_with_different_volume_mode.py
Owners: @red-hat-storage/green-squad

minor update
  ocs_ci/ocs/resources/pod.py
  tests/manage/pv_services/pvc_snapshot/test_restore_with_different_volume_mode.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Add ROX access mode
  ocs_ci/ocs/resources/pod.py
  tests/manage/pv_services/pvc_snapshot/test_restore_with_different_volume_mode.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

add polarion id
  tests/manage/pv_services/pvc_snapshot/test_restore_with_different_volume_mode.py
Owners: @red-hat-storage/green-squad
