Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Skip full cluster sanity checks for MCG Only deployment
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/helpers/mcg_helpers.py
  tests/ecosystem/deployment/test_deployment.py
Owners: @red-hat-storage/top-level-reviewers

MCG only post deployment checks
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/helpers/helpers.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ecosystem/deployment/test_deployment.py
Owners: @red-hat-storage/top-level-reviewers

Skip full cluster sanity checks for MCG Only deployment
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/helpers/mcg_helpers.py
  tests/ecosystem/deployment/test_deployment.py
Owners: @red-hat-storage/top-level-reviewers

MCG Only deployment
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

post install verification
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

MCG only post deployment checks
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/helpers/helpers.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/ecosystem/deployment/test_deployment.py
Owners: @red-hat-storage/top-level-reviewers

MCG only deployment parameters
  conf/ocsci/mcg_only_deployment.yaml
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

post install verification
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Skip health check for MCG Only deployment during teardown
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

MCG only deployment parameters
  conf/ocsci/mcg_only_deployment.yaml
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

Adding Performance Dashboard DB management Module (#5019)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/utility/perf_dash/__init__.py
  ocs_ci/utility/perf_dash/dashboard_api.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Adding Performance Dashboard DB management Module (#5019)
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/utility/perf_dash/__init__.py
  ocs_ci/utility/perf_dash/dashboard_api.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Respin noobaa-core and noobaa-db pods with obcs creation (#4859)
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Respin noobaa-core and noobaa-db pods with obcs creation (#4859)
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Skip registry workload
  tests/e2e/registry/test_simple_registry_workload.py
Owners: @red-hat-storage/magenta-squad

Support OCS-CI test running over MCG-only clusters
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Replace check skip with a verification for nonexistent RGW pods
  ocs_ci/ocs/resources/mcg.py
Owners: @red-hat-storage/top-level-reviewers

Stop adding rp_launch_tags to pytest.ini
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Stop adding rp_launch_tags to pytest.ini
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Skip registry workload (#5115)
  tests/e2e/registry/test_simple_registry_workload.py
Owners: @red-hat-storage/magenta-squad

Skip registry workload (#5115)
  tests/e2e/registry/test_simple_registry_workload.py
Owners: @red-hat-storage/magenta-squad

Added polarion id to kms_ca_only configuration files
  conf/ocsci/vault_external_standalone_ca_only_v1.yaml
  conf/ocsci/vault_external_standalone_ca_only_v2.yaml
Owners: @red-hat-storage/top-level-reviewers

Added polarion id to kms_ca_only configuration files (#5118)
  conf/ocsci/vault_external_standalone_ca_only_v1.yaml
  conf/ocsci/vault_external_standalone_ca_only_v2.yaml
Owners: @red-hat-storage/top-level-reviewers

Added polarion id to kms_ca_only configuration files (#5118)
  conf/ocsci/vault_external_standalone_ca_only_v1.yaml
  conf/ocsci/vault_external_standalone_ca_only_v2.yaml
Owners: @red-hat-storage/top-level-reviewers

combine test test from 2 scripts file to one and improve the teardaown operation Adding 'wait for cleanup' function in the teardown and the full lop path
  ocs_ci/ocs/perftests.py
  tests/e2e/performance/csi_tests/test_multi_snapshots.py
  tests/e2e/performance/csi_tests/test_pvc_multi_snapshot_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

added noobaa_db_backup_and_recovery function to test_mcg_recovery
  ocs_ci/helpers/helpers.py
  tests/e2e/system/test_mcg_recovery.py
Owners: @red-hat-storage/top-level-reviewers

Add capactiy via UI on ODF4.9
  ocs_ci/ocs/ui/add_replace_device_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Change the var name self.operator -> self.operator_name
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

adjustment skeleton
  ocs_ci/ocs/resources/backingstore.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

adjustment skeleton
  ocs_ci/ocs/resources/backingstore.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

adding ES parameters
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Changing testcase to 4.9
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/block_pool.py
  ocs_ci/ocs/ui/storageclass.py
  ocs_ci/ocs/ui/views.py
  ocs_ci/utility/utils.py
  tests/ui/test_create_pool_block_pool.py
Owners: @red-hat-storage/top-level-reviewers

Remove acceptance marker from the test test_rbd_thick_provisioning
  tests/manage/pv_services/test_rbd_thick_provisioning.py
Owners: @red-hat-storage/green-squad

replace raise with sleep if can not get snap status
  tests/e2e/performance/csi_tests/test_pvc_multi_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

some spelling fixes
  tests/e2e/performance/csi_tests/test_pvc_multi_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Add capactiy via UI on ODF4.9 (#5025)
  ocs_ci/ocs/ui/add_replace_device_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Add capactiy via UI on ODF4.9 (#5025)
  ocs_ci/ocs/ui/add_replace_device_ui.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

fixing review comment
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

add thread that periodically changes pagerduty secret
  ocs_ci/utility/workloadfixture.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

update checks
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
