Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Change PVC size
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

Remove WA for ODF 4.9 upgrade
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Remove WA for ODF 4.9 upgrade
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Implement namespace replication test
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/constants.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

create storagesystem once all the operators (odf,ocs and noobaa ) are in succeeded state.
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Implement object change replication test
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Remove redundant fstrings
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/resources/objectbucket.py
Owners: @red-hat-storage/top-level-reviewers

Improve version reporting
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Improve version reporting
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCP 4.9 GA config files
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-minus1-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Donot load vmware_ipi details from auth.yaml since we are deploying installation dynamically
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Donot load vmware_ipi details from auth.yaml since we are deploying installation dynamically
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Skip the deletion flow for storage providers where ULSs were not created
  ocs_ci/ocs/resources/cloud_uls.py
Owners: @red-hat-storage/top-level-reviewers

Modification of a comment
  tests/e2e/performance/test_pvc_clone_performance.py
Owners: @red-hat-storage/grey-squad

Modification of a comment
  tests/e2e/performance/test_pvc_clone_performance.py
Owners: @red-hat-storage/grey-squad

Change delete project fixture
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCP 4.9 GA config files (#4976)
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-minus1-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Adding OCP 4.9 GA config files (#4976)
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-minus1-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.9-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Stage testing only from stage registry
  ocs_ci/deployment/deployment.py
  ocs_ci/templates/ocs-deployment/stageImageContentSourcePolicy.yaml
Owners: @red-hat-storage/top-level-reviewers

Stage testing only from stage registry
  ocs_ci/deployment/deployment.py
  ocs_ci/templates/ocs-deployment/stageImageContentSourcePolicy.yaml
Owners: @red-hat-storage/top-level-reviewers

pod reattach different files number
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

fix for comment - Use constant values for Noobaa resources
  tests/manage/mcg/test_host_node_failure.py
Owners: @red-hat-storage/red-squad

Fix the object change test flow
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

passing value for TimeoutExpiredError in verify_operator_succeeded
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

Increased vmware IPI deployment timeout to 1.30hrs
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Disable only specific source when deploying ODF
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/catalog_source.py
Owners: @red-hat-storage/top-level-reviewers

Disable only specific source when deploying ODF
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/catalog_source.py
Owners: @red-hat-storage/top-level-reviewers

Changed fio values for compression tests (#4913)
  tests/manage/storageclass/test_create_2_sc_with_1_pool_comp_rep2.py
  tests/manage/storageclass/test_create_2sc_at_once_with_io.py
  tests/manage/storageclass/test_create_sc_reclaim_policy_rep2_comp.py
  tests/manage/storageclass/test_multiple_sc_comp_rep_data_delete.py
  tests/manage/storageclass/test_new_sc_rbd_replica2_3.py
Owners: @red-hat-storage/green-squad

Changed fio values for compression tests (#4913)
  tests/manage/storageclass/test_create_2_sc_with_1_pool_comp_rep2.py
  tests/manage/storageclass/test_create_2sc_at_once_with_io.py
  tests/manage/storageclass/test_create_sc_reclaim_policy_rep2_comp.py
  tests/manage/storageclass/test_multiple_sc_comp_rep_data_delete.py
  tests/manage/storageclass/test_new_sc_rbd_replica2_3.py
Owners: @red-hat-storage/green-squad

increase timeout only for ROSA
  tests/manage/pv_services/test_ceph_daemon_kill_during_resource_deletion.py
Owners: @red-hat-storage/green-squad

added option for different url login
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

passing value for TimeoutExpiredError in verify_operator_succeeded (#4990)
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

passing value for TimeoutExpiredError in verify_operator_succeeded (#4990)
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

moved fundtion get_ocp_url to helper_ui file
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

moved function get_ocp_url to ocp.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

add missing docstring
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

adding 1M files test cases
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

create storagesystem once all the operators are in succeeded state. (#4970)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

create storagesystem once all the operators are in succeeded state. (#4970)
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Adding shutdown_wait_timeout for compute and control-plane machines
  ocs_ci/deployment/vmware.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
