Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Fixing format and typo in returns
  ocs_ci/utility/version.py
Owners: @red-hat-storage/top-level-reviewers

utilize new constants and disable_default_sources
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

formatting patch command
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

GSS Closed Loop BZ:1904302
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/brown-squad

Skip couchbase workload tests (#4918)
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
  tests/e2e/workloads/test_new_sc_rbd_e2e_workloads.py
Owners: @red-hat-storage/magenta-squad

Skip couchbase workload tests (#4918)
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
  tests/e2e/workloads/test_new_sc_rbd_e2e_workloads.py
Owners: @red-hat-storage/magenta-squad

add new condion for z stream
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

added skipif_ocs_version decorator
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Verify 'noobaa-service-monitor' does not exist after OCS upgrade
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Fix get version method
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

fixing review comments
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Enhancements for test_worker_nodes_network_failures.py - Use interface value instead of scenario for parametrization - Minor enhancements and removal of code which is not required
  tests/manage/z_cluster/nodes/test_worker_nodes_network_failures.py
Owners: @red-hat-storage/brown-squad

Add ServiceAccount to an additional anyuid SCC to allow it's usage during pod creation
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

add polarion-id
  ocs_ci/ocs/constants.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

Code fixes
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  tests/ui/test_pv_encryption_ui.py
Owners: @red-hat-storage/top-level-reviewers

Code changes
  ocs_ci/ocs/ui/helpers_ui.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

PV encryption
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/sc_ui.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

Minor changes
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

PV encryption
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/sc_ui.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

Minor changes
  ocs_ci/ocs/ui/helpers_ui.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

Code fixes
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pv_encryption.py
  tests/ui/test_pv_encryption_ui.py
Owners: @red-hat-storage/top-level-reviewers

Vault setup
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/utility/kms.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

Code changes
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

PV Encryption
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pv_encryption_ui.py
Owners: @red-hat-storage/top-level-reviewers

PV encryption
  ocs_ci/ocs/ui/sc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

Delete SC via UI
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers

PV encryption
  ocs_ci/ocs/ui/sc_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Minor fixes
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/utility/kms.py
  tests/ui/test_pv_encryption_ui.py
Owners: @red-hat-storage/top-level-reviewers

Feedback implementation
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  ocs_ci/utility/kms.py
  tests/ui/test_pv_encryption_ui.py
Owners: @red-hat-storage/top-level-reviewers

Feedback
  ocs_ci/ocs/ui/helpers_ui.py
  tests/ui/test_pv_encryption_ui.py
Owners: @red-hat-storage/top-level-reviewers

feedback implementation
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

pyautogui
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Disable default sources when upgrading.
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/catalog_source.py
Owners: @red-hat-storage/top-level-reviewers

Disable default sources when upgrading.
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/catalog_source.py
Owners: @red-hat-storage/top-level-reviewers

adding exceptions
  ocs_ci/ocs/exceptions.py
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Pull RP launch URL from config if it already exists
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add ReportPortal launch attributes to the JUnit report XML as custom properties
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/utility/reporting.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add ReportPortal launch attributes to the JUnit report XML as custom properties
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/utility/reporting.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Pull RP launch URL from config if it already exists
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add skip for nodes operation dependent test till implementation
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/must_gather/const_must_gather.py
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/ocs.py
  tests/conftest.py
  tests/e2e/flowtest/mcg/test_mcg_namespace_disruptions_crd.py
  tests/e2e/flowtest/mcg/test_mcg_namespace_disruptions_rpc.py
  tests/e2e/kcs/test_noobaa_db_backup_and_recovery.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_lifecyle_crd.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_lifecyle_rpc.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_s3_ops_crd.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_s3_ops_rpc.py
  tests/e2e/logging/test_openshift-logging.py
  tests/e2e/monitoring/conftest.py
  tests/e2e/registry/conftest.py
  tests/e2e/workloads/conftest.py
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/prometheus/test_hpa.py
  tests/manage/monitoring/prometheus/test_noobaa.py
  tests/manage/monitoring/prometheusmetrics/test_mcg_hpa.py
  tests/manage/monitoring/prometheusmetrics/test_monitoring_defaults.py
  tests/manage/monitoring/prometheusmetrics/test_ocs_utilization.py
  tests/manage/pv_services/conftest.py
  tests/manage/pv_services/pvc_resize/test_pvc_expansion.py
  tests/manage/pv_services/test_raw_block_pv.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
  tests/manage/z_cluster/cluster_expansion/test_node_expansion.py
  tests/manage/z_cluster/conftest.py
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad, @red-hat-storage/blue-squad, @red-hat-storage/green-squad, @red-hat-storage/brown-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
