Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Fix problem when sending pod_factory with volume mode block with no pod_dict_path
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Fix file validation in Scale test (#4716)
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/orange-squad

Fix file validation in Scale test (#4716)
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/orange-squad

Update Pull-secret link (#4697)
  docs/getting_started.md
Owners: @red-hat-storage/top-level-reviewers

Update Pull-secret link (#4697)
  docs/getting_started.md
Owners: @red-hat-storage/top-level-reviewers

Fix the log
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

change log message
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

Add capacity via UI on OCP4.8
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/ui/add_replace_device_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

try to fix conflict issue
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix for PR failures
  tests/manage/mcg/test_bucket_deletion.py
  tests/manage/mcg/test_multicloud.py
  tests/manage/mcg/test_object_integrity.py
  tests/manage/mcg/test_write_to_bucket.py
Owners: @red-hat-storage/red-squad

Fix for PR failures
  tests/manage/mcg/test_bucket_deletion.py
  tests/manage/mcg/test_multicloud.py
  tests/manage/mcg/test_object_integrity.py
  tests/manage/mcg/test_write_to_bucket.py
Owners: @red-hat-storage/red-squad

fix conflict issue
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/ui/helpers_ui.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Change ui_add_capacity function name.
  ocs_ci/ocs/ui/helpers_ui.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

collect pagerduty incidents in workload fixtures
  ocs_ci/utility/pagerduty.py
  ocs_ci/utility/workloadfixture.py
Owners: @red-hat-storage/top-level-reviewers

fix create pod when raw block is used with no pod_dict_path
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

fix create pod when raw block is used with no pod_dict_path
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Add data integrity check for fio workload
  ocs_ci/ocs/resources/pod.py
  tests/e2e/performance/test_io_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Added io_verification_method param on default_config file
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

fix conflict issue
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Verify flag enabled by default
  tests/e2e/performance/test_io_performance.py
Owners: @red-hat-storage/grey-squad

add empty line
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Add BAREMETALPSI_PLATFORM in the 'if' condition for instantiating platform specific classes: Fixes #4722
  ocs_ci/deployment/factory.py
Owners: @red-hat-storage/top-level-reviewers

Add BAREMETALPSI_PLATFORM in the 'if' condition for instantiating platform specific classes: Fixes #4722
  ocs_ci/deployment/factory.py
Owners: @red-hat-storage/top-level-reviewers

Addressing Coady's review comments: Create a list BAREMETAL_PLATFORMS to include all BAREMETAL platform variants
  ocs_ci/deployment/factory.py
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Addressing Coady's review comments: Create a list BAREMETAL_PLATFORMS to include all BAREMETAL platform variants
  ocs_ci/deployment/factory.py
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

fix logging hanledrs hardcoded idex issue
  ocs_ci/framework/pytest_customization/reports.py
Owners: @red-hat-storage/top-level-reviewers

fix logging hanledrs hardcoded idex issue
  ocs_ci/framework/pytest_customization/reports.py
Owners: @red-hat-storage/top-level-reviewers

multiarch image fix and function rename
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/templates/app-pods/awscli_multiarch.yaml
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

multiarch image fix and function rename
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/templates/app-pods/awscli_multiarch.yaml
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

create PagerDuty service
  ocs_ci/utility/pagerduty.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

requre specific google-auth version
  setup.py
Owners: @red-hat-storage/top-level-reviewers

requre specific google-auth version
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Refine configuration values for our stale issue/pr workflow
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

Refine configuration values for our stale issue/pr workflow
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

requre specific google-auth version
  setup.py
Owners: @red-hat-storage/top-level-reviewers

requre specific google-auth version
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Ignore images with the same SHA
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Ignore images with the same SHA
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

requre specific google-auth version
  setup.py
Owners: @red-hat-storage/top-level-reviewers

Adding skip for some of tier4 tests for power (#4090)
  tests/manage/pv_services/test_rwo_pvc_fencing_unfencing.py
  tests/manage/z_cluster/nodes/test_worker_nodes_network_failures.py
Owners: @red-hat-storage/green-squad, @red-hat-storage/brown-squad
