Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Changed pod_dict_path to pod_dict, refer bug issues-2524
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Resolved conflicts
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Docstring
  ocs_ci/ocs/resources/pod.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

created new ui_utils.py file which contains function to work with dynamic web elements
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/ui_utils.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Feedback implementation
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

undo changes
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

Feedback implementation
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Added load config file functionality, fix issue #4588 (#4595)
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

Added load config file functionality, fix issue #4588 (#4595)
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

add snapshot verification
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/green-squad

update ceph progress verification
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/green-squad

remove f-string
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/green-squad

remove unused parameters
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/green-squad

Verify RBD trash purge command if the RBD PVCs have snapshots
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/green-squad

update snapshot_factory
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

made force flag optional, updated deprecate flag
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Fixes
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/ui_utils.py
Owners: @red-hat-storage/top-level-reviewers

Fixes
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/ui_utils.py
Owners: @red-hat-storage/top-level-reviewers

Fix BZ 1941939 automation. Increase fio runtime
  tests/manage/z_cluster/test_mon_log_trimming.py
Owners: @red-hat-storage/brown-squad

Fix BZ 1941939 automation. (#4658)
  tests/manage/z_cluster/test_mon_log_trimming.py
Owners: @red-hat-storage/brown-squad

Fix BZ 1941939 automation. (#4658)
  tests/manage/z_cluster/test_mon_log_trimming.py
Owners: @red-hat-storage/brown-squad

Renamed test_pvc_metrics to test_osd_metrics
  tests/e2e/scale/test_osd_metrics.py
Owners: @red-hat-storage/orange-squad

Check whether the df output is empty before processing the value in test_resource_deletion_during_pvc_expansion
  tests/manage/pv_services/pvc_resize/test_resource_deletion_during_pvc_expansion.py
Owners: @red-hat-storage/green-squad

implement benchmark-operator into the fio benchmark test
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
  tests/e2e/performance/test_fio_benchmark.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

replace the wait in the end from sleep to wait for ceph_health_check()
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

Fix indentation error
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

Remove fixture from the test
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

wait for containers in pod to be ready
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

replace the get_nodes() function with get_worker_nodes() function
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

Updating elasticsearch object to 1.6.0
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck.1.3.1-all-in-one.yaml
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

pvc_attach_time - run the test multiple times
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Adding exit point from the wait for operator after 30 sec.
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

Fixing some comments syntax
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

Use released RHCOS 4.8 image for BM deployment
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

Use released RHCOS 4.8 image for BM deployment
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

Use released RHCOS 4.7 image for BM deployment
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

add the _is_ready function and use the Timeoutsampler
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

version
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
Owners: @red-hat-storage/top-level-reviewers

Change channel for OCP 4.8-GA config to stable
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Change channel for OCP 4.8-GA config to stable
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
