Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

version
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in deployment module
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in deployment module
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in deployment LSO helpers
  ocs_ci/deployment/helpers/lso_helpers.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in deployment LSO helpers
  ocs_ci/deployment/helpers/lso_helpers.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in storage_cluster module
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in storage_cluster module
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix versioning in marks module
  ocs_ci/framework/pytest_customization/marks.py
Owners: @red-hat-storage/top-level-reviewers

Fix versioning in marks module
  ocs_ci/framework/pytest_customization/marks.py
Owners: @red-hat-storage/top-level-reviewers

fix subpath in template
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Test case to verify subpath
  ocs_ci/helpers/helpers.py
  tests/conftest.py
  tests/manage/pv_services/test_verify_subpath.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

change access mode to rwx
  tests/manage/pv_services/test_verify_subpath.py
Owners: @red-hat-storage/green-squad

apply black
  ocs_ci/helpers/helpers.py
  tests/manage/pv_services/test_verify_subpath.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

add polarion id
  tests/manage/pv_services/test_verify_subpath.py
Owners: @red-hat-storage/green-squad

Test case to verify subpath
  ocs_ci/helpers/helpers.py
  tests/conftest.py
  tests/manage/pv_services/test_verify_subpath.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Fix `test_block_read_resource_in_namespace_bucket_crd` (#4858)
  tests/manage/mcg/test_namespace_crd.py
Owners: @red-hat-storage/red-squad

Fix `test_block_read_resource_in_namespace_bucket_crd` (#4858)
  tests/manage/mcg/test_namespace_crd.py
Owners: @red-hat-storage/red-squad

fixing flake8 error
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

fixing flake8 error
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

Add support for custom vCPU configuration in RHV platform (#4443)
  conf/deployment/rhv/ipi_1az_rhcos_3m_3w.yaml
  conf/deployment/rhv/ipi_1az_rhcos_lso_3m_3w.yaml
  conf/ocsci/rhv_ipi.yaml
  ocs_ci/templates/ocp-deployment/install-config-rhv-ipi.yaml.j2
Owners: @red-hat-storage/top-level-reviewers

Add support for custom vCPU configuration in RHV platform (#4443)
  conf/deployment/rhv/ipi_1az_rhcos_3m_3w.yaml
  conf/deployment/rhv/ipi_1az_rhcos_lso_3m_3w.yaml
  conf/ocsci/rhv_ipi.yaml
  ocs_ci/templates/ocp-deployment/install-config-rhv-ipi.yaml.j2
Owners: @red-hat-storage/top-level-reviewers

Adding namespace while collecting logs for pgbench (#4873)
  ocs_ci/ocs/pgsql.py
Owners: @red-hat-storage/top-level-reviewers

Adding namespace while collecting logs for pgbench (#4873)
  ocs_ci/ocs/pgsql.py
Owners: @red-hat-storage/top-level-reviewers

Modify the cpu usage metric
  tests/manage/monitoring/prometheusmetrics/test_ocs_utilization.py
Owners: @red-hat-storage/blue-squad

innitial commit
  tests/manage/z_cluster/test_osd_flapping_alert.py
Owners: @red-hat-storage/brown-squad

ready for review
  ocs_ci/ocs/constants.py
  tests/manage/monitoring/prometheus/test_osd.py
  tests/manage/z_cluster/test_osd_flapping_alert.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/blue-squad, @red-hat-storage/brown-squad

innitial commit
  tests/manage/z_cluster/test_osd_flapping_alert.py
Owners: @red-hat-storage/brown-squad

doc changes
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/prometheus/test_osd.py
Owners: @red-hat-storage/blue-squad

polarion id and try/except
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/prometheus/test_osd.py
Owners: @red-hat-storage/blue-squad

fixture added
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/prometheus/test_osd.py
Owners: @red-hat-storage/blue-squad

logic changes
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/prometheus/test_osd.py
Owners: @red-hat-storage/blue-squad

fix stringf
  tests/manage/monitoring/prometheus/test_osd.py
Owners: @red-hat-storage/blue-squad

Small fixes
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add ROSA platform config for multi zone availability
  conf/deployment/rosa/ipi_3az_rhcos_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Add ROSA platform config for multi zone availability
  conf/deployment/rosa/ipi_3az_rhcos_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Test case to verify subpath (#4638)
  ocs_ci/helpers/helpers.py
  tests/conftest.py
  tests/manage/pv_services/test_verify_subpath.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test case to verify subpath (#4638)
  ocs_ci/helpers/helpers.py
  tests/conftest.py
  tests/manage/pv_services/test_verify_subpath.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test case to verify creation of encrypted RBD PVC clone (#4867)
  tests/manage/pv_services/pvc_clone/test_encrypted_rbd_pvc_clone.py
Owners: @red-hat-storage/green-squad

Test case to verify creation of encrypted RBD PVC clone (#4867)
  tests/manage/pv_services/pvc_clone/test_encrypted_rbd_pvc_clone.py
Owners: @red-hat-storage/green-squad

Implement benchmark-operator into test_scale_small_file_workload.py Verify that there is enough storage capacity to run the test Change the leak resio from 50% to 20% and set the size to 3 GiB
  ocs_ci/ocs/small_file_workload.py
  tests/e2e/scale/test_scale_small_file_workload.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
