Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Fix indentation error
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

[Do not merge] Delete BZ marker 1943137
  tests/manage/monitoring/prometheus/test_capacity.py
Owners: @red-hat-storage/blue-squad

Add vault details to default_config.yaml file
  ocs_ci/framework/conf/default_config.yaml
Owners: @red-hat-storage/top-level-reviewers

log vm names instead of objects
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers

Clear warnings and leftovers after test disk failures (#4603)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/osd_operations.py
  ocs_ci/ocs/resources/job.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/pod.py
  tests/manage/z_cluster/nodes/test_disk_failures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Clear warnings and leftovers after test disk failures (#4603)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/osd_operations.py
  ocs_ci/ocs/resources/job.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/pod.py
  tests/manage/z_cluster/nodes/test_disk_failures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Scale to create 12 OCS workers, 36 OSDs, 6000 PVCs
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Scale to create 12 OCS workers, 36 OSDs, 6000 PVCs
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Update GA template for OCP 4.8 (#4628)
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-minus1-config.yaml
Owners: @red-hat-storage/top-level-reviewers

Update GA template for OCP 4.8 (#4628)
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.8-ga-minus1-config.yaml
Owners: @red-hat-storage/top-level-reviewers

conftest adjustment
  tests/manage/pv_services/conftest.py
Owners: @red-hat-storage/green-squad

Catch and report session scope fixture teardown failures in a separated dedicated test case (#4613)
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
  tests/test_failure_propagator.py
Owners: @red-hat-storage/brown-squad, @red-hat-storage/top-level-reviewers

Catch and report session scope fixture teardown failures in a separated dedicated test case (#4613)
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
  tests/test_failure_propagator.py
Owners: @red-hat-storage/brown-squad, @red-hat-storage/top-level-reviewers

Adding retries
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Add new Ceph values to ceph config values saved in constants.py (#4623)
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Add new Ceph values to ceph config values saved in constants.py (#4623)
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

adding pool and deleting v1
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/block_pool.py
  ocs_ci/ocs/ui/storageclass.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_create_pool_block_pool.py
Owners: @red-hat-storage/top-level-reviewers

adding pool and deleting v1
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/block_pool.py
  ocs_ci/ocs/ui/storageclass.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_create_pool_block_pool.py
Owners: @red-hat-storage/top-level-reviewers

updated doc string
  ocs_ci/deployment/helpers/prechecks.py
Owners: @red-hat-storage/top-level-reviewers

Unskip RGW multipart upload test
  tests/manage/rgw/test_multipart_upload.py
Owners: @red-hat-storage/red-squad

quay operator on openshift
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/quay_operator.py
  ocs_ci/templates/workloads/quay/quay_registry.yaml
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

new line
  ocs_ci/templates/workloads/quay/quay_registry.yaml
  ocs_ci/templates/workloads/quay/quay_subscription.yaml
Owners: @red-hat-storage/top-level-reviewers

skip template check for vSphere IPI (#4587)
  ocs_ci/deployment/helpers/prechecks.py
Owners: @red-hat-storage/top-level-reviewers

skip template check for vSphere IPI (#4587)
  ocs_ci/deployment/helpers/prechecks.py
Owners: @red-hat-storage/top-level-reviewers

log vm names instead of objects (#4633)
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers

log vm names instead of objects (#4633)
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers

Wait for new nodes to settle down in IBM cloud (#4619)
  ocs_ci/ocs/node.py
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Wait for new nodes to settle down in IBM cloud (#4619)
  ocs_ci/ocs/node.py
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Fix osd_encryption_verification function (#4614)
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix osd_encryption_verification function (#4614)
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

wait for containers in pod to be ready
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

replace the get_nodes() function with get_worker_nodes() function
  ocs_ci/ocs/benchmark_operator.py
Owners: @red-hat-storage/top-level-reviewers

GSS bug, Verify there is no xss vulnerability with noobaa management console
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_noobaa_console.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add polarion id
  tests/manage/z_cluster/test_noobaa_xss_vulnerability.py
Owners: @red-hat-storage/brown-squad

Change pytest file name and encode html file
  tests/manage/z_cluster/test_noobaa_xss_vulnerability.py
Owners: @red-hat-storage/brown-squad

Change assertion method.
  tests/manage/z_cluster/test_noobaa_xss_vulnerability.py
Owners: @red-hat-storage/brown-squad

Address review comments
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/green-squad

use constant var
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

GSS bug, Verify there is no xss vulnerability with noobaa management console. (#4592)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_noobaa_xss_vulnerability.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

GSS bug, Verify there is no xss vulnerability with noobaa management console. (#4592)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_noobaa_xss_vulnerability.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
