Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Fix versions in must_gether module
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in must_gether module
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in rgwutils module
  ocs_ci/utility/rgwutils.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in ocs.version module
  ocs_ci/ocs/version.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in few MCG related modules
  ocs_ci/ocs/resources/bucket_policy.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/resources/objectbucket.py
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in few MCG related modules
  ocs_ci/ocs/resources/bucket_policy.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/resources/objectbucket.py
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in utils module
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in ocs.version module
  ocs_ci/ocs/version.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in utils module
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in rgwutils module
  ocs_ci/utility/rgwutils.py
Owners: @red-hat-storage/top-level-reviewers

Remove OCS version related functions from OCP module
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Fix versions in test_osd_node_balancing.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Fix versions in test_osd_node_balancing.py
  tests/e2e/scale/test_osd_node_balancing.py
Owners: @red-hat-storage/orange-squad

Remove OCS version related functions from OCP module
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

reduce the number of tests - total test time
  tests/e2e/scale/test_scale_small_file_workload.py
Owners: @red-hat-storage/orange-squad

[Close loop BZ: 1991361] Test case for noobaa rebuild (#4876)
  ocs_ci/ocs/constants.py
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

[Close loop BZ: 1991361] Test case for noobaa rebuild (#4876)
  ocs_ci/ocs/constants.py
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

Added tests/ui/test_create_pool_block_pool.py ocs_ci/ocs/ui/storageclass.py ocs_ci/ocs/ui/block_pool.py and changes in other files
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/block_pool.py
  ocs_ci/ocs/ui/storageclass.py
  ocs_ci/ocs/ui/views.py
  tests/conftest.py
  tests/ui/test_create_pool_block_pool.py
Owners: @red-hat-storage/top-level-reviewers

Added back some removed content from rebase
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Block pool UI create use and delete (#4645)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/block_pool.py
  ocs_ci/ocs/ui/storageclass.py
  ocs_ci/ocs/ui/views.py
  tests/conftest.py
  tests/ui/test_create_pool_block_pool.py
Owners: @red-hat-storage/top-level-reviewers

Block pool UI create use and delete (#4645)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/block_pool.py
  ocs_ci/ocs/ui/storageclass.py
  ocs_ci/ocs/ui/views.py
  tests/conftest.py
  tests/ui/test_create_pool_block_pool.py
Owners: @red-hat-storage/top-level-reviewers

registering the custom markers
  pytest.ini
Owners: @red-hat-storage/top-level-reviewers

registering the custom markers
  pytest.ini
Owners: @red-hat-storage/top-level-reviewers

Skip restore of PVC using a different pool for ODF<4.9
  tests/manage/pv_services/pvc_snapshot/test_restore_snapshot_using_different_sc.py
Owners: @red-hat-storage/green-squad

Fix version check
  tests/manage/pv_services/pvc_snapshot/test_restore_snapshot_using_different_sc.py
Owners: @red-hat-storage/green-squad

Skip snapshot restore using different pool for ODF < 4.9 (#4897)
  tests/manage/pv_services/pvc_snapshot/test_restore_snapshot_using_different_sc.py
Owners: @red-hat-storage/green-squad

Skip snapshot restore using different pool for ODF < 4.9 (#4897)
  tests/manage/pv_services/pvc_snapshot/test_restore_snapshot_using_different_sc.py
Owners: @red-hat-storage/green-squad

Update change_default_storageclass() to iterate over a list of SC
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

setting the storageclass as optional parameter delete progect if PVC did not create Delete the namespace if it is already exists
  ocs_ci/ocs/elasticsearch.py
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

Increase PV delete wait time and fix IO storage_type
  tests/manage/pv_services/test_ceph_daemon_kill_during_resource_deletion.py
Owners: @red-hat-storage/green-squad

Fix storage_type parameteer in the test test_disruptive_during_pod_pvc_deletion
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Owners: @red-hat-storage/green-squad

WIP Install ODF Operator via UI
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Fix "create storage system" button issue
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Fix ODF UI deployment
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Change ui element
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

move create_catalog_source function from deployment_ui.py to deployment.py
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

Modify the cpu usage metric (#4888)
  tests/manage/monitoring/prometheusmetrics/test_ocs_utilization.py
Owners: @red-hat-storage/blue-squad

Modify the cpu usage metric (#4888)
  tests/manage/monitoring/prometheusmetrics/test_ocs_utilization.py
Owners: @red-hat-storage/blue-squad

Change version comparison method
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

make the exceptions more specific and not generic
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/ocs/exceptions.py
  tests/libtest/test_elasticsearch.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
