Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

Adding skip for some of tier4 tests for power (#4090)
  tests/manage/pv_services/test_rwo_pvc_fencing_unfencing.py
  tests/manage/z_cluster/nodes/test_worker_nodes_network_failures.py
Owners: @red-hat-storage/green-squad, @red-hat-storage/brown-squad

Update back constants' Ceph config values for 4.7 and below clusters (#4683)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/test_ceph_default_values_check.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Update back constants' Ceph config values for 4.7 and below clusters (#4683)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/test_ceph_default_values_check.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add polarion ID for existing performance test Add polarion ID "OCS-2622" for test_pvc_multi_clone_performance.py test
  tests/e2e/performance/test_pvc_multi_clone_performance.py
Owners: @red-hat-storage/grey-squad

Run add capacity test via cli if there is a SSL ERROR (#4642)
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/ui/add_replace_device_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Run add capacity test via cli if there is a SSL ERROR (#4642)
  ocs_ci/ocs/resources/storage_cluster.py
  ocs_ci/ocs/ui/add_replace_device_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
  tests/manage/z_cluster/cluster_expansion/test_add_capacity.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

delete all vdbench leftovers
  ocs_ci/ocs/constants.py
  ocs_ci/templates/workloads/vdbench/VDBench-BCurve-FS.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-BCurve.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Basic-FS.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Basic.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Max-All.yaml
  ocs_ci/templates/workloads/vdbench/VDBench.yaml
  ocs_ci/templates/workloads/vdbench/vdbench_full.yaml
Owners: @red-hat-storage/top-level-reviewers

Automates BZ OCS podDisruptionBudget prevents successful OCP upgrades
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/constants.py
  tests/ecosystem/upgrade/test_upgrade.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
  tests/manage/z_cluster/upgrade/test_check_pdb_post_upgrade.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad, @red-hat-storage/brown-squad

delete all vdbench leftovers (#4738)
  ocs_ci/ocs/constants.py
  ocs_ci/templates/workloads/vdbench/VDBench-BCurve-FS.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-BCurve.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Basic-FS.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Basic.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Max-All.yaml
  ocs_ci/templates/workloads/vdbench/VDBench.yaml
  ocs_ci/templates/workloads/vdbench/vdbench_full.yaml
Owners: @red-hat-storage/top-level-reviewers

delete all vdbench leftovers (#4738)
  ocs_ci/ocs/constants.py
  ocs_ci/templates/workloads/vdbench/VDBench-BCurve-FS.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-BCurve.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Basic-FS.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Basic.yaml
  ocs_ci/templates/workloads/vdbench/VDBench-Max-All.yaml
  ocs_ci/templates/workloads/vdbench/VDBench.yaml
  ocs_ci/templates/workloads/vdbench/vdbench_full.yaml
Owners: @red-hat-storage/top-level-reviewers

added debug logging before and after upgrade
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

added debug logging before and after upgrade
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

Test to delete mon services manually
  tests/manage/pv_services/test_del_mon_service_and_create_pvc.py
Owners: @red-hat-storage/green-squad

Correct the attribute Sanity
  tests/manage/pv_services/test_del_mon_service_and_create_pvc.py
Owners: @red-hat-storage/green-squad

Update correct bug number
  tests/manage/pv_services/test_del_mon_service_and_create_pvc.py
Owners: @red-hat-storage/green-squad

Add teardown to check the mon services are up
  tests/manage/pv_services/test_del_mon_service_and_create_pvc.py
Owners: @red-hat-storage/green-squad

Added reboot test to tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Added reboot test to tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Wait for the new osd node when we have minmum of OCS nodes, or when we have an extra OCS worker nodes to replace the old osd node
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Adding reboot tests to scale script tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Adding reboot tests to scale script tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_3_OCS_worker_nodes_and_1500_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Remove debug-only from stale workflow
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

Remove debug-only from stale workflow
  .github/workflows/stale.yml
Owners: @red-hat-storage/top-level-reviewers

Update scale_pgsql with new benchmark-operator changes
  ocs_ci/ocs/scale_pgsql.py
Owners: @red-hat-storage/top-level-reviewers

Added polarion IDs to other tests and resolved format issues.
  tests/e2e/performance/test_fio_benchmark.py
  tests/e2e/performance/test_pvc_bulk_clone_performance.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_multi_clone_performance.py
  tests/e2e/performance/test_pvc_multi_snapshot_performance.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Add new j-ddd prefix
  ocs_ci/cleanup/aws/defaults.py
Owners: @red-hat-storage/top-level-reviewers

Add new j-ddd prefix
  ocs_ci/cleanup/aws/defaults.py
Owners: @red-hat-storage/top-level-reviewers

Fix upgrade for IBM Cloud ROKS cluster
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/utility/secret.py
Owners: @red-hat-storage/top-level-reviewers

Fix upgrade for IBM Cloud ROKS cluster
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/utility/secret.py
Owners: @red-hat-storage/top-level-reviewers

create new Prometheus integration for PagerDuty
  ocs_ci/utility/pagerduty.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

fix variable name
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Change all timeoutsamplars of wl_setup_done from 180 to 360 in tests that where using it.
  tests/manage/pv_services/test_ceph_daemon_kill_during_resource_creation.py
  tests/manage/pv_services/test_change_reclaim_policy_of_pv.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_creation_and_io.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_deletion_and_io.py
  tests/manage/pv_services/test_pvc_disruptive.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_creation_and_io.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Owners: @red-hat-storage/green-squad

Change all timeoutsamplars of wl_setup_done from 180 to 360 in tests that where using it.
  tests/manage/pv_services/test_ceph_daemon_kill_during_resource_creation.py
  tests/manage/pv_services/test_change_reclaim_policy_of_pv.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_creation_and_io.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_deletion_and_io.py
  tests/manage/pv_services/test_pvc_disruptive.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_creation_and_io.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Owners: @red-hat-storage/green-squad

UI, Deployment and Add capacity Azure Internal cluster
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Add polarion ID for existing performance test (#4737)
  tests/e2e/performance/test_fio_benchmark.py
  tests/e2e/performance/test_pvc_bulk_clone_performance.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_multi_clone_performance.py
  tests/e2e/performance/test_pvc_multi_snapshot_performance.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Add polarion ID for existing performance test (#4737)
  tests/e2e/performance/test_fio_benchmark.py
  tests/e2e/performance/test_pvc_bulk_clone_performance.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_multi_clone_performance.py
  tests/e2e/performance/test_pvc_multi_snapshot_performance.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Update scale_pgsql with new benchmark-operator changes (#4744)
  ocs_ci/ocs/scale_pgsql.py
Owners: @red-hat-storage/top-level-reviewers

Update scale_pgsql with new benchmark-operator changes (#4744)
  ocs_ci/ocs/scale_pgsql.py
Owners: @red-hat-storage/top-level-reviewers

Update must_gather test for External Mode (#4239)
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Update must_gather test for External Mode (#4239)
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
