Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Fix for get_ceph_default_replica returning None value. (#4861)
  ocs_ci/ocs/cluster.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Updated code to resolve comments and enhanced the logic
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Added exception class to handle failure
  ocs_ci/ocs/exceptions.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Adding namespace while collecting logs for pgbench
  ocs_ci/ocs/pgsql.py
Owners: @red-hat-storage/top-level-reviewers

PR to fix scale_12_OCS worker nodes OSD (#4835)
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

PR to fix scale_12_OCS worker nodes OSD (#4835)
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

noobaa rebuild
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

bs/bc verification
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

Enable change ROOK LOG LEVEL during the deployment
  conf/README.md
  conf/ocsci/set_debug_rook_log_level.yaml
  docs/debugging.md
  ocs_ci/deployment/deployment.py
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Enable change ROOK LOG LEVEL during the deployment
  conf/README.md
  conf/ocsci/set_debug_rook_log_level.yaml
  docs/debugging.md
  ocs_ci/deployment/deployment.py
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

replace wait_for_storage_pods with wait_for_pods_to_be_running()
  tests/manage/z_cluster/nodes/test_rolling_shutdown_and_recovery.py
Owners: @red-hat-storage/brown-squad

Fix to 'list index out of range error in 'helpers.py::get_provision_time' and added 'namespace' argument in 'test_pvc_snapshot_performance_multiple_files' test
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Skip test_verify_rwo_using_replicated_pod if all pods are created on the same node (#4811)
  tests/manage/pv_services/test_verify_rwo_using_dc_pod.py
Owners: @red-hat-storage/green-squad

Skip test_verify_rwo_using_replicated_pod if all pods are created on the same node (#4811)
  tests/manage/pv_services/test_verify_rwo_using_dc_pod.py
Owners: @red-hat-storage/green-squad

fix flexy_post_processing method
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

Fix `test_delete_cached_object`
  tests/manage/mcg/test_namespace_crd.py
Owners: @red-hat-storage/red-squad

constants
  ocs_ci/ocs/constants.py
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

Test case - Verify RBD trash purge command if the RBD PVCs have snapshots (#4594)
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test case - Verify RBD trash purge command if the RBD PVCs have snapshots (#4594)
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_verify_rbd_trash_purge.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Fix `test_delete_cached_object` (#4881)
  tests/manage/mcg/test_namespace_crd.py
Owners: @red-hat-storage/red-squad

Fix `test_delete_cached_object` (#4881)
  tests/manage/mcg/test_namespace_crd.py
Owners: @red-hat-storage/red-squad

Add marker for aws based platforms only test
  ocs_ci/framework/pytest_customization/marks.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_proactive_IPI.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_reactive_IPI.py
  tests/manage/z_cluster/nodes/test_node_replacement_reactive_aws_ipi.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add marker for aws based platforms only test
  ocs_ci/framework/pytest_customization/marks.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_proactive_IPI.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_reactive_IPI.py
  tests/manage/z_cluster/nodes/test_node_replacement_reactive_aws_ipi.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

fixing tox error
  tests/fixtures.py
Owners: @red-hat-storage/top-level-reviewers

fixing tox error
  tests/fixtures.py
Owners: @red-hat-storage/top-level-reviewers

Reducing limits for nooba-endpoints
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Reducing limits for nooba-endpoints
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

fix flexy_post_processing method (#4880)
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

fix flexy_post_processing method (#4880)
  ocs_ci/deployment/flexy.py
Owners: @red-hat-storage/top-level-reviewers

Fix to 'list index out of range error in 'helpers.py::get_provision_time' and added 'namespace' argument in 'test_pvc_snapshot_performance_multiple_files' test (#4878)
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Fix to 'list index out of range error in 'helpers.py::get_provision_time' and added 'namespace' argument in 'test_pvc_snapshot_performance_multiple_files' test (#4878)
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Introduce version module
  ocs_ci/utility/version.py
Owners: @red-hat-storage/top-level-reviewers

Introduce version module
  ocs_ci/utility/version.py
Owners: @red-hat-storage/top-level-reviewers

Add test for version module
  ocs_ci/utility/tests/test_version.py
Owners: @red-hat-storage/top-level-reviewers

Add test for version module
  ocs_ci/utility/tests/test_version.py
Owners: @red-hat-storage/top-level-reviewers

update authorization header string
  ocs_ci/utility/pagerduty.py
Owners: @red-hat-storage/top-level-reviewers

change pagerduty secret to secret from qe addon
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

add node down pagerduty test
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/pagerduty/test_nodes.py
Owners: @red-hat-storage/blue-squad

addressed comments
  ocs_ci/ocs/constants.py
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

add managed platforms to PlatformNodesFactory
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers
