Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Aligning storagesystem name with UI naming
  ocs_ci/templates/ocs-deployment/storagesystem_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

Ypersky test pod reattachtime improvement (#4920)
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/perftests.py
  tests/e2e/performance/test_pod_reattachtime.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Ypersky test pod reattachtime improvement (#4920)
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/perftests.py
  tests/e2e/performance/test_pod_reattachtime.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

changes number of samples to 10
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Add retry in scan_cluster method
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add retry in scan_cluster method
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

Added log on get_ocp_version function
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Add compressionMode parameter to cephblockpool yaml (#4917)
  ocs_ci/helpers/helpers.py
  ocs_ci/templates/ocs-deployment/cephblockpool.yaml
Owners: @red-hat-storage/top-level-reviewers

Add compressionMode parameter to cephblockpool yaml (#4917)
  ocs_ci/helpers/helpers.py
  ocs_ci/templates/ocs-deployment/cephblockpool.yaml
Owners: @red-hat-storage/top-level-reviewers

Fixed timeout and cosmetic changes for scale tests (#4949)
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Fixed timeout and cosmetic changes for scale tests (#4949)
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/conftest.py
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Implement YAML and CLI replication mechanics
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/resources/objectbucket.py
  tests/conftest.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Correct class description
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Specify replication test type
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Increase number of samples to 10 in test_pod_reattachtime.py (#4953)
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Increase number of samples to 10 in test_pod_reattachtime.py (#4953)
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

move enabling console plugin code to common function
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

move enabling console plugin code to common function (#4960)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

move enabling console plugin code to common function (#4960)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

fix doc string
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Verify 'noobaa-service-monitor' does not exist after OCS upgrade (#4826)
  ocs_ci/ocs/constants.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

Verify 'noobaa-service-monitor' does not exist after OCS upgrade (#4826)
  ocs_ci/ocs/constants.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/purple-squad

Add namespace cases
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

Fix ICSP for stage testing
  ocs_ci/templates/ocs-deployment/stageImageContentSourcePolicy.yaml
Owners: @red-hat-storage/top-level-reviewers

Fix ICSP for stage testing
  ocs_ci/templates/ocs-deployment/stageImageContentSourcePolicy.yaml
Owners: @red-hat-storage/top-level-reviewers

Implement bidirectional replication testing logic
  ocs_ci/ocs/bucket_utils.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Wait for storage class to be present
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Wait for storage class to be present
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Update documentation for manual ODF 4.9 deployment
  docs/usecases/deployment_without_ocs.md
Owners: @red-hat-storage/top-level-reviewers

Update documentation for manual ODF 4.9 deployment
  docs/usecases/deployment_without_ocs.md
Owners: @red-hat-storage/top-level-reviewers

Implement unidirectional bucketclass replication automation
  ocs_ci/ocs/resources/bucketclass.py
  ocs_ci/ocs/resources/mcg.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Fix OCS deployment via UI [Refresh Page]
  ocs_ci/ocs/ui/deployment_ui.py
Owners: @red-hat-storage/top-level-reviewers

bz-1832297, test capacity breakdown on UI
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Add info on doc string
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

I forgot to add test file
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

Added "teardown_project_factory" fixture
  tests/conftest.py
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

Added generator for UI verification
  ocs_ci/ocs/ui/validation_ui.py
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

Add support OCP4.7
  ocs_ci/ocs/ui/validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix comments
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers

Add polarion-id
  tests/ui/test_capacity_breakdown_ui.py
Owners: @red-hat-storage/top-level-reviewers
