Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Verifying StorageSystem status (#4849)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

add polarion id to vsphere proxy deployment
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_proxy.yaml
Owners: @red-hat-storage/top-level-reviewers

add polarion id to vsphere proxy deployment
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_proxy.yaml
Owners: @red-hat-storage/top-level-reviewers

Removed operator resource, As its restart isnt relevant in the test
  tests/e2e/scale/test_pv_scale_and_respin_ceph_pods.py
Owners: @red-hat-storage/orange-squad

Enhancement to "test_pv_scale_and_respin_ceph_pods" test with additional resource types (#4852)
  tests/e2e/scale/test_pv_scale_and_respin_ceph_pods.py
Owners: @red-hat-storage/orange-squad

Enhancement to "test_pv_scale_and_respin_ceph_pods" test with additional resource types (#4852)
  tests/e2e/scale/test_pv_scale_and_respin_ceph_pods.py
Owners: @red-hat-storage/orange-squad

Limit the MCG UI tests to run only on OCS 4.8
  ocs_ci/ocs/ui/base_ui.py
  tests/manage/mcg/ui/test_mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Revert unneeded change
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix `test_block_read_resource_in_namespace_bucket_crd`
  tests/manage/mcg/test_namespace_crd.py
Owners: @red-hat-storage/red-squad

Integrate reviewers comments
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_bulk_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
  tests/fixtures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Integrate reviewers comments
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_bulk_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
  tests/fixtures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Add test case for snapshot and restore of encrypted RBD PVCs (#4713)
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_encrypted_rbd_pvc_snapshot.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Add test case for snapshot and restore of encrypted RBD PVCs (#4713)
  ocs_ci/utility/kms.py
  tests/conftest.py
  tests/manage/pv_services/pvc_snapshot/test_encrypted_rbd_pvc_snapshot.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Skip RBD thick SC verification in 4.9
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Skip RBD thick SC verification in 4.9 (#4860)
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Skip RBD thick SC verification in 4.9 (#4860)
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Fix for get_ceph_default_replica returning None value. In OCS4.9, 'ceph status' doesnot give replica count value. Hence 'ceph mgr dump' command is used.
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

fix argument
  tests/manage/pv_services/test_verify_rwo_using_dc_pod.py
Owners: @red-hat-storage/green-squad

Test case to verify the impact of plugin pod deletion on app pod (#4419)
  ocs_ci/utility/ibmcloud.py
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Test case to verify the impact of plugin pod deletion on app pod (#4419)
  ocs_ci/utility/ibmcloud.py
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Restore snapshot to different pool (#4808)
  tests/manage/pv_services/pvc_snapshot/test_restore_snapshot_using_different_sc.py
Owners: @red-hat-storage/green-squad

Restore snapshot to different pool (#4808)
  tests/manage/pv_services/pvc_snapshot/test_restore_snapshot_using_different_sc.py
Owners: @red-hat-storage/green-squad

Test case for verifying clone of encrypted RBD PVC
  tests/manage/pv_services/pvc_clone/test_encrypted_rbd_pvc_clone.py
Owners: @red-hat-storage/green-squad

Limit the MCG UI tests to run only on OCS 4.8 (#4857)
  tests/manage/mcg/ui/test_mcg_ui.py
Owners: @red-hat-storage/red-squad

Limit the MCG UI tests to run only on OCS 4.8 (#4857)
  tests/manage/mcg/ui/test_mcg_ui.py
Owners: @red-hat-storage/red-squad

Test case to verify creation of encrypted RBD PVC clone
  tests/manage/pv_services/pvc_clone/test_encrypted_rbd_pvc_clone.py
Owners: @red-hat-storage/green-squad

Automates BZ-1946573 Fixes-4793
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Checks for odf-console and odf-operator-controller-manager
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCP 4.10 config files
  ocs_ci/framework/conf/ocp_version/ocp-4.10-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.10-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Tests to verify PVC snapshot feature when snapshotclass deleted (#4832)
  tests/manage/pv_services/pvc_snapshot/test_pvc_snapshot_when_snapshotclass_deleted.py
Owners: @red-hat-storage/green-squad

Tests to verify PVC snapshot feature when snapshotclass deleted (#4832)
  tests/manage/pv_services/pvc_snapshot/test_pvc_snapshot_when_snapshotclass_deleted.py
Owners: @red-hat-storage/green-squad

Add openshift dedicated platform in CLOUD_PLATFORMS constants list (#4846)
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Add openshift dedicated platform in CLOUD_PLATFORMS constants list (#4846)
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Checks for odf-console and odf-operator-controller-manager (#4869)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Checks for odf-console and odf-operator-controller-manager (#4869)
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Modifying changes as per readablity
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Resolved tox issue
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Adding OCP 4.10 config files (#4870)
  ocs_ci/framework/conf/ocp_version/ocp-4.10-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.10-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Adding OCP 4.10 config files (#4870)
  ocs_ci/framework/conf/ocp_version/ocp-4.10-config.yaml
  ocs_ci/framework/conf/ocp_version/ocp-4.10-upgrade.yaml
Owners: @red-hat-storage/top-level-reviewers

Fix for get_ceph_default_replica returning None value. (#4861)
  ocs_ci/ocs/cluster.py
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad
