Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Scale Upgrade testcase (#4152)
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Scale Upgrade testcase (#4152)
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Verify ceph health is HEALTH_WARN after ceph daemon killing (#4527)
  tests/manage/z_cluster/test_coredump_check_for_ceph_daemon_crash.py
Owners: @red-hat-storage/brown-squad

Verify ceph health is HEALTH_WARN after ceph daemon killing (#4527)
  tests/manage/z_cluster/test_coredump_check_for_ceph_daemon_crash.py
Owners: @red-hat-storage/brown-squad

Fix ovirt-dependencies
  ocs_ci/deployment/factory.py
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers

Fix ovirt-dependencies
  ocs_ci/deployment/factory.py
  ocs_ci/ocs/platform_nodes.py
Owners: @red-hat-storage/top-level-reviewers

Remove postgres scenario from test_pgsql_node_reboot
  ocs_ci/ocs/pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

minor fix
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
Owners: @red-hat-storage/magenta-squad

fix version check
  tests/manage/monitoring/prometheus/test_rgw.py
Owners: @red-hat-storage/blue-squad

Fix `get_ocs_version()`
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Remove redundant return
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Add `rgw_endpoint` support for clusters running in external mode
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Add rook ceph operator restart
  tests/manage/z_cluster/test_drain_node_mon.py
Owners: @red-hat-storage/brown-squad

change verify_pdb_mon function, return bool
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

wait_for_storage_pods function failed on vmware cluster
  tests/manage/z_cluster/test_drain_node_mon.py
Owners: @red-hat-storage/brown-squad

*Fix doc string *Add polarion id *Change test name
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_drain_node_mon.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

GSS bug,Verify the num of mon pods is 3 when drain node
  tests/manage/z_cluster/test_drain_node_mon.py
Owners: @red-hat-storage/brown-squad

Change python file name [test_drain_node_mon.py -> test_rook_operator_restart_during_mon_failover.py]
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/brown-squad

fix test procedure doc string
  tests/manage/z_cluster/test_drain_node_mon.py
Owners: @red-hat-storage/brown-squad

move "verify_pdb_mon" function to helper file
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/test_drain_node_mon.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add sleep on "Respin pod rook-ceph operator pod" step for debugging
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/brown-squad

Added ignore_leftovers decorator
  tests/manage/z_cluster/test_drain_node_mon.py
Owners: @red-hat-storage/brown-squad

GSS, test the mechanism to enable and disable debug logs
  tests/manage/z_cluster/test_rook_ceph_operator_log_type.py
Owners: @red-hat-storage/brown-squad

Increased the transactions count for pgbench pod and few enhancements to pgsql tests (#4512)
  ocs_ci/ocs/pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Increased the transactions count for pgbench pod and few enhancements to pgsql tests (#4512)
  ocs_ci/ocs/pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Use get_operator_pods function to find rook_ceph_oerator pod obj
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/brown-squad

Helper functions for encrypted storageclass creation with KMS vault (#4463)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/CSI/rbd/csi-kms-connection-details.yaml
  ocs_ci/templates/CSI/rbd/csi-kms-secret.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Helper functions for encrypted storageclass creation with KMS vault (#4463)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/CSI/rbd/csi-kms-connection-details.yaml
  ocs_ci/templates/CSI/rbd/csi-kms-secret.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Adjustments for tests in test_node_replacement_proactive.py to run on vSphere IPI. Also includes few enhancements in machine.py and node.py to support vSphere IPI.
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Fix for comment: Increase sleep time from 10 to 30 seconds
  ocs_ci/ocs/machine.py
Owners: @red-hat-storage/top-level-reviewers

adding performance new feature marker
  ocs_ci/framework/pytest_customization/marks.py
  pytest.ini
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

adding mark
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

Fix doc string
  tests/manage/z_cluster/test_rook_operator_restart_during_mon_failover.py
Owners: @red-hat-storage/brown-squad

Add polarion id for external mode conf file
  conf/ocsci/external_rhcs_cluster.yaml
Owners: @red-hat-storage/top-level-reviewers

Fix typo and Add skip marker for external mode in test_nodereplacement_twice
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/brown-squad

Fix `get_ocs_version()` (#4547)
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Fix `get_ocs_version()` (#4547)
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

optionally use ocp-network-split during deployment
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_6w_arbiter.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/netsplit.py
  ocs_ci/deployment/zones.py
  ocs_ci/framework/conf/default_config.yaml
  requirements.txt
  setup.py
Owners: @red-hat-storage/top-level-reviewers

optionally use ocp-network-split during deployment
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_6w_arbiter.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/netsplit.py
  ocs_ci/deployment/zones.py
  ocs_ci/framework/conf/default_config.yaml
  requirements.txt
  setup.py
Owners: @red-hat-storage/top-level-reviewers

fix tox: don't install deps for flake8 and black
  tox.ini
Owners: @red-hat-storage/top-level-reviewers
