Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

fixing bug in ocs labeling for arbiter
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

disable flexible scaling for arbiter clusters
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

arbiter deployment bugfix: replication factor
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

add dummy_zone_node_labels deployment option
  conf/README.md
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/zones.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/exceptions.py
Owners: @red-hat-storage/top-level-reviewers

fix logging bug: report which storage classess are missing
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

drop failure-domain.beta.kubernetes.io/zone usage
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/node.py
  tests/manage/pv_services/test_rwo_pvc_fencing_unfencing.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

arbiter deployment bugfix: replication factor
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

fix bug in lso validation code
  ocs_ci/deployment/helpers/lso_helpers.py
Owners: @red-hat-storage/top-level-reviewers

option to control spec.storageDeviceSets[0].count
  conf/README.md
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_6w_arbiter.yaml
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

add dummy_zone_node_labels deployment option
  conf/README.md
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/zones.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/exceptions.py
Owners: @red-hat-storage/top-level-reviewers

drop failure-domain.beta.kubernetes.io/zone usage
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/node.py
  tests/manage/pv_services/test_rwo_pvc_fencing_unfencing.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

fix: drop extraneous worker_zones option
  conf/deployment/aws/ipi_3az_rhcos_3m_4w_arbiter.yaml
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

arbiter conf: vSphere, dummy zones, 6 workers
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_6w_arbiter.yaml
Owners: @red-hat-storage/top-level-reviewers

fixing bug in ocs labeling for arbiter
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

arbiter conf: vSphere, dummy zones, 6 workers
  conf/deployment/vsphere/upi_1az_rhcos_vsan_lso_vmdk_3m_6w_arbiter.yaml
Owners: @red-hat-storage/top-level-reviewers

disable flexible scaling for arbiter clusters
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

fix bug in lso validation code
  ocs_ci/deployment/helpers/lso_helpers.py
Owners: @red-hat-storage/top-level-reviewers

fix logging bug: report which storage classess are missing
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Add kv-v2 support for vault deployment Fixes #4441
  conf/ocsci/vault_external_standalone_mode_v1.yaml
  conf/ocsci/vault_external_standalone_mode_v2.yaml
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/openshift-infra/vault/ocs-kms-connection-details.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Fix a space issue during path creation
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Fix tox issues
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Add TimeoutSampler generator for test_osd_heap_profile
  tests/manage/z_cluster/test_osd_heap_profile.py
Owners: @red-hat-storage/brown-squad

Adding Black squad for UI test cases (#4525)
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Adding Black squad for UI test cases (#4525)
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

increased waiting for rebalance timeout when io in background
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

Update the creds and image in toolbox_pod.yaml (#4487)
  ocs_ci/ocs/utils.py
  ocs_ci/templates/ocs-deployment/toolbox_pod.yaml
Owners: @red-hat-storage/top-level-reviewers

Update the creds and image in toolbox_pod.yaml (#4487)
  ocs_ci/ocs/utils.py
  ocs_ci/templates/ocs-deployment/toolbox_pod.yaml
Owners: @red-hat-storage/top-level-reviewers

Skip RBD thick test cases in OCS4.8
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Skip RBD thick test cases in OCS4.8 (#4538)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Skip RBD thick test cases in OCS4.8 (#4538)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
  tests/manage/pv_services/test_delete_pvc_while_provisioning.py
  tests/manage/pv_services/test_expansion_snapshot_clone.py
  tests/manage/pv_services/test_rbd_thick_provisioning.py
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Adding documentation for prerequisites for vSphere IPI (#4524)
  docs/getting_started.md
Owners: @red-hat-storage/top-level-reviewers

Adding documentation for prerequisites for vSphere IPI (#4524)
  docs/getting_started.md
Owners: @red-hat-storage/top-level-reviewers

Add kv-v2 support for vault deployment (#4499)
  conf/ocsci/vault_external_standalone_mode_v1.yaml
  conf/ocsci/vault_external_standalone_mode_v2.yaml
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/openshift-infra/vault/ocs-kms-connection-details.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Add kv-v2 support for vault deployment (#4499)
  conf/ocsci/vault_external_standalone_mode_v1.yaml
  conf/ocsci/vault_external_standalone_mode_v2.yaml
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/openshift-infra/vault/ocs-kms-connection-details.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Helper functions for encrypted storageclass creation with KMS vault
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/CSI/rbd/csi-kms-connection-details.yaml
  ocs_ci/templates/CSI/rbd/csi-kms-secret.yaml
  ocs_ci/utility/kms.py
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Fix tox failures
  ocs_ci/ocs/constants.py
  ocs_ci/utility/kms.py
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Add namespace parametr to csi-kms resource related functions
  ocs_ci/templates/CSI/rbd/csi-kms-secret.yaml
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers

Fixed couple of issues
  ocs_ci/templates/CSI/rbd/csi-kms-secret.yaml
  ocs_ci/utility/kms.py
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

addressed review comments
  ocs_ci/helpers/helpers.py
  ocs_ci/utility/kms.py
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Fix issue after resolving conflicts
  ocs_ci/utility/kms.py
Owners: @red-hat-storage/top-level-reviewers
