Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Use pytest.raises
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Use pytest.raises
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Extend tier4 OBC helper health check timeout
  ocs_ci/helpers/sanity_helpers.py
  ocs_ci/ocs/resources/objectbucket.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Revert irrelevant change in objectbucket.py
  ocs_ci/ocs/resources/objectbucket.py
Owners: @red-hat-storage/top-level-reviewers

Skip `test_scale_rgw_down` on external mode clusters
  tests/manage/mcg/test_mcg_resources_disruptions.py
Owners: @red-hat-storage/red-squad

Added polarion-id
  tests/manage/z_cluster/test_restart_mgr_while_two_mons_down.py
Owners: @red-hat-storage/brown-squad

ODF dashboard validation changes as per new OCP console (#5143)
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

ODF dashboard validation changes as per new OCP console (#5143)
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

fix failures and remove rgw instance while mcg only mode
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/backingstore.py
  ocs_ci/ocs/resources/cloud_manager.py
  ocs_ci/ocs/resources/mcg.py
  tests/conftest.py
  tests/manage/mcg/test_mcg_resources_disruptions.py
  tests/manage/mcg/test_write_to_bucket.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Updating the SF CRD file
  ocs_ci/templates/workloads/smallfile/SmallFile.yaml
Owners: @red-hat-storage/top-level-reviewers

add connection refresh when Prometheus service unavailable
  ocs_ci/utility/prometheus.py
Owners: @red-hat-storage/top-level-reviewers

generate new certificate
  ocs_ci/utility/prometheus.py
Owners: @red-hat-storage/top-level-reviewers

address comments
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/utility/pagerduty.py
  ocs_ci/utility/workloadfixture.py
  tests/conftest.py
  tests/manage/monitoring/pagerduty/test_deployment_status.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/blue-squad

updating perameters names
  tests/e2e/performance/io_workload/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

fix code
  tests/manage/z_cluster/test_restart_mgr_while_two_mons_down.py
Owners: @red-hat-storage/brown-squad

Install MCG ONLY cluster via UI
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Changing the validation to check project in EFK stack
  tests/e2e/logging/test_openshift-logging.py
Owners: @red-hat-storage/magenta-squad

Changing the validation to check project in EFK stack
  tests/e2e/logging/test_openshift-logging.py
Owners: @red-hat-storage/magenta-squad

Add a test for managed service and fix ROSA issue
  ocs_ci/ocs/node.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Fix flake8 issue
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Add connection refresh when Prometheus service unavailable (#5149)
  ocs_ci/utility/prometheus.py
Owners: @red-hat-storage/top-level-reviewers

Add connection refresh when Prometheus service unavailable (#5149)
  ocs_ci/utility/prometheus.py
Owners: @red-hat-storage/top-level-reviewers

Install MCG ONLY cluster via UI (#5151)
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Install MCG ONLY cluster via UI (#5151)
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Fix ROSA deployment issues
  ocs_ci/deployment/rosa.py
  ocs_ci/ocs/node.py
  ocs_ci/utility/openshift_dedicated.py
Owners: @red-hat-storage/top-level-reviewers

Fix ROSA deployment issues
  ocs_ci/deployment/rosa.py
  ocs_ci/ocs/node.py
  ocs_ci/utility/openshift_dedicated.py
Owners: @red-hat-storage/top-level-reviewers

Get rid of asserts
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

Noobaa rebuild: root-master-key secret deletion (#5139)
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

Noobaa rebuild: root-master-key secret deletion (#5139)
  tests/e2e/kcs/test_noobaa_rebuild.py
Owners: @red-hat-storage/top-level-reviewers

[Close loop BZ: 1998680]: Object bucket with large number of objects
  tests/e2e/scale/noobaa/test_hsbench.py
Owners: @red-hat-storage/orange-squad

fixture
  tests/e2e/scale/noobaa/test_hsbench.py
Owners: @red-hat-storage/orange-squad

doc text
  tests/e2e/scale/noobaa/test_hsbench.py
Owners: @red-hat-storage/orange-squad

Add brown squad mark to tests under test_resources.py and test_configuration.py
  tests/ecosystem/upgrade/test_configuration.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Add brown squad mark to tests under test_resources.py and test_configuration.py
  tests/ecosystem/upgrade/test_configuration.py
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

prometheus: check empty query result
  ocs_ci/utility/prometheus.py
Owners: @red-hat-storage/top-level-reviewers

Import ABC from collections.abc for Python 3.10 compatibility.
  ocs_ci/framework/__init__.py
Owners: @red-hat-storage/top-level-reviewers

Import ABC from collections.abc for Python 3.10 compatibility. (#4871)
  ocs_ci/framework/__init__.py
Owners: @red-hat-storage/top-level-reviewers

Import ABC from collections.abc for Python 3.10 compatibility. (#4871)
  ocs_ci/framework/__init__.py
Owners: @red-hat-storage/top-level-reviewers

prometheus: check empty query result (#5012)
  ocs_ci/utility/prometheus.py
Owners: @red-hat-storage/top-level-reviewers

prometheus: check empty query result (#5012)
  ocs_ci/utility/prometheus.py
Owners: @red-hat-storage/top-level-reviewers
