Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Skip RBD thick test if OCS version is less than 4.8 (#4477)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
Owners: @red-hat-storage/green-squad

Skip RBD thick test if OCS version is less than 4.8 (#4477)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
Owners: @red-hat-storage/green-squad

cache bucket lifecycle test (#4457)
  ocs_ci/ocs/resources/bucketclass.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_lifecyle_crd.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

cache bucket lifecycle test (#4457)
  ocs_ci/ocs/resources/bucketclass.py
  tests/e2e/lifecycle/mcg/test_mcg_namespace_lifecyle_crd.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Find the snapshot uid and pass it to the measure time function
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Find the snapshot uid and pass it to the measure time function
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Raise all exceptions that are not IndexError
  ocs_ci/ocs/resources/backingstore.py
Owners: @red-hat-storage/top-level-reviewers

updating the snapshot creation measure time function to complay with 4.8 logs
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

updating the snapshot creation measure time function to complay with 4.8 logs
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

Initial draft for adding ibmcloud ci impl
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/platform_nodes.py
  ocs_ci/utility/ibmcloud.py
  tests/libtest/test_ibmcloud.py
  tests/ui/test_quickstarts.py
Owners: @red-hat-storage/top-level-reviewers

Initial draft for adding ibmcloud ci impl
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/platform_nodes.py
  ocs_ci/utility/ibmcloud.py
  tests/libtest/test_ibmcloud.py
  tests/ui/test_quickstarts.py
Owners: @red-hat-storage/top-level-reviewers

UI validation on OCP4.8 (#4455)
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

UI validation on OCP4.8 (#4455)
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Supporting multus deployment
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/ocs-deployment/multus.yaml
Owners: @red-hat-storage/top-level-reviewers

vsphere: use main.tf for updating gw for OCP 4.6
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

vsphere: use main.tf for updating gw for OCP 4.6
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Skip rbd-thick storage class verification in external mode
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

skip only for external mode upgraded cluster
  ocs_ci/ocs/resources/storage_cluster.py
Owners: @red-hat-storage/top-level-reviewers

vsphere: use main.tf for updating gw for OCP 4.6
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.9 yaml file
  ocs_ci/framework/conf/ocs_version/ocs-4.9.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

vsphere: use main.tf for updating gw for OCP 4.6
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers

fixing typo
  ocs_ci/framework/conf/ocs_version/ocs-4.9.yaml
Owners: @red-hat-storage/top-level-reviewers

Increased the transactions count for pgbench pod and pgsql test enhancements
  ocs_ci/ocs/pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql.py
  tests/e2e/workloads/pgsql/test_pgsql_node_drain.py
  tests/e2e/workloads/pgsql/test_pgsql_node_reboot.py
  tests/e2e/workloads/pgsql/test_pgsql_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Supporting external cluster secret data for OCP 4.8 and in upgrade path
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/utility/deployment.py
Owners: @red-hat-storage/top-level-reviewers

removing float
  ocs_ci/utility/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.9 yaml file (#4509)
  ocs_ci/framework/conf/ocs_version/ocs-4.9.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Adding OCS 4.9 yaml file (#4509)
  ocs_ci/framework/conf/ocs_version/ocs-4.9.yaml
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Limit test item path to the tests directory
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Lowercase squad marker
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Use helper function to get default ceph block pool
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
Owners: @red-hat-storage/green-squad

address comments
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

Use helper function to get default ceph block pool (#4516)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
Owners: @red-hat-storage/green-squad

Use helper function to get default ceph block pool (#4516)
  tests/manage/pv_services/test_delete_provisioner_pod_while_thick_provisioning.py
Owners: @red-hat-storage/green-squad

address comments
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

RHV - create new machineset for scaling nodes to run app pods (#4467)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
  ocs_ci/templates/openshift-infra/machineset-rhv.yaml
Owners: @red-hat-storage/top-level-reviewers

RHV - create new machineset for scaling nodes to run app pods (#4467)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/machine.py
  ocs_ci/ocs/scale_lib.py
  ocs_ci/templates/openshift-infra/machineset-rhv.yaml
Owners: @red-hat-storage/top-level-reviewers

Test case to verify the impact of plugin pod deletion on app pod (#4419)
  tests/manage/pv_services/test_delete_plugin_pod.py
Owners: @red-hat-storage/green-squad

Test case to verify the impact of plugin pod deletion on app pod (#4419)
  tests/manage/pv_services/test_delete_plugin_pod.py
Owners: @red-hat-storage/green-squad

address comments
  tests/manage/pv_services/test_verify_thick_pvc_utilization.py
Owners: @red-hat-storage/green-squad

e apply instead of create in oc command durinh upgrade
  ocs_ci/ocs/ocs_upgrade.py
  ocs_ci/utility/deployment.py
Owners: @red-hat-storage/top-level-reviewers
