Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Removed unused default_timer from test_pvc_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

Removed unused default_timer from test_pvc_creation_deletion_performance.py
  tests/e2e/performance/test_pvc_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad

change the condition of waiting for the OSD pod in the test "test_automated_recovery_from_stopped_node_and_start" (#4789)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_reactive_IPI.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

change the condition of waiting for the OSD pod in the test "test_automated_recovery_from_stopped_node_and_start" (#4789)
  ocs_ci/helpers/helpers.py
  tests/manage/z_cluster/nodes/test_automated_recovery_from_failed_nodes_reactive_IPI.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Skip on ui_deployment on cluster with Infra nodes (#4706)
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

Skip on ui_deployment on cluster with Infra nodes (#4706)
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

prioritize client_http_proxy from config file
  ocs_ci/utility/flexy.py
Owners: @red-hat-storage/top-level-reviewers

configure authenticated proxy in chrome
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/templates/ui/chrome-proxy-extension-background.js.j2
  ocs_ci/templates/ui/chrome-proxy-extension-manifest.json.j2
Owners: @red-hat-storage/top-level-reviewers

Fix typo and update logic for IBM Cloud
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Fix typo and update logic for IBM Cloud
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Updated code with PVC_resize parallelism
  ocs_ci/ocs/scale_lib.py
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Updated comments
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

Increase the loop count to 30 in order to get higher odds when it runs on ibm cloud cluster
  tests/manage/z_cluster/test_delete_rook_ceph_mon_pod.py
Owners: @red-hat-storage/brown-squad

Increase the loop count to 30 in order to get higher odds when it runs on ibm cloud cluster
  tests/manage/z_cluster/test_delete_rook_ceph_mon_pod.py
Owners: @red-hat-storage/brown-squad

Force delete storage when destroy IBM Cloud cluster
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

Force delete storage when destroy IBM Cloud cluster
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

Fix condition in wait_for_storage_pods() to ignore rook-ceph-detect-version pod
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Correct typo in values
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Fix tox
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

fix typo
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

skip two tests on flexy deployed OCP cluster
  ocs_ci/framework/pytest_customization/marks.py
  tests/manage/z_cluster/cluster_expansion/test_node_expansion.py
  tests/manage/z_cluster/cluster_expansion/test_verify_ceph_csidriver_runs_on_non_ocs_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

skip two tests on flexy deployed OCP cluster
  ocs_ci/framework/pytest_customization/marks.py
  tests/manage/z_cluster/cluster_expansion/test_node_expansion.py
  tests/manage/z_cluster/cluster_expansion/test_verify_ceph_csidriver_runs_on_non_ocs_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Fix tox
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Skip mcg related test on openshift dedicated platform (#4528)
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

Skip mcg related test on openshift dedicated platform (#4528)
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

Fixed index out of range error
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

Fixed ceritificate issue when getting hsbench package. (#4791)
  ocs_ci/ocs/hsbench.py
Owners: @red-hat-storage/top-level-reviewers

Fixed ceritificate issue when getting hsbench package. (#4791)
  ocs_ci/ocs/hsbench.py
Owners: @red-hat-storage/top-level-reviewers

Updated code to resolve teardown issues
  tests/e2e/scale/test_scale_pvc_expand.py
Owners: @red-hat-storage/orange-squad

Minor updates for code re-usability in other PR's.
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Code changes for re-usability
  ocs_ci/ocs/ui/pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Restore snapshot to different pool
  tests/manage/pv_services/pvc_snapshot/test_restore_snapshot_using_different_sc.py
Owners: @red-hat-storage/green-squad

Enhanced pvc expansion to use kube_job, which reduced time to complete
  ocs_ci/ocs/resources/objectconfigfile.py
  ocs_ci/ocs/scale_lib.py
Owners: @red-hat-storage/top-level-reviewers

Re-try cluster on PVC validation
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

Re-try cluster on PVC validation
  ocs_ci/ocs/cluster.py
Owners: @red-hat-storage/top-level-reviewers

Skip test_verify_rwo_using_replicated_pod if all pods are created on the same node
  tests/manage/pv_services/test_verify_rwo_using_dc_pod.py
Owners: @red-hat-storage/green-squad

Feedback implementation
  ocs_ci/ocs/ui/pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

adding bulk deletion
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

adding bulk deletion
  ocs_ci/helpers/helpers.py
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

changing parametrization value
  tests/e2e/performance/test_pvc_multiple_creation_deletion_performance.py
Owners: @red-hat-storage/grey-squad
