Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

add test_ceph_manager_stopped_pd test
  conf/ocsci/openshift_dedicated.yaml
  ocs_ci/utility/pagerduty.py
  tests/manage/monitoring/pagerduty/__init__.py
  tests/manage/monitoring/pagerduty/test_deployment_status.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/blue-squad

introduce DEPLOYMENT["proxy"] parameter
  conf/README.md
  conf/deployment/aws/upi_1az_rhcos_3m_3w_proxy.yaml
  conf/deployment/aws/upi_3az_rhcos_3m_3w_proxy.yaml
  conf/ocsci/aws_upi_flexy_rhcos_3m_3w_proxy.yaml
  ocs_ci/helpers/proxy.py
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

introduce DEPLOYMENT["proxy"] parameter
  conf/README.md
  conf/deployment/aws/upi_1az_rhcos_3m_3w_proxy.yaml
  conf/deployment/aws/upi_3az_rhcos_3m_3w_proxy.yaml
  conf/ocsci/aws_upi_flexy_rhcos_3m_3w_proxy.yaml
  ocs_ci/helpers/proxy.py
  ocs_ci/ocs/ui/helpers_ui.py
Owners: @red-hat-storage/top-level-reviewers

configure proxy in kubeconfig for client access
  conf/README.md
  ocs_ci/deployment/flexy.py
  ocs_ci/ocs/ocp.py
  ocs_ci/utility/flexy.py
  ocs_ci/utility/proxy.py
Owners: @red-hat-storage/top-level-reviewers

configure proxy in kubeconfig for client access
  conf/README.md
  ocs_ci/deployment/flexy.py
  ocs_ci/ocs/ocp.py
  ocs_ci/utility/flexy.py
  ocs_ci/utility/proxy.py
Owners: @red-hat-storage/top-level-reviewers

Make the log messages more concise
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/brown-squad

Must Gather test on OCS4.9
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

make the log message more elaborative
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/brown-squad

add pagerduty service teardown
  ocs_ci/utility/pagerduty.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

add test_ceph_manager_stopped_pd test case
  tests/manage/monitoring/pagerduty/test_deployment_status.py
Owners: @red-hat-storage/blue-squad

fix docstring indentation
  ocs_ci/utility/pagerduty.py
Owners: @red-hat-storage/top-level-reviewers

Scale Noobaa namespace creation with type single and cache (#4471)
  tests/e2e/scale/noobaa/test_scale_namespace_crd.py
  tests/e2e/scale/noobaa/test_scale_namespace_rpc.py
Owners: @red-hat-storage/orange-squad

Scale Noobaa namespace creation with type single and cache (#4471)
  tests/e2e/scale/noobaa/test_scale_namespace_crd.py
  tests/e2e/scale/noobaa/test_scale_namespace_rpc.py
Owners: @red-hat-storage/orange-squad

Catch IndexError when unable to find noobaa db pod
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Catch IndexError when unable to find noobaa db pod
  ocs_ci/ocs/utils.py
Owners: @red-hat-storage/top-level-reviewers

Fixing bug in ignoring same SHA iamges
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Fixing bug in ignoring same SHA iamges
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

cluster behind proxy on vSphere
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_proxy.yaml
  ocs_ci/deployment/factory.py
  ocs_ci/deployment/flexy.py
  ocs_ci/deployment/vmware.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

cluster behind proxy on vSphere
  conf/deployment/vsphere/upi_1az_rhcos_vsan_3m_3w_proxy.yaml
  ocs_ci/deployment/factory.py
  ocs_ci/deployment/flexy.py
  ocs_ci/deployment/vmware.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Change the condition to wait for the new osd node to come up after node replacement process (#4741)
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Change the condition to wait for the new osd node to come up after node replacement process (#4741)
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Must Gather test on OCS4.9 (#4751)
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Must Gather test on OCS4.9 (#4751)
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Added info logs and polarion-id
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Delete skipif_version decorator
  tests/ecosystem/upgrade/test_resources.py
Owners: @red-hat-storage/purple-squad

Test case test_worker_node_restart_during_pvc_expansion enhancement (#2772)
  tests/manage/pv_services/pvc_resize/test_node_restart_during_pvc_expansion.py
Owners: @red-hat-storage/green-squad

Test case test_worker_node_restart_during_pvc_expansion enhancement (#2772)
  tests/manage/pv_services/pvc_resize/test_node_restart_during_pvc_expansion.py
Owners: @red-hat-storage/green-squad

use .git suffixed url for ocp-network-split
  requirements.txt
Owners: @red-hat-storage/top-level-reviewers

use .git suffixed url for ocp-network-split
  requirements.txt
Owners: @red-hat-storage/top-level-reviewers

fix benchmark test from run for indefinitely
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

skip test markers and filters for disabled components
  ocs_ci/framework/pytest_customization/marks.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Address review comments and fix flake8 error
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

Coverage for Bug 1963207 - Verify few additional files for OCS 4.8 and above for External mode
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Implement the benchmark-operator into pvc_snapshot-performance test (#4710)
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Implement the benchmark-operator into pvc_snapshot-performance test (#4710)
  tests/e2e/performance/test_pvc_snapshot_performance.py
Owners: @red-hat-storage/grey-squad

Disable test_worker_node_restart_during_pvc_expansion
  tests/manage/pv_services/pvc_resize/test_node_restart_during_pvc_expansion.py
Owners: @red-hat-storage/green-squad

update ECK version to 1.7
  ocs_ci/ocs/elasticsearch.py
  ocs_ci/templates/app-pods/eck.1.6.0-all-in-one.yaml
  ocs_ci/templates/app-pods/eck1.7/crds.yaml
  ocs_ci/templates/app-pods/eck1.7/esq.yaml
  ocs_ci/templates/app-pods/eck1.7/operator.yaml
Owners: @red-hat-storage/top-level-reviewers

subscribe to odf-operator
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/ocs-deployment/subscription_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

subscribe to odf-operator
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/ocs-deployment/subscription_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

Check for both odf-operator and ocs-operator status for OCS versions >= 4.9
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
