Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

remove duplicate line of subscription_plan_approval
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

fix AWS UPI RHEL installation: add required var
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

get volume IDs for cluster in IBM cloud
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

WORKAROUND: copy openshift-install to cluster_path/..
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

replace the wait in the end from sleep to wait for ceph_health_check()
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

get volume IDs for cluster in IBM cloud (#4653)
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

get volume IDs for cluster in IBM cloud (#4653)
  ocs_ci/utility/ibmcloud.py
Owners: @red-hat-storage/top-level-reviewers

Added ipi_deployment_required marker in scale tests where node scaling is done for app pods.
  tests/e2e/scale/test_ceph_pod_respin_in_scaled_cluster.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/orange-squad

Added ipi_deployment_required marker in scale tests where node scaling is done for app pods. (#4655)
  tests/e2e/scale/test_ceph_pod_respin_in_scaled_cluster.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/orange-squad

Added ipi_deployment_required marker in scale tests where node scaling is done for app pods. (#4655)
  tests/e2e/scale/test_ceph_pod_respin_in_scaled_cluster.py
  tests/e2e/scale/test_scale_12_OCS_worker_nodes_and_6000_PVCs.py
  tests/e2e/scale/upgrade/test_upgrade_with_scaled_pvcs_pods.py
Owners: @red-hat-storage/orange-squad

Fix the bucketclass UI tests
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Extend sleeps
  ocs_ci/ocs/ui/mcg_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fixed short_ocp_upgrade_version for 4.10 and above
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

fix AWS UPI RHEL installation: add required var (#4650)
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

fix AWS UPI RHEL installation: add required var (#4650)
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

comments fixes
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/quay_operator.py
  tests/e2e/workloads/quay/test_quay_operator.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

Fixing the Tier4b issues
  ocs_ci/utility/ibmcloud.py
  tests/libtest/test_ibmcloud.py
  tests/manage/pv_services/pvc_clone/test_clone_when_pvc_full.py
  tests/manage/z_cluster/nodes/test_disk_failures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad, @red-hat-storage/brown-squad

Fixing the Tier4b issues
  ocs_ci/utility/ibmcloud.py
  tests/libtest/test_ibmcloud.py
  tests/manage/pv_services/pvc_clone/test_clone_when_pvc_full.py
  tests/manage/z_cluster/nodes/test_disk_failures.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad, @red-hat-storage/brown-squad

fixed docstring
  tests/ecosystem/upgrade/test_upgrade_ocp.py
Owners: @red-hat-storage/purple-squad

Add multus baremetal configuration
  conf/deployment/baremetal/upi_1az_rhcos_multus_nvme_intel_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Add multus baremetal configuration
  conf/deployment/baremetal/upi_1az_rhcos_multus_nvme_intel_3m_3w.yaml
Owners: @red-hat-storage/top-level-reviewers

Update test to run IO on pods attached with PVCs having unique acccess mode and volume mode combination
  ocs_ci/helpers/helpers.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_creation_and_io.py
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_deletion_and_io.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

select pods to run io
  tests/manage/pv_services/test_daemon_kill_during_pvc_pod_deletion_and_io.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Owners: @red-hat-storage/green-squad

minor update
  ocs_ci/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers

change the order of verification
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Owners: @red-hat-storage/green-squad

doc string and function for test name
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/ui/base_ui.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

doc string and function for test name
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/ui/base_ui.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

multiarch new image
  ocs_ci/templates/app-pods/awscli_multiarch.yaml
Owners: @red-hat-storage/top-level-reviewers

multiarch new image
  ocs_ci/templates/app-pods/awscli_multiarch.yaml
Owners: @red-hat-storage/top-level-reviewers

Adding Pvc resize method and it's verification via UI
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Pvc resize commit 1
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Function name change
  ocs_ci/ocs/ui/pvc_ui.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Function name change
  ocs_ci/ocs/ui/pvc_ui.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Pvc resize commit 1
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Adding Pvc resize method and it's verification via UI
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Code fixes
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Resolved conflicts
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

FIO on a pod
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/ui/base_ui.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

Black formatting
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

feedback by Shay
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/pvc_ui.py
  tests/ui/test_pvc_ui.py
Owners: @red-hat-storage/top-level-reviewers

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
