Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Check for both odf-operator and ocs-operator status for OCS versions >= 4.9
  ocs_ci/deployment/deployment.py
Owners: @red-hat-storage/top-level-reviewers

Creating storagesystem for ODF
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/ocs-deployment/storagesystem_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

Creating storagesystem for ODF
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/constants.py
  ocs_ci/templates/ocs-deployment/storagesystem_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

changing storagecluster in storagesystem-ocs.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/templates/ocs-deployment/storagesystem_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

changing storagecluster in storagesystem-ocs.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/templates/ocs-deployment/storagesystem_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

Include CLUSTER_NAME as part of environment variable
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

Include CLUSTER_NAME as part of environment variable
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

Test case to verify noobaa backup and recovery
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pvc.py
  tests/e2e/kcs/test_noobaa_backup_and_restore.py
Owners: @red-hat-storage/top-level-reviewers

Change the filename
  ocs_ci/helpers/helpers.py
  tests/e2e/kcs/test_noobaa_db_backup_and_recovery.py
Owners: @red-hat-storage/top-level-reviewers

Change to tier3
  tests/e2e/kcs/test_noobaa_db_backup_and_recovery.py
Owners: @red-hat-storage/top-level-reviewers

fix
  tests/manage/pv_services/pvc_resize/test_node_restart_during_pvc_expansion.py
Owners: @red-hat-storage/green-squad

Add workaround for BZ-1997624
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/CSI/rbd/csi-kms-connection-details.yaml
  ocs_ci/utility/kms.py
  tests/manage/pv_services/test_rbd_pv_encryption.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/green-squad

Coverage for Bug 1963207 - Verify few additional files for OCS 4.8 and above for External mode (#4760)
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Coverage for Bug 1963207 - Verify few additional files for OCS 4.8 and above for External mode (#4760)
  ocs_ci/ocs/must_gather/const_must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Test to delete mon services manually (#4711)
  tests/manage/pv_services/test_del_mon_service_and_create_pvc.py
Owners: @red-hat-storage/green-squad

Test to delete mon services manually (#4711)
  tests/manage/pv_services/test_del_mon_service_and_create_pvc.py
Owners: @red-hat-storage/green-squad

replace check with timeout sampler
  ocs_ci/ocs/bucket_utils.py
  tests/manage/mcg/test_namespace_crd.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Move initialization of cluster_prefixes_special_rules to AWSBase class
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

Move initialization of cluster_prefixes_special_rules to AWSBase class
  ocs_ci/deployment/aws.py
Owners: @red-hat-storage/top-level-reviewers

improvements to test_pvc_attachtime.py
  ocs_ci/ocs/yuliripsaw.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Test case to verify noobaa backup and recovery (#4702)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pvc.py
  tests/e2e/kcs/test_noobaa_db_backup_and_recovery.py
Owners: @red-hat-storage/top-level-reviewers

Test case to verify noobaa backup and recovery (#4702)
  ocs_ci/helpers/helpers.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pvc.py
  tests/e2e/kcs/test_noobaa_db_backup_and_recovery.py
Owners: @red-hat-storage/top-level-reviewers

fix benchmark test from run for indefinitely (#4759)
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

fix benchmark test from run for indefinitely (#4759)
  ocs_ci/ocs/perftests.py
Owners: @red-hat-storage/top-level-reviewers

Skip UI tests on openshift dedicated ODF-managed service
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Skip UI tests on openshift dedicated ODF-managed service
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

fixing review comments
  ocs_ci/ocs/yuliripsaw.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/grey-squad

Add namespace parameter to snapshot test case
  tests/manage/pv_services/pvc_snapshot/test_pvc_snapshot.py
Owners: @red-hat-storage/green-squad

Add namespace parameter to snapshot test case
  tests/manage/pv_services/pvc_snapshot/test_pvc_snapshot.py
Owners: @red-hat-storage/green-squad

remove session level fixture from collection
  ocs_ci/utility/environment_check.py
Owners: @red-hat-storage/top-level-reviewers

remove session level fixture from collection
  ocs_ci/utility/environment_check.py
Owners: @red-hat-storage/top-level-reviewers

fixing review comments
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

improvements to test_pvc_attachtime.py (#4773)
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

improvements to test_pvc_attachtime.py (#4773)
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Autoscale scale test case improvement.
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_endpoint.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

Improve logic around pattern matching cluster names that already exist
  ocs_ci/deployment/cloud.py
  ocs_ci/utility/deployment.py
  ocs_ci/utility/tests/test_deployment_utils.py
Owners: @red-hat-storage/top-level-reviewers

Improve logic around pattern matching cluster names that already exist
  ocs_ci/deployment/cloud.py
  ocs_ci/utility/deployment.py
  ocs_ci/utility/tests/test_deployment_utils.py
Owners: @red-hat-storage/top-level-reviewers

Update base on reviewer's feedback.
  ocs_ci/ocs/scale_noobaa_lib.py
  tests/e2e/scale/noobaa/test_scale_endpoint.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/orange-squad

UI, Deployment and Add capacity Azure Internal cluster (#4750)
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

UI, Deployment and Add capacity Azure Internal cluster (#4750)
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/helpers_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers
