Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Adding 4.10 to choices
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Make the test more clean, export the functionality of getting the node rack/zone, and check if the new node rack/zone exist before getting it's value
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Fix jenkins workload on OCP4.9
  ocs_ci/ocs/jenkins.py
  ocs_ci/ocs/ocp.py
Owners: @red-hat-storage/top-level-reviewers

Implement tests for NooBaa component rescheduling improvements (#4966)
  tests/manage/mcg/test_host_node_failure.py
  tests/manage/mcg/test_mcg_resources_disruptions.py
Owners: @red-hat-storage/red-squad

Implement tests for NooBaa component rescheduling improvements (#4966)
  tests/manage/mcg/test_host_node_failure.py
  tests/manage/mcg/test_mcg_resources_disruptions.py
Owners: @red-hat-storage/red-squad

Disable add node for IBM Flash system
  ocs_ci/framework/pytest_customization/marks.py
  tests/manage/z_cluster/cluster_expansion/test_node_expansion.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Disable add node for IBM Flash system
  ocs_ci/framework/pytest_customization/marks.py
  tests/manage/z_cluster/cluster_expansion/test_node_expansion.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Add documentation for IBM Flash + config file
  conf/README.md
  conf/ocsci/ibm_flash.yaml
Owners: @red-hat-storage/top-level-reviewers

Add documentation for IBM Flash + config file
  conf/README.md
  conf/ocsci/ibm_flash.yaml
Owners: @red-hat-storage/top-level-reviewers

adding additional keys to the ES report
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Add sleep for 120 seconds, before checking OSD pods upgraded
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Add sleep for 120 seconds, before checking OSD pods upgraded
  ocs_ci/ocs/ocs_upgrade.py
Owners: @red-hat-storage/top-level-reviewers

Require same images in pods with same selector for upgrade
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Require same images in pods with same selector for upgrade
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/resources/pod.py
Owners: @red-hat-storage/top-level-reviewers

Disable TestNodeReplacementTwice
  tests/manage/z_cluster/nodes/test_node_replacement_proactive.py
Owners: @red-hat-storage/brown-squad

Added comment for "Pipeline Utility Steps" plugin
  ocs_ci/ocs/jenkins.py
Owners: @red-hat-storage/top-level-reviewers

fixing review comments
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
  tests/e2e/performance/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Change function name to be more accurate
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Managed service post-installation tests
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/constants.py
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

Managed service post-installation tests
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/constants.py
  tests/managed-service/test_post_installation_state.py
Owners: @red-hat-storage/top-level-reviewers

update rosa utility
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

add ocs deployment verifications
  ocs_ci/deployment/rosa.py
Owners: @red-hat-storage/top-level-reviewers

update rosa config
  conf/ocsci/rosa.yaml
Owners: @red-hat-storage/top-level-reviewers

Check if the new worker node rack/zone exist before getting its value (#5042)
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

Check if the new worker node rack/zone exist before getting its value (#5042)
  ocs_ci/ocs/node.py
  tests/manage/z_cluster/cluster_expansion/test_crashcollector_pod_existence_on_ceph_pods_running_nodes.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

fix tox
  ocs_ci/deployment/rosa.py
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

fix
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

fix
  tests/manage/z_cluster/nodes/test_disk_failures.py
  tests/manage/z_cluster/nodes/test_nodes_maintenance.py
Owners: @red-hat-storage/brown-squad

Change test tiering, improve docs
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/resources/bucketclass.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

Improve function name
  ocs_ci/ocs/bucket_utils.py
Owners: @red-hat-storage/top-level-reviewers

Fix `test_host_node_failure` to wait longer for OBC to bind after node restart
  ocs_ci/ocs/resources/objectbucket.py
  tests/conftest.py
  tests/manage/rgw/test_host_node_failure.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

add ManagedServiceAddonDeploymentError exception
  ocs_ci/ocs/exceptions.py
Owners: @red-hat-storage/top-level-reviewers

update rosa.yaml conf
  conf/ocsci/rosa.yaml
Owners: @red-hat-storage/top-level-reviewers

add destroy_ocs and checks
  ocs_ci/deployment/rosa.py
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

remove some checks
  ocs_ci/deployment/rosa.py
Owners: @red-hat-storage/top-level-reviewers

update ocs uninstall method
  ocs_ci/ocs/uninstall.py
Owners: @red-hat-storage/top-level-reviewers

remove unused imports
  ocs_ci/deployment/rosa.py
  ocs_ci/ocs/uninstall.py
Owners: @red-hat-storage/top-level-reviewers

removed noobaa sc deletion
  ocs_ci/ocs/uninstall.py
Owners: @red-hat-storage/top-level-reviewers

Add mon_data_avail_warn to rook ceph config saved values
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/storage_cluster.py
  tests/manage/z_cluster/test_ceph_default_values_check.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad

adding vm_network to install config (#5029)
  ocs_ci/deployment/vmware.py
Owners: @red-hat-storage/top-level-reviewers
