Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Verify ceph command does not return an error from ODF4.9
  ocs_ci/ocs/must_gather/must_gather.py
Owners: @red-hat-storage/top-level-reviewers

Aligning storagesystem name with UI naming (#4952)
  ocs_ci/templates/ocs-deployment/storagesystem_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

Aligning storagesystem name with UI naming (#4952)
  ocs_ci/templates/ocs-deployment/storagesystem_odf.yaml
Owners: @red-hat-storage/top-level-reviewers

fix disconnected odf > 4.9.0-231 deployment
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

fix disconnected odf > 4.9.0-231 deployment
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Possibility to add param --binary-image to opm index prune command (#5086)
  conf/README.md
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

Possibility to add param --binary-image to opm index prune command (#5086)
  conf/README.md
  ocs_ci/deployment/disconnected.py
Owners: @red-hat-storage/top-level-reviewers

Remove --rp-launch from main function
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Remove --rp-launch from main function
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

encreasing total time limit
  tests/e2e/performance/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

tests/e2e/performance/test_pod_reattachtime.py
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

encreasing total time limit
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

pushing additional keys to the ES
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

fixing average data written calculation
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

adding one more parameter
  tests/e2e/performance/csi_tests/test_pod_reattachtime.py
Owners: @red-hat-storage/grey-squad

Update pgbench replicas count to 1 in pgsql and increase time
  tests/e2e/flowtest/pvc_snapshot_and_clone/test_pgsql_pvc_snapshot_and_clone.py
  tests/e2e/flowtest/pvc_snapshot_and_clone/test_pgsql_pvc_snapshot_and_clone_with_base_operation.py
  tests/e2e/lifecycle/pvc_clone/test_pgsql_pvc_clone.py
Owners: @red-hat-storage/magenta-squad

Donot fail execution when rp_launch_tags not found
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

fixing black issues
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Updating pre-commit-hooks rev to 4.0.1
  .pre-commit-config.yaml
  requirements-dev.txt
Owners: @red-hat-storage/top-level-reviewers

Donot fail whole execution when rp_launch_tags not found (#5105)
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Donot fail whole execution when rp_launch_tags not found (#5105)
  ocs_ci/framework/pytest_customization/ocscilib.py
Owners: @red-hat-storage/top-level-reviewers

Adding marks to skip the test
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Updating pre-commit-hooks rev to 4.0.1 (#5107)
  .pre-commit-config.yaml
  requirements-dev.txt
Owners: @red-hat-storage/top-level-reviewers

Updating pre-commit-hooks rev to 4.0.1 (#5107)
  .pre-commit-config.yaml
  requirements-dev.txt
Owners: @red-hat-storage/top-level-reviewers

Couchbase workload new implementation
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/couchbase_new.py
  ocs_ci/ocs/pillowfight.py
  ocs_ci/templates/workloads/couchbase_new/pillowfight/basic-pillowfight.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-operatorgroup.yaml
  ocs_ci/templates/workloads/couchbase_new/server/cb-subscription.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-data-bucket.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker-secret.yaml
  ocs_ci/templates/workloads/couchbase_new/server/couchbase-worker.yaml
  tests/conftest.py
  tests/e2e/workloads/couchbase/test_couchbase.py
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
  tests/e2e/workloads/couchbase/test_couchbase_pod_respin.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/magenta-squad

small fix
  ocs_ci/ocs/pillowfight.py
Owners: @red-hat-storage/top-level-reviewers

Adding marks to skip the test (#5103)
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Adding marks to skip the test (#5103)
  tests/e2e/performance/csi_tests/test_pvc_attachtime.py
Owners: @red-hat-storage/grey-squad

Implement MCG flows of the MCG DB recovery system test
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/resources/cloud_manager.py
  tests/e2e/system/test_mcg_recovery.py
Owners: @red-hat-storage/top-level-reviewers

added dot
  ocs_ci/ocs/bucket_utils.py
Owners: @red-hat-storage/top-level-reviewers

added dot (#5111)
  ocs_ci/ocs/bucket_utils.py
Owners: @red-hat-storage/top-level-reviewers

Rebase to laster code.
  tests/e2e/scale/noobaa/test_scale_obc_creation_repsin_noobaa_pods.py
Owners: @red-hat-storage/orange-squad

.
  ocs_ci/ocs/scale_noobaa_lib.py
Owners: @red-hat-storage/top-level-reviewers

handle teardown in node reboot and drain tests
  tests/e2e/workloads/couchbase/test_couchbase_node_drain.py
  tests/e2e/workloads/couchbase/test_couchbase_node_reboot.py
Owners: @red-hat-storage/magenta-squad

changing the reporting of OCS version in perf tests to include build number (#5077)
  ocs_ci/ocs/version.py
Owners: @red-hat-storage/top-level-reviewers

changing the reporting of OCS version in perf tests to include build number (#5077)
  ocs_ci/ocs/version.py
Owners: @red-hat-storage/top-level-reviewers

ODF4.9, LSO deployment via UI (#5061)
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

ODF4.9, LSO deployment via UI (#5061)
  ocs_ci/ocs/ui/deployment_ui.py
  ocs_ci/ocs/ui/views.py
Owners: @red-hat-storage/top-level-reviewers

Skip health check for MCG Only deployment during teardown
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

MCG Only deployment
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/helpers/helpers.py
Owners: @red-hat-storage/top-level-reviewers
