Repository red-hat-storage/ocs-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/brown-squad, @red-hat-storage/green-squad, @red-hat-storage/blue-squad, @red-hat-storage/red-squad, @red-hat-storage/purple-squad, @red-hat-storage/magenta-squad, @red-hat-storage/grey-squad, @red-hat-storage/orange-squad

.github/CODEOWNERS:

# Please once you will have some ownership of some package/module, you can add
# it here to be requested for review of comming PRs which are changing the code
# you own.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
# We have nested team under OCS-QE team for top level reviewers, so everyone
# who is part of this team will be requested for revew for upcomming PRs for
# all changes.
*   @red-hat-storage/top-level-reviewers

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat
/tests/manage/z_cluster/ @red-hat-storage/brown-squad
/tests/manage/pv_services/ @red-hat-storage/green-squad
/tests/manage/storageclass/ @red-hat-storage/green-squad
/tests/manage/monitoring/ @red-hat-storage/blue-squad
/tests/manage/mcg/ @red-hat-storage/red-squad
/tests/manage/rgw/ @red-hat-storage/red-squad
/tests/ecosystem/upgrade/ @red-hat-storage/purple-squad
/tests/e2e/flowtest/ @red-hat-storage/magenta-squad
/tests/e2e/lifecycle/ @red-hat-storage/magenta-squad
/tests/e2e/logging/ @red-hat-storage/magenta-squad
/tests/e2e/registry/ @red-hat-storage/magenta-squad
/tests/e2e/workloads/ @red-hat-storage/magenta-squad
/tests/e2e/performance/ @red-hat-storage/grey-squad
/tests/e2e/scale/ @red-hat-storage/orange-squad

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat

Feedback implementation
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

Add GA config file for BM OCP 4.9
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

Add GA config file for BM OCP 4.9
  ocs_ci/templates/ocp-deployment/rhcos_images.yaml
Owners: @red-hat-storage/top-level-reviewers

added option for different url login (#4994)
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

added option for different url login (#4994)
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/ui/base_ui.py
Owners: @red-hat-storage/top-level-reviewers

Enhance bm locking
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Fix pr check
  ocs_ci/deployment/baremetal.py
Owners: @red-hat-storage/top-level-reviewers

Improve docs, optimize flows
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/mcg.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

ODF 4.9 Dashboard UI (#4992)
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

ODF 4.9 Dashboard UI (#4992)
  ocs_ci/ocs/ui/base_ui.py
  ocs_ci/ocs/ui/validation_ui.py
  ocs_ci/ocs/ui/views.py
  tests/ui/test_validation_ui.py
Owners: @red-hat-storage/top-level-reviewers

Fix `write_random_test_objects_to_bucket` usage
  ocs_ci/ocs/bucket_utils.py
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/top-level-reviewers, @red-hat-storage/red-squad

add new entry point get-ssl-cert
  ocs_ci/ocs/constants.py
  ocs_ci/utility/ssl_certs.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

add new entry point get-ssl-cert
  ocs_ci/ocs/constants.py
  ocs_ci/utility/ssl_certs.py
  setup.py
Owners: @red-hat-storage/top-level-reviewers

configure custom ingress ssl certificate
  conf/README.md
  conf/ocsci/custom-ingress-ssl-certificate.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/utility/prometheus.py
  ocs_ci/utility/ssl_certs.py
Owners: @red-hat-storage/top-level-reviewers

configure custom ingress ssl certificate
  conf/README.md
  conf/ocsci/custom-ingress-ssl-certificate.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/bucket_utils.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/utility/prometheus.py
  ocs_ci/utility/ssl_certs.py
Owners: @red-hat-storage/top-level-reviewers

Improve docs and variable names
  tests/manage/mcg/test_bucket_replication.py
Owners: @red-hat-storage/red-squad

add rosa deployment
  conf/ocsci/rosa.yaml
  docs/supported_platforms.md
  ocs_ci/deployment/factory.py
  ocs_ci/deployment/rosa.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/utility/rosa.py
  ocs_ci/utility/utils.py
Owners: @red-hat-storage/top-level-reviewers

Disconnected OCS/ODF installation update (#4910)
  ocs_ci/deployment/disconnected.py
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Disconnected OCS/ODF installation update (#4910)
  ocs_ci/deployment/disconnected.py
  ocs_ci/ocs/constants.py
Owners: @red-hat-storage/top-level-reviewers

Addressing Coady's comments: 1. Rename the temp variables 2. Seperate common code for report generation
  ocs_ci/framework/main.py
Owners: @red-hat-storage/top-level-reviewers

Add documentation example for passing common config to all clusters
  docs/usage.md
Owners: @red-hat-storage/top-level-reviewers

change the index name of the es server
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

fix test selection based on squad marks
  ocs_ci/framework/pytest_customization/ocscilib.py
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

one more fix of ES host name
  tests/e2e/performance/test_small_file_workload.py
Owners: @red-hat-storage/grey-squad

load region and addon_name from config
  conf/ocsci/rosa.yaml
  ocs_ci/utility/rosa.py
Owners: @red-hat-storage/top-level-reviewers

update doc
  docs/supported_platforms.md
Owners: @red-hat-storage/top-level-reviewers

update toolbox creation for managed services
  tests/conftest.py
Owners: @red-hat-storage/top-level-reviewers

update ODF addon installation
  ocs_ci/deployment/rosa.py
Owners: @red-hat-storage/top-level-reviewers

Fix the RGW endpoint for S3 operations
  ocs_ci/ocs/resources/objectbucket.py
Owners: @red-hat-storage/top-level-reviewers

Fix the RGW endpoint for S3 operations (#5011)
  ocs_ci/ocs/resources/objectbucket.py
Owners: @red-hat-storage/top-level-reviewers

Fix the RGW endpoint for S3 operations (#5011)
  ocs_ci/ocs/resources/objectbucket.py
Owners: @red-hat-storage/top-level-reviewers

Limit MCG UI tests based on OCP version (#4947)
  tests/manage/mcg/ui/test_mcg_ui.py
Owners: @red-hat-storage/red-squad

Limit MCG UI tests based on OCP version (#4947)
  tests/manage/mcg/ui/test_mcg_ui.py
Owners: @red-hat-storage/red-squad

Skip MCG cloud tests when running on a disconnected cluster
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

adding a new test_bulk_pod_attachtime_performance test
  tests/e2e/performance/test_bulk_pod_attachtime_performance.py
Owners: @red-hat-storage/grey-squad

Skip the test 'test_multiple_mon_pod_stays_on_same_node' if the cluster is not LSO (#4961)
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/brown-squad

Skip the test 'test_multiple_mon_pod_stays_on_same_node' if the cluster is not LSO (#4961)
  tests/manage/z_cluster/test_multiple_mon_pods_stays_on_same_node.py
Owners: @red-hat-storage/brown-squad

Replace test skipping with removal
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

Fix condition
  tests/manage/mcg/conftest.py
Owners: @red-hat-storage/red-squad

Multicluster configuration context management (#4875)
  docs/usage.md
  ocs_ci/framework/__init__.py
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/framework/tests/test_config.py
  ocs_ci/framework/tests/test_main.py
  ocs_ci/utility/aws.py
Owners: @red-hat-storage/top-level-reviewers
