Repository red-hat-storage/ocs-ci, pull requests merged in 2019-09, with the labels that each got.

#671 Various fixes and improvements for NooBaa tests
  ocs_ci/ocs/resources/noobaa.py
  tests/manage/noobaa/conftest.py
  tests/manage/noobaa/test_bucket_creation.py
  tests/manage/noobaa/test_bucket_deletion.py
  tests/manage/noobaa/test_write_to_bucket.py
Labels: Verified, team/manage

#658 Monitor quorum alert test case
  ocs_ci/ocs/constants.py
  ocs_ci/utility/prometheus.py
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/prometheus/test_deployment_status.py
Labels: Test Case

#681 Order tier levels
  tests/e2e/test_io_performance.py
  tests/e2e/test_jenkins_simulation.py
  tests/e2e/test_pgsql.py
  tests/e2e/test_pvc_creation_performance.py
  tests/e2e/test_small_file_workload.py
  tests/manage/pv_services/test_pvc_concurrent_deletion_creation.py
  tests/manage/storageclass/test_create_multiple_sc_with_different_pool_name.py
  tests/manage/storageclass/test_create_multiple_sc_with_same_pool_name.py
Labels: High Priority, Verified, enhancement

#654 Move Ceph to the new version
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/templates/ocs-deployment/cluster.yaml
Labels: Verified, team/ecosystem

#672 Modifying tests to use RWX PVC
  tests/conftest.py
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Labels: Test Case, Verified, enhancement, team/manage

#594 Infrastructure for blocking AWS availability zones
  ocs_ci/utility/aws.py
  ocs_ci/utility/tests/__init__.py
Labels: team/manage

#683 Add option to create a bucket on a specific region
  ocs_ci/ocs/resources/noobaa.py
Labels: enhancement, team/manage

#639 No space left test case
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pod.py
  tests/helpers.py
  tests/manage/pv_services/test_no_space_left.py
Labels: Test Case, Verified, team/manage

#584 Testing basics of RBD RWX raw block pv support:OSC-750 and OCS-751
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/resources/pvc.py
  ocs_ci/templates/app-pods/raw_block_pod.yaml
  tests/conftest.py
  tests/fixtures.py
  tests/helpers.py
  tests/manage/pv_services/test_raw_block_pv.py
Labels: Test Case, Verified, team/manage

#686 Update test_pvc_disruptive to use RWX PVC
  tests/manage/pv_services/test_pvc_disruptive.py
Labels: Test Case, Verified, enhancement, team/manage

#691 Refactor 'NooBaa' to 'MCG'
  ocs_ci/ocs/resources/mcg.py
  tests/helpers.py
  tests/manage/mcg/__init__.py
  tests/manage/mcg/conftest.py
  tests/manage/mcg/test_bucket_creation.py
  tests/manage/mcg/test_bucket_deletion.py
  tests/manage/mcg/test_write_to_bucket.py
Labels: Verified, documentation, team/manage

#688 Wa pg bug
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/resources/pod.py
Labels: workaround

#640 Deployment using ocs operator
  conf/ocsci/deploy_with_operator.yaml
  conf/ocsci/downstream_config.yaml
  ocs_ci/deployment/aws.py
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/defaults.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/csv.py
  ocs_ci/templates/ocs-deployment/deviceset.yaml
  ocs_ci/utility/templating.py
Labels: Verified

#694 Enable OCS deployment via operator by default
  conf/ocsci/deploy_with_operator.yaml
  conf/ocsci/deploy_without_operator.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
Labels: Verified, team/ecosystem

#693 Test case enhancement test_resource_deletion_during_pvc_pod_creation_…
  tests/conftest.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_creation_and_io.py
Labels: Test Case, Verified, enhancement, team/manage

#648 Fix for test_pvc_delete_verify_size_is_returned_to_backendpool
  ocs_ci/ocs/resources/pvc.py
  tests/manage/pv_services/test_pvc_delete_verify_size_is_returned_to_backendpool.py
Labels: Verified, bug, team/manage

#670 Adding functions for knip-678 (OCS Automated recovery from failed Nodes)
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/machine.py
Labels: team/manage

#679 More maintenance tests and improvements to nodes tests
  ocs_ci/ocs/cluster.py
  ocs_ci/ocs/node.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/utility/aws.py
  tests/conftest.py
  tests/manage/cluster/nodes/conftest.py
  tests/manage/cluster/nodes/test_disk_failures.py
  tests/manage/cluster/nodes/test_nodes_maintenance.py
  tests/manage/cluster/nodes/test_nodes_restart.py
  tests/sanity_helpers.py
Labels: Test Case, Verified, team/manage

#704 Test case test_verify_rwo_using_multiple_pods
  tests/manage/pv_services/test_verify_rwo_using_multiple_pods.py
Labels: Test Case, Verified, team/manage

#714 Update test case to pass interface parameter to pod_factory
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Labels: Test Case, enhancement, team/manage

#692 Added ocs_must_gather_image to downstream config
  conf/ocsci/downstream_config.yaml
Labels: Verified, team/ecosystem

#716 Increase ThreadPoolExecutor max_workers in test test_disruptive_during_pod…
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Labels: Test Case, enhancement, team/manage

#697 Add produciton config for AWS IPI with m5.4xlarge
  conf/ocsci/production-aws-ipi.yaml
Labels: Verified

#724 fix ocs_operator_storage_cluster_cr url
  ocs_ci/framework/conf/default_config.yaml
Labels: Needs Deployment Testing

#675 PGSQL- Fixed storageclass name and add pod status check
  ocs_ci/templates/workloads/pgsql/server/StatefulSet.yaml
  tests/e2e/test_pgsql.py
Labels: Verified, team/e2e

#667 Add factory fixture for deploymentconfig pod
  ocs_ci/ocs/constants.py
  ocs_ci/templates/app-pods/fedora_dc.yaml
  tests/conftest.py
  tests/fixtures.py
  tests/helpers.py
  tests/manage/pv_services/test_run_io_multiple_dc_pods.py
Labels: Needs Testing, Verified, enhancement, team/manage

#633 Logging improvements for ocs 530
  ocs_ci/ocs/ocp.py
  tests/helpers.py
Labels: High Priority

#685 Testcase OCS-657 for openshift-logging
  ocs_ci/ocs/constants.py
  ocs_ci/utility/deployment_openshift_logging.py
  tests/e2e/logging/test_openshift-logging.py
Labels: Test Case, Verified, team/e2e

#703 Add factory fixture at class scope
  tests/conftest.py
Labels: Verified

#730 cleanup deploy and destroy tests
  bin/README.md
  ocs_ci/utility/utils.py
  tests/ecosystem/deployment/test_deployment.py
  tests/ecosystem/deployment/test_ocs_basic_install.py
  tests/ecosystem/destroy/__init__.py
  tests/ecosystem/destroy/test_destroy_cluster.py
Labels: Verified, team/ecosystem

#743 Not create cephfs when deploying via operator
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/defaults.py
  ocs_ci/templates/CSI/cephfs/CephFileSystem.yaml
Labels: Verified, team/ecosystem

#739 Fix for method backed_sc in ocs_ci/ocs/resources/pvc.py
  ocs_ci/ocs/resources/pvc.py
Labels: Code/Infra

#726 Change name of load_yaml_to_dict method to load_yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/ocs/monitoring.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/pod.py
  ocs_ci/ocs/ripsaw.py
  ocs_ci/ocs/tests/test_defaults.py
  ocs_ci/utility/deployment_openshift_logging.py
  ocs_ci/utility/templating.py
  tests/e2e/test_pgsql.py
  tests/e2e/test_small_file_workload.py
  tests/helpers.py
  tests/libtest/test_fio_workload.py
  tests/manage/pv_services/test_pvc_invalid_inputs.py
  tests/manage/storageclass/test_create_storageclass_with_same_name.py
  tests/manage/storageclass/test_storageclass_invalid.py
  tests/manage/storageclass/test_verify_all_fields_in_sc_yaml_with_oc_describe_sc.py
Labels: Verified

#717 Tests to verify that PVC creation will not succeed with invalid acces…
  tests/manage/pv_services/test_create_pvc_invalid_access_mode.py
Labels: Test Case, Verified, team/manage

#706 Adjust prometheus tests to changes in sanity helpers
  tests/e2e/monitoring/test_when_one_of_the_prometheus_node_down.py
Labels: Verified

#752 Skip TestCephFilesystemCreation due to bz 1752286
  tests/manage/cluster/test_add_mds_to_cluster.py
Labels: Verified

#713 Deploy via downstream ocs operator
  conf/ocsci/downstream_config.yaml
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/defaults.py
  ocs_ci/ocs/exceptions.py
  ocs_ci/ocs/ocp.py
  ocs_ci/ocs/resources/csv.py
  ocs_ci/ocs/resources/ocs.py
  ocs_ci/ocs/resources/packagemanifest.py
  ocs_ci/utility/templating.py
  ocs_ci/utility/utils.py
Labels: Verified, team/ecosystem

#741 Enhancement for the uninstall_openshift_logging
  ocs_ci/ocs/constants.py
  ocs_ci/utility/uninstall_openshift_logging.py
Labels: Verified, team/e2e

#771 Verbose output of nodes
  ocs_ci/deployment/deployment.py
Labels: team/ecosystem

#765 Add ssh key for OCP deployment
  ocs_ci/deployment/ocp.py
  ocs_ci/framework/conf/default_config.yaml
Labels: Verified, team/ecosystem

#768 Issue 767 test decorators
  tests/manage/pv_services/test_dynamic_pvc_accessmodes_with_reclaim_policies.py
Labels: Verified

#760 Fix for issue 524
  tests/manage/pv_services/test_create_pvc_random_storage_class.py
Labels: High Priority, Verified, bug, team/manage

#731 Adding test cases OCS-1009 and OCS-1018
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pod.py
  tests/disruption_helpers.py
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Labels: Test Case, Verified, team/manage

#652 Upgrade the default worker instance type from m4.large to m4.xlarge
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/templates/ocp-deployment/install-config-aws-ipi.yaml.j2
Labels: Needs Deployment Testing

#590 patch sc as non-default based on platform
  ocs_ci/deployment/deployment.py
  ocs_ci/deployment/factory.py
  ocs_ci/deployment/vmware.py
  ocs_ci/ocs/constants.py
Labels: Verified

#722 Move Ceph to v14.2.3-20190904 in default config
  ocs_ci/framework/conf/default_config.yaml
Labels: Verified, team/ecosystem

#766 test_ocs_1012_1015
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Labels: Test Case, Verified, team/manage

#758 Fix for varying_ceph_size in backend_pool test
  ocs_ci/ocs/cluster.py
  tests/manage/pv_services/test_pvc_delete_verify_size_is_returned_to_backendpool.py
Labels: High Priority, Verified, bug, team/manage

#775 test_pvc_disruptive new test cases and enhancement
  tests/manage/pv_services/test_pvc_disruptive.py
Labels: Test Case, Verified, team/manage

#756 Add Raises to the doc for CSV wait_for_phase method
  ocs_ci/ocs/resources/csv.py
Labels: Verified, bug, team/ecosystem

#773 Tests OCS-1010 OCS-1011
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_creation_and_io.py
Labels: Test Case, Verified, team/manage

#746 Fix pgsql test
  ocs_ci/ocs/ripsaw.py
  tests/e2e/test_pgsql.py
Labels: Needs Testing, Verified, team/e2e

#790 Fixes the ocs-ci tier2 failure due to leftover PVs in Test case test_pvc_concurrent_deletion_creation.py
  tests/manage/pv_services/test_pvc_concurrent_deletion_creation.py
Labels: Verified, bug, team/manage

#695 OCS-710: OCP monitoring backed by OCS, Reboot node where MGR is running
  ocs_ci/ocs/monitoring.py
  tests/e2e/monitoring/test_reboot_node_where_mgr_running.py
Labels: Test Case, team/e2e

#736 pvc scale in parallel with ceph pods re-spin test cases
  tests/disruption_helpers.py
  tests/e2e/test_pv_scale_and_respin_ceph_pods.py
  tests/helpers.py
Labels: Test Case, Verified, team/e2e

#793 Adding test cases OCS-945 OCS-952
  ocs_ci/ocs/resources/pod.py
  tests/disruption_helpers.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_creation_and_io.py
Labels: Test Case, Verified, team/manage

#780 Prevent deployment according to cluster name prefix
  ocs_ci/deployment/aws.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/exceptions.py
Labels: RFE, Verified, team/ecosystem

#794 Adding tests in test_pvc_disruptive
  tests/manage/pv_services/test_pvc_disruptive.py
Labels: Test Case, Verified, team/manage

#789 Allow running node related tests on any platform type
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/platform_nodes.py
  ocs_ci/ocs/resources/pvc.py
  ocs_ci/utility/aws.py
  tests/conftest.py
  tests/helpers.py
  tests/manage/cluster/nodes/test_disk_failures.py
Labels: Verified, team/e2e, team/manage

#796 Remove fixed version for DS deployment
  conf/ocsci/downstream_config.yaml
Labels: Verified, team/ecosystem

#801 Allow deployment for existing name prefix cluster if the instances are Terminated
  ocs_ci/deployment/aws.py
  ocs_ci/ocs/constants.py
Labels: Verified

#719 OCS-709 - OCP monitoring backed by OCS, reboot master node
  tests/e2e/monitoring/test_monitoring_after_reboot_master_node.py
Labels: Test Case, team/e2e

#797 Adding test cases OCS-946 and OCS-953
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_deletion_and_io.py
Labels: Needs Testing, Test Case, team/manage

#718 CMG OC and CLI tests
  ocs_ci/framework/pytest_customization/marks.py
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/mcg.py
  ocs_ci/ocs/resources/mcg_bucket.py
  ocs_ci/templates/mcg/ObjectBucketClaim.yaml
  ocs_ci/utility/utils.py
  tests/manage/mcg/conftest.py
  tests/manage/mcg/test_bucket_creation.py
  tests/manage/mcg/test_bucket_deletion.py
  tests/manage/mcg/test_write_to_bucket.py
Labels: Needs Testing, Test Case, Verified, team/manage

#809 Fix error message for non terminated instances
  ocs_ci/deployment/aws.py
Labels: Verified

#786 Allow ocsci-conf read multiple conf files
  conf/ocsci/skip_ocp_deploy.yaml
  conf/ocsci/skip_ocs_deploy.yaml
  docs/usage.md
  ocs_ci/framework/main.py
  ocs_ci/framework/pytest_customization/ocscilib.py
  ocs_ci/framework/tests/test_main.py
Labels: team/ecosystem

#772 Add documentation for SSH key deployment
  docs/README.md
  docs/debugging.md
  docs/getting_started.md
Labels: documentation, team/ecosystem

#805 update pytest-marker-bugzilla that includes additional fix
  setup.py
Labels: Verified

#750 Respin Ceph pods while running pgsql workload
  tests/e2e/test_pgsql_pod_respin.py
Labels: Verified, team/e2e

#479 Deploying cluster with persistent storage for monitoring pods
  ocs_ci/deployment/deployment.py
  ocs_ci/framework/conf/default_config.yaml
  ocs_ci/ocs/monitoring.py
  ocs_ci/ocs/resources/pod.py
Labels: enhancement

#800 Include deployment platform and type in email subject for
  ocs_ci/utility/utils.py
Labels: Verified

#795 Additional tests in test_disruptive_during_pod_pvc_deletion
  tests/manage/pv_services/test_resource_deletion_during_pod_pvc_deletion.py
Labels: Test Case, Verified, team/manage

#781 tests/e2e/test_pv_scale_ocs_create_delete_pvcs.py -- Enhanced
  tests/e2e/test_pv_scale_ocs_create_delete_pvcs.py
Labels: Test Case, Verified, team/e2e

#829 Tests OCS-929 OCS-933
  ocs_ci/ocs/constants.py
  ocs_ci/ocs/resources/pod.py
  tests/disruption_helpers.py
  tests/manage/pv_services/test_resource_deletion_during_pvc_pod_creation_and_io.py
Labels: Needs Testing, Test Case, team/manage

#787 Stop osd test case
  ocs_ci/ocs/constants.py
  tests/manage/monitoring/conftest.py
  tests/manage/monitoring/prometheus/test_deployment_status.py
Labels: Test Case

#732 Implementation of OCS-1321: Test mcg object integrity
  ocs_ci/ocs/resources/mcg.py
  tests/manage/mcg/test_object_integrity.py
Labels: Test Case, Verified, team/manage
